<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wdj_pizhang_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,591},{144,247}}</string>
                <key>offset</key>
                <string>{-19,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{144,247}}</string>
                <key>sourceSize</key>
                <string>{202,275}</string>
            </dict>
            <key>wdj_pizhang_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{146,247}}</string>
                <key>offset</key>
                <string>{-22,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{146,247}}</string>
                <key>sourceSize</key>
                <string>{202,275}</string>
            </dict>
            <key>wdj_pizhang_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,737},{152,243}}</string>
                <key>offset</key>
                <string>{-25,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{152,243}}</string>
                <key>sourceSize</key>
                <string>{202,275}</string>
            </dict>
            <key>wdj_pizhang_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,192},{150,239}}</string>
                <key>offset</key>
                <string>{-26,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{150,239}}</string>
                <key>sourceSize</key>
                <string>{202,275}</string>
            </dict>
            <key>wdj_pizhang_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{116,247}}</string>
                <key>offset</key>
                <string>{-30,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{116,247}}</string>
                <key>sourceSize</key>
                <string>{202,275}</string>
            </dict>
            <key>wdj_pizhang_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{188,239}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,19},{188,239}}</string>
                <key>sourceSize</key>
                <string>{202,275}</string>
            </dict>
            <key>wdj_pizhang_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,344},{186,245}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{186,245}}</string>
                <key>sourceSize</key>
                <string>{202,275}</string>
            </dict>
            <key>wdj_pizhang_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{186,265}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{186,265}}</string>
                <key>sourceSize</key>
                <string>{202,275}</string>
            </dict>
            <key>wdj_pizhang_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,267}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{186,267}}</string>
                <key>sourceSize</key>
                <string>{202,275}</string>
            </dict>
            <key>wdj_pizhang_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{168,257}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{168,257}}</string>
                <key>sourceSize</key>
                <string>{202,275}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wdj_pizhang.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e5907883195b990a7571357d1cf9e98$</string>
            <key>textureFileName</key>
            <string>wdj_pizhang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
