<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wdj_a1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{152,253}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{152,253}}</string>
                <key>sourceSize</key>
                <string>{190,253}</string>
            </dict>
            <key>wdj_a1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,516},{152,245}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{152,245}}</string>
                <key>sourceSize</key>
                <string>{190,253}</string>
            </dict>
            <key>wdj_a1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,738},{190,235}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{190,235}}</string>
                <key>sourceSize</key>
                <string>{190,253}</string>
            </dict>
            <key>wdj_a1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,248},{162,241}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{162,241}}</string>
                <key>sourceSize</key>
                <string>{190,253}</string>
            </dict>
            <key>wdj_a1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,248},{174,244}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{174,244}}</string>
                <key>sourceSize</key>
                <string>{224,252}</string>
            </dict>
            <key>wdj_a1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,242},{178,232}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{178,232}}</string>
                <key>sourceSize</key>
                <string>{224,252}</string>
            </dict>
            <key>wdj_a1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,727},{220,228}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{220,228}}</string>
                <key>sourceSize</key>
                <string>{224,252}</string>
            </dict>
            <key>wdj_a1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{182,252}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,252}}</string>
                <key>sourceSize</key>
                <string>{224,252}</string>
            </dict>
            <key>wdj_a1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,218},{150,222}}</string>
                <key>offset</key>
                <string>{-12,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{150,222}}</string>
                <key>sourceSize</key>
                <string>{174,260}</string>
            </dict>
            <key>wdj_a1_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{174,214}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,43},{174,214}}</string>
                <key>sourceSize</key>
                <string>{174,260}</string>
            </dict>
            <key>wdj_a1_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,258}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,258}}</string>
                <key>sourceSize</key>
                <string>{174,260}</string>
            </dict>
            <key>wdj_a1_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{162,238}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{162,238}}</string>
                <key>sourceSize</key>
                <string>{174,260}</string>
            </dict>
            <key>wdj_a1_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,262},{170,252}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{170,252}}</string>
                <key>sourceSize</key>
                <string>{174,260}</string>
            </dict>
            <key>wdj_a1_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{164,244}}</string>
                <key>offset</key>
                <string>{-46,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,244}}</string>
                <key>sourceSize</key>
                <string>{256,250}</string>
            </dict>
            <key>wdj_a1_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,491},{156,234}}</string>
                <key>offset</key>
                <string>{-43,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{156,234}}</string>
                <key>sourceSize</key>
                <string>{256,250}</string>
            </dict>
            <key>wdj_a1_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,494},{242,218}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,26},{242,218}}</string>
                <key>sourceSize</key>
                <string>{256,250}</string>
            </dict>
            <key>wdj_a1_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,771},{248,216}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,28},{248,216}}</string>
                <key>sourceSize</key>
                <string>{256,250}</string>
            </dict>
            <key>wdj_a1_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{244,220}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,24},{244,220}}</string>
                <key>sourceSize</key>
                <string>{256,250}</string>
            </dict>
            <key>wdj_a1_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,763},{194,244}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{194,244}}</string>
                <key>sourceSize</key>
                <string>{256,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wdj_atk.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84c90fa4138fbd251e63e86ed18d2864$</string>
            <key>textureFileName</key>
            <string>wdj_atk.pvr.ccz</string>
        </dict>
    </dict>
</plist>
