<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wdj_air_hit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,679},{187,213}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,213}}</string>
                <key>sourceSize</key>
                <string>{205,213}</string>
            </dict>
            <key>wdj_air_hit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,894},{199,119}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,92},{199,119}}</string>
                <key>sourceSize</key>
                <string>{205,213}</string>
            </dict>
            <key>wdj_head_hit_fall_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{149,250}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{149,250}}</string>
                <key>sourceSize</key>
                <string>{235,274}</string>
            </dict>
            <key>wdj_head_hit_fall_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,442},{163,206}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,36},{163,206}}</string>
                <key>sourceSize</key>
                <string>{235,274}</string>
            </dict>
            <key>wdj_head_hit_fall_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,239},{149,222}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,23},{149,222}}</string>
                <key>sourceSize</key>
                <string>{235,274}</string>
            </dict>
            <key>wdj_head_hit_fall_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,254},{147,238}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,11},{147,238}}</string>
                <key>sourceSize</key>
                <string>{235,274}</string>
            </dict>
            <key>wdj_head_hit_fall_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,494},{147,224}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,28},{147,224}}</string>
                <key>sourceSize</key>
                <string>{235,274}</string>
            </dict>
            <key>wdj_head_hit_fall_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{163,250}}</string>
                <key>offset</key>
                <string>{-14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,5},{163,250}}</string>
                <key>sourceSize</key>
                <string>{235,274}</string>
            </dict>
            <key>wdj_head_hit_fall_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,226},{187,214}}</string>
                <key>offset</key>
                <string>{-22,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,42},{187,214}}</string>
                <key>sourceSize</key>
                <string>{235,274}</string>
            </dict>
            <key>wdj_head_hit_fall_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,2},{199,118}}</string>
                <key>offset</key>
                <string>{-10,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,136},{199,118}}</string>
                <key>sourceSize</key>
                <string>{235,274}</string>
            </dict>
            <key>wdj_head_hit_fall_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,463},{221,92}}</string>
                <key>offset</key>
                <string>{-2,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,163},{221,92}}</string>
                <key>sourceSize</key>
                <string>{235,274}</string>
            </dict>
            <key>wdj_head_hit_fall_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{235,98}}</string>
                <key>offset</key>
                <string>{0,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,176},{235,98}}</string>
                <key>sourceSize</key>
                <string>{235,274}</string>
            </dict>
            <key>wdj_waist_hit_fall_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,2},{141,222}}</string>
                <key>offset</key>
                <string>{-13,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,9},{141,222}}</string>
                <key>sourceSize</key>
                <string>{235,266}</string>
            </dict>
            <key>wdj_waist_hit_fall_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{139,214}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,18},{139,214}}</string>
                <key>sourceSize</key>
                <string>{235,266}</string>
            </dict>
            <key>wdj_waist_hit_fall_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,686},{141,220}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,16},{141,220}}</string>
                <key>sourceSize</key>
                <string>{235,266}</string>
            </dict>
            <key>wdj_waist_hit_fall_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{149,226}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,14},{149,226}}</string>
                <key>sourceSize</key>
                <string>{235,266}</string>
            </dict>
            <key>wdj_waist_hit_fall_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,756},{155,224}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,20},{155,224}}</string>
                <key>sourceSize</key>
                <string>{235,266}</string>
            </dict>
            <key>wdj_waist_hit_fall_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{167,248}}</string>
                <key>offset</key>
                <string>{-15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{167,248}}</string>
                <key>sourceSize</key>
                <string>{235,266}</string>
            </dict>
            <key>wdj_waist_hit_fall_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,463},{187,214}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,34},{187,214}}</string>
                <key>sourceSize</key>
                <string>{235,266}</string>
            </dict>
            <key>wdj_waist_hit_fall_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,218},{199,118}}</string>
                <key>offset</key>
                <string>{-10,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,128},{199,118}}</string>
                <key>sourceSize</key>
                <string>{235,266}</string>
            </dict>
            <key>wdj_waist_hit_fall_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,720},{221,92}}</string>
                <key>offset</key>
                <string>{-2,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,155},{221,92}}</string>
                <key>sourceSize</key>
                <string>{235,266}</string>
            </dict>
            <key>wdj_waist_hit_fall_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{235,98}}</string>
                <key>offset</key>
                <string>{0,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,168},{235,98}}</string>
                <key>sourceSize</key>
                <string>{235,266}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wdj_down.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6b105ea16bd48c44c769c3a76197de7$</string>
            <key>textureFileName</key>
            <string>wdj_down.pvr.ccz</string>
        </dict>
    </dict>
</plist>
