<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>UI resource/common/bottom_9 .png</key>
			<dict>
				<key>width</key>
				<integer>260</integer>
				<key>height</key>
				<integer>260</integer>
				<key>originalWidth</key>
				<integer>260</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>UI resource/stage_select/chapter_1.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>134</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>262</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>UI resource/stage_select/chapter_1_down.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>134</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>398</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>UI resource/stage_select/chapter_2.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>134</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>534</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>UI resource/stage_select/chapter_2_down.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>134</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>670</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>UI resource/common/closd_normal.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>45</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>806</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>UI resource/common/closed_light.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>45</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>853</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>UI resource/common/closed_grey.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>45</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>900</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>UI resource/property/property_bar.png</key>
			<dict>
				<key>width</key>
				<integer>373</integer>
				<key>height</key>
				<integer>5</integer>
				<key>originalWidth</key>
				<integer>373</integer>
				<key>originalHeight</key>
				<integer>5</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>262</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>UI resource/stage_select/stage_name.png</key>
			<dict>
				<key>width</key>
				<integer>273</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>273</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>375</integer>
				<key>y</key>
				<integer>262</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>UI resource/stage_select/item_back.png</key>
			<dict>
				<key>width</key>
				<integer>406</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>406</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>295</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>UI resource/stage_select/item.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>64</integer>
				<key>x</key>
				<integer>408</integer>
				<key>y</key>
				<integer>295</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>UI resource/stage_select/level_back.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>64</integer>
				<key>x</key>
				<integer>474</integer>
				<key>y</key>
				<integer>295</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>UI resource/stage_select/level_select.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>540</integer>
				<key>y</key>
				<integer>295</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>UI resource/stage_select/fight.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>61</integer>
				<key>x</key>
				<integer>574</integer>
				<key>y</key>
				<integer>295</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>UI resource/stage_select/fight_down.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>61</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>385</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>wuhun_UI0.png</string>
			<key>realTextureFileName</key>
			<string>wuhun_UI0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>