<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wdj_skill6_1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{154,258}}</string>
                <key>offset</key>
                <string>{-23,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{154,258}}</string>
                <key>sourceSize</key>
                <string>{234,282}</string>
            </dict>
            <key>wdj_skill6_1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,260}}</string>
                <key>offset</key>
                <string>{-27,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{162,260}}</string>
                <key>sourceSize</key>
                <string>{234,282}</string>
            </dict>
            <key>wdj_skill6_1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{172,256}}</string>
                <key>offset</key>
                <string>{-31,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{172,256}}</string>
                <key>sourceSize</key>
                <string>{234,282}</string>
            </dict>
            <key>wdj_skill6_1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,264},{168,244}}</string>
                <key>offset</key>
                <string>{-30,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{168,244}}</string>
                <key>sourceSize</key>
                <string>{234,282}</string>
            </dict>
            <key>wdj_skill6_1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{196,224}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,37},{196,224}}</string>
                <key>sourceSize</key>
                <string>{234,282}</string>
            </dict>
            <key>wdj_skill6_1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,446},{214,192}}</string>
                <key>offset</key>
                <string>{8,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,89},{214,192}}</string>
                <key>sourceSize</key>
                <string>{234,282}</string>
            </dict>
            <key>wdj_skill6_1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,728},{214,192}}</string>
                <key>offset</key>
                <string>{8,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,90},{214,192}}</string>
                <key>sourceSize</key>
                <string>{234,282}</string>
            </dict>
            <key>wdj_skill6_1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,510},{216,194}}</string>
                <key>offset</key>
                <string>{9,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,88},{216,194}}</string>
                <key>sourceSize</key>
                <string>{234,282}</string>
            </dict>
            <key>wdj_skill6_1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,228},{216,192}}</string>
                <key>offset</key>
                <string>{8,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,90},{216,192}}</string>
                <key>sourceSize</key>
                <string>{234,282}</string>
            </dict>
            <key>wdj_skill6_1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{214,192}}</string>
                <key>offset</key>
                <string>{8,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,89},{214,192}}</string>
                <key>sourceSize</key>
                <string>{234,282}</string>
            </dict>
            <key>wdj_skill6_1_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{188,230}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,42},{188,230}}</string>
                <key>sourceSize</key>
                <string>{234,282}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wdj_sp1.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3726f79a930ad4266d14a739742f4748$</string>
            <key>textureFileName</key>
            <string>wdj_sp1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
