<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wdj_cxfq_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{190,201}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,21},{190,201}}</string>
                <key>sourceSize</key>
                <string>{216,273}</string>
            </dict>
            <key>wdj_cxfq_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,392},{216,189}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{216,189}}</string>
                <key>sourceSize</key>
                <string>{216,273}</string>
            </dict>
            <key>wdj_cxfq_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,583},{130,207}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,25},{130,207}}</string>
                <key>sourceSize</key>
                <string>{216,273}</string>
            </dict>
            <key>wdj_cxfq_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{156,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,22},{156,227}}</string>
                <key>sourceSize</key>
                <string>{216,273}</string>
            </dict>
            <key>wdj_cxfq_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{120,215}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,19},{120,215}}</string>
                <key>sourceSize</key>
                <string>{216,273}</string>
            </dict>
            <key>wdj_cxfq_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,274},{116,245}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,24},{116,245}}</string>
                <key>sourceSize</key>
                <string>{216,273}</string>
            </dict>
            <key>wdj_cxfq_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{126,237}}</string>
                <key>offset</key>
                <string>{-10,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,3},{126,237}}</string>
                <key>sourceSize</key>
                <string>{216,273}</string>
            </dict>
            <key>wdj_cxfq_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,267}}</string>
                <key>offset</key>
                <string>{-14,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,1},{150,267}}</string>
                <key>sourceSize</key>
                <string>{216,273}</string>
            </dict>
            <key>wdj_cxfq_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{164,255}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{164,255}}</string>
                <key>sourceSize</key>
                <string>{216,273}</string>
            </dict>
            <key>wdj_cxfq_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,130},{142,233}}</string>
                <key>offset</key>
                <string>{16,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,5},{142,233}}</string>
                <key>sourceSize</key>
                <string>{216,273}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wdj_cxfq.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37dd2e72fdb85e1072382091d6bd872f$</string>
            <key>textureFileName</key>
            <string>wdj_cxfq.pvr.ccz</string>
        </dict>
    </dict>
</plist>
