<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wdj_skill3_1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,292},{164,258}}</string>
                <key>offset</key>
                <string>{-28,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,44},{164,258}}</string>
                <key>sourceSize</key>
                <string>{250,302}</string>
            </dict>
            <key>wdj_skill3_1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{166,266}}</string>
                <key>offset</key>
                <string>{-27,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,36},{166,266}}</string>
                <key>sourceSize</key>
                <string>{250,302}</string>
            </dict>
            <key>wdj_skill3_1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{184,264}}</string>
                <key>offset</key>
                <string>{-33,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{184,264}}</string>
                <key>sourceSize</key>
                <string>{250,302}</string>
            </dict>
            <key>wdj_skill3_1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,288}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{186,288}}</string>
                <key>sourceSize</key>
                <string>{250,302}</string>
            </dict>
            <key>wdj_skill3_1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,504},{196,224}}</string>
                <key>offset</key>
                <string>{27,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,72},{196,224}}</string>
                <key>sourceSize</key>
                <string>{250,302}</string>
            </dict>
            <key>wdj_skill3_1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{196,230}}</string>
                <key>offset</key>
                <string>{27,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,66},{196,230}}</string>
                <key>sourceSize</key>
                <string>{250,302}</string>
            </dict>
            <key>wdj_skill3_1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,808},{196,240}}</string>
                <key>offset</key>
                <string>{27,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,56},{196,240}}</string>
                <key>sourceSize</key>
                <string>{250,302}</string>
            </dict>
            <key>wdj_skill3_1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{196,248}}</string>
                <key>offset</key>
                <string>{27,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,48},{196,248}}</string>
                <key>sourceSize</key>
                <string>{250,302}</string>
            </dict>
            <key>wdj_skill3_1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,254},{170,248}}</string>
                <key>offset</key>
                <string>{14,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,47},{170,248}}</string>
                <key>sourceSize</key>
                <string>{250,302}</string>
            </dict>
            <key>wdj_skill3_1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{166,250}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,45},{166,250}}</string>
                <key>sourceSize</key>
                <string>{250,302}</string>
            </dict>
            <key>wdj_skill3_1_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,552},{152,254}}</string>
                <key>offset</key>
                <string>{-12,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,48},{152,254}}</string>
                <key>sourceSize</key>
                <string>{250,302}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wdj_xiayatui.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53adc7b141e40ddddf84c74df35ec363$</string>
            <key>textureFileName</key>
            <string>wdj_xiayatui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
