<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wdj_cfsq_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{178,216}}</string>
                <key>offset</key>
                <string>{-20,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{178,216}}</string>
                <key>sourceSize</key>
                <string>{218,264}</string>
            </dict>
            <key>wdj_cfsq_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{164,212}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{164,212}}</string>
                <key>sourceSize</key>
                <string>{218,264}</string>
            </dict>
            <key>wdj_cfsq_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{134,226}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,18},{134,226}}</string>
                <key>sourceSize</key>
                <string>{218,264}</string>
            </dict>
            <key>wdj_cfsq_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,268},{134,234}}</string>
                <key>offset</key>
                <string>{-17,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{134,234}}</string>
                <key>sourceSize</key>
                <string>{218,264}</string>
            </dict>
            <key>wdj_cfsq_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,780},{114,210}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,25},{114,210}}</string>
                <key>sourceSize</key>
                <string>{218,264}</string>
            </dict>
            <key>wdj_cfsq_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,404},{124,228}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,20},{124,228}}</string>
                <key>sourceSize</key>
                <string>{218,264}</string>
            </dict>
            <key>wdj_cfsq_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{100,260}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,4},{100,260}}</string>
                <key>sourceSize</key>
                <string>{218,264}</string>
            </dict>
            <key>wdj_cfsq_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,262}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,1},{100,262}}</string>
                <key>sourceSize</key>
                <string>{218,264}</string>
            </dict>
            <key>wdj_cfsq_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{118,242}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,8},{118,242}}</string>
                <key>sourceSize</key>
                <string>{218,264}</string>
            </dict>
            <key>wdj_cfsq_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{132,260}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,0},{132,260}}</string>
                <key>sourceSize</key>
                <string>{218,264}</string>
            </dict>
            <key>wdj_cfsq_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{122,256}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,6},{122,256}}</string>
                <key>sourceSize</key>
                <string>{218,264}</string>
            </dict>
            <key>wdj_cfsq_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,530},{128,218}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,24},{128,218}}</string>
                <key>sourceSize</key>
                <string>{218,264}</string>
            </dict>
            <key>wdj_cfsq_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,122},{144,234}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,7},{144,234}}</string>
                <key>sourceSize</key>
                <string>{218,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wdj_cfsq.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee8e2ed69b17e60ed555190398cd8ff2$</string>
            <key>textureFileName</key>
            <string>wdj_cfsq.pvr.ccz</string>
        </dict>
    </dict>
</plist>
