<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wdj_blq_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,330},{156,251}}</string>
                <key>offset</key>
                <string>{-27,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{156,251}}</string>
                <key>sourceSize</key>
                <string>{226,261}</string>
            </dict>
            <key>wdj_blq_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,488},{150,251}}</string>
                <key>offset</key>
                <string>{-24,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{150,251}}</string>
                <key>sourceSize</key>
                <string>{226,261}</string>
            </dict>
            <key>wdj_blq_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,640},{216,231}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,28},{216,231}}</string>
                <key>sourceSize</key>
                <string>{226,261}</string>
            </dict>
            <key>wdj_blq_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,162},{166,239}}</string>
                <key>offset</key>
                <string>{-30,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{166,239}}</string>
                <key>sourceSize</key>
                <string>{226,261}</string>
            </dict>
            <key>wdj_blq_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{158,245}}</string>
                <key>offset</key>
                <string>{-27,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{158,245}}</string>
                <key>sourceSize</key>
                <string>{226,261}</string>
            </dict>
            <key>wdj_blq_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{216,253}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{216,253}}</string>
                <key>sourceSize</key>
                <string>{226,261}</string>
            </dict>
            <key>wdj_blq_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{194,255}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{194,255}}</string>
                <key>sourceSize</key>
                <string>{226,261}</string>
            </dict>
            <key>wdj_blq_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,259}}</string>
                <key>offset</key>
                <string>{-19,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{160,259}}</string>
                <key>sourceSize</key>
                <string>{226,261}</string>
            </dict>
            <key>wdj_blq_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,488},{150,251}}</string>
                <key>offset</key>
                <string>{-24,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{150,251}}</string>
                <key>sourceSize</key>
                <string>{226,261}</string>
            </dict>
            <key>wdj_blq_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,640},{216,231}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,28},{216,231}}</string>
                <key>sourceSize</key>
                <string>{226,261}</string>
            </dict>
            <key>wdj_blq_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{152,249}}</string>
                <key>offset</key>
                <string>{-25,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{152,249}}</string>
                <key>sourceSize</key>
                <string>{226,261}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wdj_blq.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08bafd1ab0126e580396268f604291ac$</string>
            <key>textureFileName</key>
            <string>wdj_blq.pvr.ccz</string>
        </dict>
    </dict>
</plist>
