<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wdj_sp2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{200,247}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{200,247}}</string>
                <key>sourceSize</key>
                <string>{208,291}</string>
            </dict>
            <key>wdj_sp2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,253}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,16},{114,253}}</string>
                <key>sourceSize</key>
                <string>{208,291}</string>
            </dict>
            <key>wdj_sp2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{158,251}}</string>
                <key>offset</key>
                <string>{23,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,11},{158,251}}</string>
                <key>sourceSize</key>
                <string>{208,291}</string>
            </dict>
            <key>wdj_sp2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{202,189}}</string>
                <key>offset</key>
                <string>{3,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,102},{202,189}}</string>
                <key>sourceSize</key>
                <string>{208,291}</string>
            </dict>
            <key>wdj_sp2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,251},{156,233}}</string>
                <key>offset</key>
                <string>{-20,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,39},{156,233}}</string>
                <key>sourceSize</key>
                <string>{208,291}</string>
            </dict>
            <key>wdj_sp2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,251},{150,245}}</string>
                <key>offset</key>
                <string>{-23,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,27},{150,245}}</string>
                <key>sourceSize</key>
                <string>{208,291}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wdj_sp2.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74bfa69caa2a70f2e1a32ab5faa9a0d7$</string>
            <key>textureFileName</key>
            <string>wdj_sp2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
