<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>city_npc_yuniang001.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,225},{215,223}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{215,223}}</string>
                <key>sourceSize</key>
                <string>{227,223}</string>
            </dict>
            <key>city_npc_yuniang002.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,221},{215,223}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{215,223}}</string>
                <key>sourceSize</key>
                <string>{227,223}</string>
            </dict>
            <key>city_npc_yuniang003.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,438},{213,223}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{213,223}}</string>
                <key>sourceSize</key>
                <string>{227,223}</string>
            </dict>
            <key>city_npc_yuniang004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{213,221}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{213,221}}</string>
                <key>sourceSize</key>
                <string>{227,223}</string>
            </dict>
            <key>city_npc_yuniang005.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,227},{215,221}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{215,221}}</string>
                <key>sourceSize</key>
                <string>{227,223}</string>
            </dict>
            <key>city_npc_yuniang006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,653},{219,221}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{219,221}}</string>
                <key>sourceSize</key>
                <string>{227,223}</string>
            </dict>
            <key>city_npc_yuniang007.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{223,223}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,223}}</string>
                <key>sourceSize</key>
                <string>{227,223}</string>
            </dict>
            <key>city_npc_yuniang008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{225,223}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,223}}</string>
                <key>sourceSize</key>
                <string>{227,223}</string>
            </dict>
            <key>city_npc_yuniang009.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{221,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{221,223}}</string>
                <key>sourceSize</key>
                <string>{227,223}</string>
            </dict>
            <key>city_npc_yuniang010.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,2},{217,223}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{217,223}}</string>
                <key>sourceSize</key>
                <string>{227,223}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>city_npc_07.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89f22612cc576f85c7e794753f8a4de7$</string>
            <key>textureFileName</key>
            <string>city_npc_07.pvr.ccz</string>
        </dict>
    </dict>
</plist>
