<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,426},{132,210}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{132,210}}</string>
                <key>sourceSize</key>
                <string>{136,210}</string>
            </dict>
            <key>npc4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,214},{132,210}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{132,210}}</string>
                <key>sourceSize</key>
                <string>{136,210}</string>
            </dict>
            <key>npc4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{134,210}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{134,210}}</string>
                <key>sourceSize</key>
                <string>{136,210}</string>
            </dict>
            <key>npc4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{136,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,210}}</string>
                <key>sourceSize</key>
                <string>{136,210}</string>
            </dict>
            <key>npc4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,210}}</string>
                <key>sourceSize</key>
                <string>{136,210}</string>
            </dict>
            <key>npc4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{134,210}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,210}}</string>
                <key>sourceSize</key>
                <string>{136,210}</string>
            </dict>
            <key>npc4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{134,210}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,210}}</string>
                <key>sourceSize</key>
                <string>{136,210}</string>
            </dict>
            <key>npc4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{132,210}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,210}}</string>
                <key>sourceSize</key>
                <string>{136,210}</string>
            </dict>
            <key>npc4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,850},{132,210}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,210}}</string>
                <key>sourceSize</key>
                <string>{136,210}</string>
            </dict>
            <key>npc4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,850},{130,210}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,210}}</string>
                <key>sourceSize</key>
                <string>{136,210}</string>
            </dict>
            <key>npc4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,638},{130,210}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,210}}</string>
                <key>sourceSize</key>
                <string>{136,210}</string>
            </dict>
            <key>npc4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,214},{128,210}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,210}}</string>
                <key>sourceSize</key>
                <string>{136,210}</string>
            </dict>
            <key>npc4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{128,210}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,210}}</string>
                <key>sourceSize</key>
                <string>{136,210}</string>
            </dict>
            <key>npc4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{128,210}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,210}}</string>
                <key>sourceSize</key>
                <string>{136,210}</string>
            </dict>
            <key>npc4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{128,210}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,210}}</string>
                <key>sourceSize</key>
                <string>{136,210}</string>
            </dict>
            <key>npc4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,638},{130,210}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,210}}</string>
                <key>sourceSize</key>
                <string>{136,210}</string>
            </dict>
            <key>npc4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,638},{132,210}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{132,210}}</string>
                <key>sourceSize</key>
                <string>{136,210}</string>
            </dict>
            <key>npc4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,426},{132,210}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{132,210}}</string>
                <key>sourceSize</key>
                <string>{136,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>city_npc_04.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63f9940167a2ff322abff163a8d61471$</string>
            <key>textureFileName</key>
            <string>city_npc_04.pvr.ccz</string>
        </dict>
    </dict>
</plist>
