<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>birdman_atk2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,605},{354,214}}</string>
                <key>offset</key>
                <string>{-29,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,152},{354,214}}</string>
                <key>sourceSize</key>
                <string>{564,410}</string>
            </dict>
            <key>birdman_atk2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,977},{350,248}}</string>
                <key>offset</key>
                <string>{-41,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,118},{350,248}}</string>
                <key>sourceSize</key>
                <string>{564,410}</string>
            </dict>
            <key>birdman_atk2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1688},{212,324}}</string>
                <key>offset</key>
                <string>{-21,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,41},{212,324}}</string>
                <key>sourceSize</key>
                <string>{564,410}</string>
            </dict>
            <key>birdman_atk2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{160,362}}</string>
                <key>offset</key>
                <string>{-43,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,2},{160,362}}</string>
                <key>sourceSize</key>
                <string>{564,410}</string>
            </dict>
            <key>birdman_atk2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1597},{258,280}}</string>
                <key>offset</key>
                <string>{-153,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,83},{258,280}}</string>
                <key>sourceSize</key>
                <string>{564,410}</string>
            </dict>
            <key>birdman_atk2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,318},{376,272}}</string>
                <key>offset</key>
                <string>{94,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,94},{376,272}}</string>
                <key>sourceSize</key>
                <string>{564,410}</string>
            </dict>
            <key>birdman_atk2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,2},{376,234}}</string>
                <key>offset</key>
                <string>{94,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,132},{376,234}}</string>
                <key>sourceSize</key>
                <string>{564,410}</string>
            </dict>
            <key>birdman_atk2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,355},{376,148}}</string>
                <key>offset</key>
                <string>{94,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,218},{376,148}}</string>
                <key>sourceSize</key>
                <string>{564,410}</string>
            </dict>
            <key>birdman_atk2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,214},{376,182}}</string>
                <key>offset</key>
                <string>{94,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,227},{376,182}}</string>
                <key>sourceSize</key>
                <string>{564,410}</string>
            </dict>
            <key>birdman_atk2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1036},{348,166}}</string>
                <key>offset</key>
                <string>{81,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,200},{348,166}}</string>
                <key>sourceSize</key>
                <string>{564,410}</string>
            </dict>
            <key>birdman_atk2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,592},{362,188}}</string>
                <key>offset</key>
                <string>{34,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,178},{362,188}}</string>
                <key>sourceSize</key>
                <string>{564,410}</string>
            </dict>
            <key>birdman_atk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,398},{368,205}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,55},{368,205}}</string>
                <key>sourceSize</key>
                <string>{390,327}</string>
            </dict>
            <key>birdman_atk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,164},{378,189}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,70},{378,189}}</string>
                <key>sourceSize</key>
                <string>{390,327}</string>
            </dict>
            <key>birdman_atk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,1788},{200,243}}</string>
                <key>offset</key>
                <string>{9,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,11},{200,243}}</string>
                <key>sourceSize</key>
                <string>{390,327}</string>
            </dict>
            <key>birdman_atk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,1652},{134,247}}</string>
                <key>offset</key>
                <string>{-46,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,2},{134,247}}</string>
                <key>sourceSize</key>
                <string>{390,327}</string>
            </dict>
            <key>birdman_atk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1857},{180,213}}</string>
                <key>offset</key>
                <string>{-62,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,36},{180,213}}</string>
                <key>sourceSize</key>
                <string>{390,327}</string>
            </dict>
            <key>birdman_atk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1455},{254,303}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,24},{254,303}}</string>
                <key>sourceSize</key>
                <string>{390,327}</string>
            </dict>
            <key>birdman_atk_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1711},{264,295}}</string>
                <key>offset</key>
                <string>{-17,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,25},{264,295}}</string>
                <key>sourceSize</key>
                <string>{390,327}</string>
            </dict>
            <key>birdman_atk_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,1711},{270,227}}</string>
                <key>offset</key>
                <string>{28,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,87},{270,227}}</string>
                <key>sourceSize</key>
                <string>{390,327}</string>
            </dict>
            <key>birdman_atk_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,1545},{260,227}}</string>
                <key>offset</key>
                <string>{21,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,59},{260,227}}</string>
                <key>sourceSize</key>
                <string>{390,327}</string>
            </dict>
            <key>birdman_atk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,1228},{314,219}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,42},{314,219}}</string>
                <key>sourceSize</key>
                <string>{390,327}</string>
            </dict>
            <key>birdman_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1688},{333,178}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,48},{333,178}}</string>
                <key>sourceSize</key>
                <string>{367,248}</string>
            </dict>
            <key>birdman_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1409},{305,134}}</string>
                <key>offset</key>
                <string>{-31,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,114},{305,134}}</string>
                <key>sourceSize</key>
                <string>{367,248}</string>
            </dict>
            <key>birdman_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,1544},{307,106}}</string>
                <key>offset</key>
                <string>{-30,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,131},{307,106}}</string>
                <key>sourceSize</key>
                <string>{367,248}</string>
            </dict>
            <key>birdman_down_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,238},{311,90}}</string>
                <key>offset</key>
                <string>{-26,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,146},{311,90}}</string>
                <key>sourceSize</key>
                <string>{367,248}</string>
            </dict>
            <key>birdman_down_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,1274},{313,124}}</string>
                <key>offset</key>
                <string>{-21,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,124},{313,124}}</string>
                <key>sourceSize</key>
                <string>{367,248}</string>
            </dict>
            <key>birdman_down_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,551},{329,160}}</string>
                <key>offset</key>
                <string>{-9,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,79},{329,160}}</string>
                <key>sourceSize</key>
                <string>{367,248}</string>
            </dict>
            <key>birdman_down_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1490},{333,196}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,33},{333,196}}</string>
                <key>sourceSize</key>
                <string>{367,248}</string>
            </dict>
            <key>birdman_down_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,1807},{267,210}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,16},{267,210}}</string>
                <key>sourceSize</key>
                <string>{367,248}</string>
            </dict>
            <key>birdman_headhit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,1400},{312,211}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{312,211}}</string>
                <key>sourceSize</key>
                <string>{386,233}</string>
            </dict>
            <key>birdman_headhit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1204},{346,187}}</string>
                <key>offset</key>
                <string>{-20,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{346,187}}</string>
                <key>sourceSize</key>
                <string>{386,233}</string>
            </dict>
            <key>birdman_headhit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,882},{344,195}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,38},{344,195}}</string>
                <key>sourceSize</key>
                <string>{386,233}</string>
            </dict>
            <key>birdman_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{396,314}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,37},{396,314}}</string>
                <key>sourceSize</key>
                <string>{412,370}</string>
            </dict>
            <key>birdman_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,460},{346,358}}</string>
                <key>offset</key>
                <string>{33,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,0},{346,358}}</string>
                <key>sourceSize</key>
                <string>{412,370}</string>
            </dict>
            <key>birdman_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,821},{350,352}}</string>
                <key>offset</key>
                <string>{21,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,7},{350,352}}</string>
                <key>sourceSize</key>
                <string>{412,370}</string>
            </dict>
            <key>birdman_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,505},{362,258}}</string>
                <key>offset</key>
                <string>{3,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,102},{362,258}}</string>
                <key>sourceSize</key>
                <string>{412,370}</string>
            </dict>
            <key>birdman_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1393},{336,202}}</string>
                <key>offset</key>
                <string>{7,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,150},{336,202}}</string>
                <key>sourceSize</key>
                <string>{412,370}</string>
            </dict>
            <key>birdman_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1227},{336,226}}</string>
                <key>offset</key>
                <string>{10,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,143},{336,226}}</string>
                <key>sourceSize</key>
                <string>{412,370}</string>
            </dict>
            <key>birdman_run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{350,250}}</string>
                <key>offset</key>
                <string>{21,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,118},{350,250}}</string>
                <key>sourceSize</key>
                <string>{412,370}</string>
            </dict>
            <key>birdman_run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{410,292}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,78},{410,292}}</string>
                <key>sourceSize</key>
                <string>{412,370}</string>
            </dict>
            <key>birdman_run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{394,312}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,38},{394,312}}</string>
                <key>sourceSize</key>
                <string>{412,370}</string>
            </dict>
            <key>birdman_std_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,1173},{345,234}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{345,234}}</string>
                <key>sourceSize</key>
                <string>{381,234}</string>
            </dict>
            <key>birdman_std_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{359,228}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{359,228}}</string>
                <key>sourceSize</key>
                <string>{381,234}</string>
            </dict>
            <key>birdman_std_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,2},{379,210}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{379,210}}</string>
                <key>sourceSize</key>
                <string>{381,234}</string>
            </dict>
            <key>birdman_std_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,808},{353,204}}</string>
                <key>offset</key>
                <string>{13,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{353,204}}</string>
                <key>sourceSize</key>
                <string>{381,234}</string>
            </dict>
            <key>birdman_std_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,765},{353,210}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,24},{353,210}}</string>
                <key>sourceSize</key>
                <string>{381,234}</string>
            </dict>
            <key>birdman_std_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,238},{371,220}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{371,220}}</string>
                <key>sourceSize</key>
                <string>{381,234}</string>
            </dict>
            <key>birdman_std_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1254},{345,234}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{345,234}}</string>
                <key>sourceSize</key>
                <string>{381,234}</string>
            </dict>
            <key>birdman_waisthit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,1014},{352,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{352,258}}</string>
                <key>sourceSize</key>
                <string>{386,258}</string>
            </dict>
            <key>birdman_waisthit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{386,160}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,98},{386,160}}</string>
                <key>sourceSize</key>
                <string>{386,258}</string>
            </dict>
            <key>birdman_waisthit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,782},{350,252}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{350,252}}</string>
                <key>sourceSize</key>
                <string>{386,258}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_birdman.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74a588ded68b2feebdc821ee7713f565$</string>
            <key>textureFileName</key>
            <string>m_birdman.pvr.ccz</string>
        </dict>
    </dict>
</plist>
