<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>langyabang/headdown/hurt000011.png</key>
			<dict>
				<key>width</key>
				<integer>183</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>218</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>22.3999938964844</real>
				<key>offsetY</key>
				<real>-121</real>
			</dict>
			<key>langyabang/headdown/hurt000007.png</key>
			<dict>
				<key>width</key>
				<integer>187</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>218</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>185</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3.60000610351563</real>
				<key>offsetY</key>
				<real>-73.4000015258789</real>
			</dict>
			<key>langyabang/headdown/hurt000008.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>218</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>374</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>13.7999954223633</real>
				<key>offsetY</key>
				<real>-78</real>
			</dict>
			<key>langyabang/headdown/hurt000009.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>218</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>576</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>24.1999969482422</real>
				<key>offsetY</key>
				<real>-125.400001525879</real>
			</dict>
			<key>langyabang/headdown/hurt000010.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>218</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>762</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>22.7999954223633</real>
				<key>offsetY</key>
				<real>-125.199996948242</real>
			</dict>
			<key>langyabang/atk/atk20000.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>312</integer>
				<key>originalHeight</key>
				<integer>272</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>106</integer>
				<key>offsetX</key>
				<real>-49.4000091552734</real>
				<key>offsetY</key>
				<real>-24.8000030517578</real>
			</dict>
			<key>langyabang/atk/atk20001.png</key>
			<dict>
				<key>width</key>
				<integer>148</integer>
				<key>height</key>
				<integer>209</integer>
				<key>originalWidth</key>
				<integer>312</integer>
				<key>originalHeight</key>
				<integer>272</integer>
				<key>x</key>
				<integer>174</integer>
				<key>y</key>
				<integer>106</integer>
				<key>offsetX</key>
				<real>-32.4000091552734</real>
				<key>offsetY</key>
				<real>8.19999694824219</real>
			</dict>
			<key>langyabang/atk/atk20002.png</key>
			<dict>
				<key>width</key>
				<integer>164</integer>
				<key>height</key>
				<integer>204</integer>
				<key>originalWidth</key>
				<integer>312</integer>
				<key>originalHeight</key>
				<integer>272</integer>
				<key>x</key>
				<integer>324</integer>
				<key>y</key>
				<integer>106</integer>
				<key>offsetX</key>
				<real>-49.4000091552734</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>langyabang/atk/atk20003.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>203</integer>
				<key>originalWidth</key>
				<integer>312</integer>
				<key>originalHeight</key>
				<integer>272</integer>
				<key>x</key>
				<integer>490</integer>
				<key>y</key>
				<integer>106</integer>
				<key>offsetX</key>
				<real>-64.4000091552734</real>
				<key>offsetY</key>
				<real>3.40000152587891</real>
			</dict>
			<key>langyabang/atk/atk20004.png</key>
			<dict>
				<key>width</key>
				<integer>152</integer>
				<key>height</key>
				<integer>228</integer>
				<key>originalWidth</key>
				<integer>312</integer>
				<key>originalHeight</key>
				<integer>272</integer>
				<key>x</key>
				<integer>676</integer>
				<key>y</key>
				<integer>106</integer>
				<key>offsetX</key>
				<real>-9.00000762939453</real>
				<key>offsetY</key>
				<real>22</real>
			</dict>
			<key>langyabang/atk/atk20005.png</key>
			<dict>
				<key>width</key>
				<integer>257</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>312</integer>
				<key>originalHeight</key>
				<integer>272</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>336</integer>
				<key>offsetX</key>
				<real>40.3999938964844</real>
				<key>offsetY</key>
				<real>-73.5999984741211</real>
			</dict>
			<key>langyabang/atk/atk20006.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>312</integer>
				<key>originalHeight</key>
				<integer>272</integer>
				<key>x</key>
				<integer>259</integer>
				<key>y</key>
				<integer>336</integer>
				<key>offsetX</key>
				<real>41.5999908447266</real>
				<key>offsetY</key>
				<real>-84.4000015258789</real>
			</dict>
			<key>langyabang/atk/atk20007.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>312</integer>
				<key>originalHeight</key>
				<integer>272</integer>
				<key>x</key>
				<integer>517</integer>
				<key>y</key>
				<integer>336</integer>
				<key>offsetX</key>
				<real>41.5999908447266</real>
				<key>offsetY</key>
				<real>-83.6000061035156</real>
			</dict>
			<key>langyabang/atk/atk20008.png</key>
			<dict>
				<key>width</key>
				<integer>257</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>312</integer>
				<key>originalHeight</key>
				<integer>272</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>473</integer>
				<key>offsetX</key>
				<real>41.3999938964844</real>
				<key>offsetY</key>
				<real>-78</real>
			</dict>
			<key>langyabang/atk/atk20009.png</key>
			<dict>
				<key>width</key>
				<integer>257</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>312</integer>
				<key>originalHeight</key>
				<integer>272</integer>
				<key>x</key>
				<integer>259</integer>
				<key>y</key>
				<integer>473</integer>
				<key>offsetX</key>
				<real>40.3999938964844</real>
				<key>offsetY</key>
				<real>-73.5999984741211</real>
			</dict>
			<key>langyabang/atk/atk20010.png</key>
			<dict>
				<key>width</key>
				<integer>161</integer>
				<key>height</key>
				<integer>177</integer>
				<key>originalWidth</key>
				<integer>312</integer>
				<key>originalHeight</key>
				<integer>272</integer>
				<key>x</key>
				<integer>518</integer>
				<key>y</key>
				<integer>473</integer>
				<key>offsetX</key>
				<real>-3.60000610351563</real>
				<key>offsetY</key>
				<real>-70.8000030517578</real>
			</dict>
			<key>langyabang/atk/atk20011.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>312</integer>
				<key>originalHeight</key>
				<integer>272</integer>
				<key>x</key>
				<integer>681</integer>
				<key>y</key>
				<integer>473</integer>
				<key>offsetX</key>
				<real>-37.8000106811523</real>
				<key>offsetY</key>
				<real>-33.2000045776367</real>
			</dict>
			<key>langyabang/atk/atka0000.png</key>
			<dict>
				<key>width</key>
				<integer>168</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>224</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>842</integer>
				<key>y</key>
				<integer>473</integer>
				<key>offsetX</key>
				<real>-25</real>
				<key>offsetY</key>
				<real>-19.5999984741211</real>
			</dict>
			<key>langyabang/atk/atka0001.png</key>
			<dict>
				<key>width</key>
				<integer>139</integer>
				<key>height</key>
				<integer>188</integer>
				<key>originalWidth</key>
				<integer>224</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>652</integer>
				<key>offsetX</key>
				<real>-8.80000305175781</real>
				<key>offsetY</key>
				<real>-0.199996948242188</real>
			</dict>
			<key>langyabang/atk/atka0002.png</key>
			<dict>
				<key>width</key>
				<integer>147</integer>
				<key>height</key>
				<integer>189</integer>
				<key>originalWidth</key>
				<integer>224</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>141</integer>
				<key>y</key>
				<integer>652</integer>
				<key>offsetX</key>
				<real>-15.8000030517578</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>langyabang/atk/atka0003.png</key>
			<dict>
				<key>width</key>
				<integer>165</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>224</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>290</integer>
				<key>y</key>
				<integer>652</integer>
				<key>offsetX</key>
				<real>-29.5999984741211</real>
				<key>offsetY</key>
				<real>-18.5999984741211</real>
			</dict>
			<key>langyabang/atk/atka0004.png</key>
			<dict>
				<key>width</key>
				<integer>176</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>224</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>457</integer>
				<key>y</key>
				<integer>652</integer>
				<key>offsetX</key>
				<real>34</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
			<key>langyabang/atk/atka0005.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>224</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>635</integer>
				<key>y</key>
				<integer>652</integer>
				<key>offsetX</key>
				<real>14.1999969482422</real>
				<key>offsetY</key>
				<real>-17.1999969482422</real>
			</dict>
			<key>langyabang/atk/atka0006.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>224</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>772</integer>
				<key>y</key>
				<integer>652</integer>
				<key>offsetX</key>
				<real>13.8000030517578</real>
				<key>offsetY</key>
				<real>-30.4000015258789</real>
			</dict>
			<key>langyabang/atk/atka0007.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>224</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>843</integer>
				<key>offsetX</key>
				<real>13.4000015258789</real>
				<key>offsetY</key>
				<real>-30.4000015258789</real>
			</dict>
			<key>langyabang/atk/atka0008.png</key>
			<dict>
				<key>width</key>
				<integer>177</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>224</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>135</integer>
				<key>y</key>
				<integer>843</integer>
				<key>offsetX</key>
				<real>35.4000015258789</real>
				<key>offsetY</key>
				<real>-25.5999984741211</real>
			</dict>
			<key>langyabang/atk/atka0009.png</key>
			<dict>
				<key>width</key>
				<integer>171</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>224</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>314</integer>
				<key>y</key>
				<integer>843</integer>
				<key>offsetX</key>
				<real>31.1999969482422</real>
				<key>offsetY</key>
				<real>-17.7999954223633</real>
			</dict>
			<key>langyabang/atk/atka0012.png</key>
			<dict>
				<key>width</key>
				<integer>165</integer>
				<key>height</key>
				<integer>168</integer>
				<key>originalWidth</key>
				<integer>224</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>487</integer>
				<key>y</key>
				<integer>843</integer>
				<key>offsetX</key>
				<real>-27.5999984741211</real>
				<key>offsetY</key>
				<real>-13.5999984741211</real>
			</dict>
			<key>langyabang/headdown/hurt000006.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>218</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>654</integer>
				<key>y</key>
				<integer>843</integer>
				<key>offsetX</key>
				<real>33.7999954223633</real>
				<key>offsetY</key>
				<real>-55.2000007629395</real>
			</dict>
			<key>langyabang/headdown/hurt000002.png</key>
			<dict>
				<key>width</key>
				<integer>161</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>218</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>828</integer>
				<key>y</key>
				<integer>843</integer>
				<key>offsetX</key>
				<real>-4.40000152587891</real>
				<key>offsetY</key>
				<real>-29.4000015258789</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>m_langyabang0.png</string>
			<key>realTextureFileName</key>
			<string>m_langyabang0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>