<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>langyabang/getup/hurt000017.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>230</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>43.5999984741211</real>
				<key>offsetY</key>
				<real>-42.0000038146973</real>
			</dict>
			<key>langyabang/getup/hurt000018.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>230</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>147</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>54.7999954223633</real>
				<key>offsetY</key>
				<real>-23.6000061035156</real>
			</dict>
			<key>langyabang/getup/hurt000019.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>230</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>281</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>64.1999969482422</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>langyabang/getup/hurt000020.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>230</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>427</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>23.7999954223633</real>
				<key>offsetY</key>
				<real>5.19999694824219</real>
			</dict>
			<key>langyabang/getup/hurt000021.png</key>
			<dict>
				<key>width</key>
				<integer>167</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>230</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>533</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-31.6000061035156</real>
				<key>offsetY</key>
				<real>11.1999969482422</real>
			</dict>
			<key>langyabang/std/std0010.png</key>
			<dict>
				<key>width</key>
				<integer>171</integer>
				<key>height</key>
				<integer>156</integer>
				<key>originalWidth</key>
				<integer>172</integer>
				<key>originalHeight</key>
				<integer>156</integer>
				<key>x</key>
				<integer>702</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.400001525878906</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>langyabang/std/std0011.png</key>
			<dict>
				<key>width</key>
				<integer>171</integer>
				<key>height</key>
				<integer>156</integer>
				<key>originalWidth</key>
				<integer>172</integer>
				<key>originalHeight</key>
				<integer>156</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>158</integer>
				<key>offsetX</key>
				<real>-0.400001525878906</real>
				<key>offsetY</key>
				<real>-0.599998474121094</real>
			</dict>
			<key>langyabang/std/std0012.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>155</integer>
				<key>originalWidth</key>
				<integer>172</integer>
				<key>originalHeight</key>
				<integer>156</integer>
				<key>x</key>
				<integer>173</integer>
				<key>y</key>
				<integer>158</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1.19999694824219</real>
			</dict>
			<key>langyabang/std/std0013.png</key>
			<dict>
				<key>width</key>
				<integer>171</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>172</integer>
				<key>originalHeight</key>
				<integer>156</integer>
				<key>x</key>
				<integer>347</integer>
				<key>y</key>
				<integer>158</integer>
				<key>offsetX</key>
				<real>0.599998474121094</real>
				<key>offsetY</key>
				<real>-1.80000305175781</real>
			</dict>
			<key>langyabang/std/std0014.png</key>
			<dict>
				<key>width</key>
				<integer>171</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>172</integer>
				<key>originalHeight</key>
				<integer>156</integer>
				<key>x</key>
				<integer>520</integer>
				<key>y</key>
				<integer>158</integer>
				<key>offsetX</key>
				<real>0.599998474121094</real>
				<key>offsetY</key>
				<real>-1.80000305175781</real>
			</dict>
			<key>langyabang/std/std0015.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>153</integer>
				<key>originalWidth</key>
				<integer>172</integer>
				<key>originalHeight</key>
				<integer>156</integer>
				<key>x</key>
				<integer>693</integer>
				<key>y</key>
				<integer>158</integer>
				<key>offsetX</key>
				<real>1.20000457763672</real>
				<key>offsetY</key>
				<real>-2.40000152587891</real>
			</dict>
			<key>langyabang/std/std0016.png</key>
			<dict>
				<key>width</key>
				<integer>169</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>172</integer>
				<key>originalHeight</key>
				<integer>156</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>316</integer>
				<key>offsetX</key>
				<real>1.80000305175781</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>langyabang/std/std0017.png</key>
			<dict>
				<key>width</key>
				<integer>169</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>172</integer>
				<key>originalHeight</key>
				<integer>156</integer>
				<key>x</key>
				<integer>171</integer>
				<key>y</key>
				<integer>316</integer>
				<key>offsetX</key>
				<real>1.80000305175781</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>langyabang/std/std0018.png</key>
			<dict>
				<key>width</key>
				<integer>169</integer>
				<key>height</key>
				<integer>153</integer>
				<key>originalWidth</key>
				<integer>172</integer>
				<key>originalHeight</key>
				<integer>156</integer>
				<key>x</key>
				<integer>342</integer>
				<key>y</key>
				<integer>316</integer>
				<key>offsetX</key>
				<real>1.80000305175781</real>
				<key>offsetY</key>
				<real>-2.40000152587891</real>
			</dict>
			<key>langyabang/std/std0019.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>172</integer>
				<key>originalHeight</key>
				<integer>156</integer>
				<key>x</key>
				<integer>513</integer>
				<key>y</key>
				<integer>316</integer>
				<key>offsetX</key>
				<real>1.20000457763672</real>
				<key>offsetY</key>
				<real>-1.80000305175781</real>
			</dict>
			<key>langyabang/std/std0020.png</key>
			<dict>
				<key>width</key>
				<integer>171</integer>
				<key>height</key>
				<integer>155</integer>
				<key>originalWidth</key>
				<integer>172</integer>
				<key>originalHeight</key>
				<integer>156</integer>
				<key>x</key>
				<integer>685</integer>
				<key>y</key>
				<integer>316</integer>
				<key>offsetX</key>
				<real>0.599998474121094</real>
				<key>offsetY</key>
				<real>-1.19999694824219</real>
			</dict>
			<key>langyabang/std/std0021.png</key>
			<dict>
				<key>width</key>
				<integer>171</integer>
				<key>height</key>
				<integer>156</integer>
				<key>originalWidth</key>
				<integer>172</integer>
				<key>originalHeight</key>
				<integer>156</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>473</integer>
				<key>offsetX</key>
				<real>-0.400001525878906</real>
				<key>offsetY</key>
				<real>-0.599998474121094</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>m_langyabang2.png</string>
			<key>realTextureFileName</key>
			<string>m_langyabang2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>