<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>langyabang/atk/atka0010.png</key>
			<dict>
				<key>width</key>
				<integer>165</integer>
				<key>height</key>
				<integer>184</integer>
				<key>originalWidth</key>
				<integer>224</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-28.5999984741211</real>
				<key>offsetY</key>
				<real>-2.19999694824219</real>
			</dict>
			<key>langyabang/atk/atka0011.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>184</integer>
				<key>originalWidth</key>
				<integer>224</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>167</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-25</real>
				<key>offsetY</key>
				<real>-2.19999694824219</real>
			</dict>
			<key>langyabang/headdown/hurt000003.png</key>
			<dict>
				<key>width</key>
				<integer>164</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>218</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>329</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4.80000305175781</real>
				<key>offsetY</key>
				<real>-36.5999984741211</real>
			</dict>
			<key>langyabang/headdown/hurt000004.png</key>
			<dict>
				<key>width</key>
				<integer>194</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>218</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>495</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-24.8000030517578</real>
			</dict>
			<key>langyabang/headdown/hurt000005.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>218</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>691</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>48.3999938964844</real>
				<key>offsetY</key>
				<real>3.59999847412109</real>
			</dict>
			<key>langyabang/headdown/hurt000001.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>218</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>836</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-30</real>
			</dict>
			<key>langyabang/walk/wd0000.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>148</integer>
				<key>originalHeight</key>
				<integer>178</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>214</integer>
				<key>offsetX</key>
				<real>-0.600002288818359</real>
				<key>offsetY</key>
				<real>-6.59999847412109</real>
			</dict>
			<key>langyabang/walk/wd0001.png</key>
			<dict>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>172</integer>
				<key>originalWidth</key>
				<integer>148</integer>
				<key>originalHeight</key>
				<integer>178</integer>
				<key>x</key>
				<integer>127</integer>
				<key>y</key>
				<integer>214</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-4.19999694824219</real>
			</dict>
			<key>langyabang/walk/wd0002.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>148</integer>
				<key>originalHeight</key>
				<integer>178</integer>
				<key>x</key>
				<integer>249</integer>
				<key>y</key>
				<integer>214</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-1.39999389648438</real>
			</dict>
			<key>langyabang/walk/wd0003.png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>176</integer>
				<key>originalWidth</key>
				<integer>148</integer>
				<key>originalHeight</key>
				<integer>178</integer>
				<key>x</key>
				<integer>367</integer>
				<key>y</key>
				<integer>214</integer>
				<key>offsetX</key>
				<real>-2.79999923706055</real>
				<key>offsetY</key>
				<real>-0.799995422363281</real>
			</dict>
			<key>langyabang/walk/wd0004.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>148</integer>
				<key>originalHeight</key>
				<integer>178</integer>
				<key>x</key>
				<integer>484</integer>
				<key>y</key>
				<integer>214</integer>
				<key>offsetX</key>
				<real>-1.79999923706055</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>langyabang/walk/wd0005.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>172</integer>
				<key>originalWidth</key>
				<integer>148</integer>
				<key>originalHeight</key>
				<integer>178</integer>
				<key>x</key>
				<integer>613</integer>
				<key>y</key>
				<integer>214</integer>
				<key>offsetX</key>
				<real>-2.80000305175781</real>
				<key>offsetY</key>
				<real>-3.79999542236328</real>
			</dict>
			<key>langyabang/walk/wd0006.png</key>
			<dict>
				<key>width</key>
				<integer>148</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>148</integer>
				<key>originalHeight</key>
				<integer>178</integer>
				<key>x</key>
				<integer>750</integer>
				<key>y</key>
				<integer>214</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-6.59999847412109</real>
			</dict>
			<key>langyabang/walk/wd0007.png</key>
			<dict>
				<key>width</key>
				<integer>148</integer>
				<key>height</key>
				<integer>168</integer>
				<key>originalWidth</key>
				<integer>148</integer>
				<key>originalHeight</key>
				<integer>178</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>392</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-7.79999542236328</real>
			</dict>
			<key>langyabang/walk/wd0008.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>168</integer>
				<key>originalWidth</key>
				<integer>148</integer>
				<key>originalHeight</key>
				<integer>178</integer>
				<key>x</key>
				<integer>150</integer>
				<key>y</key>
				<integer>392</integer>
				<key>offsetX</key>
				<real>-3.40000152587891</real>
				<key>offsetY</key>
				<real>-7.19999694824219</real>
			</dict>
			<key>langyabang/walk/wd0009.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>171</integer>
				<key>originalWidth</key>
				<integer>148</integer>
				<key>originalHeight</key>
				<integer>178</integer>
				<key>x</key>
				<integer>292</integer>
				<key>y</key>
				<integer>392</integer>
				<key>offsetX</key>
				<real>-3.59999847412109</real>
				<key>offsetY</key>
				<real>-4.39999389648438</real>
			</dict>
			<key>langyabang/walk/wd0010.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>148</integer>
				<key>originalHeight</key>
				<integer>178</integer>
				<key>x</key>
				<integer>427</integer>
				<key>y</key>
				<integer>392</integer>
				<key>offsetX</key>
				<real>-3.40000152587891</real>
				<key>offsetY</key>
				<real>-1.39999389648438</real>
			</dict>
			<key>langyabang/walk/wd0011.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>177</integer>
				<key>originalWidth</key>
				<integer>148</integer>
				<key>originalHeight</key>
				<integer>178</integer>
				<key>x</key>
				<integer>557</integer>
				<key>y</key>
				<integer>392</integer>
				<key>offsetX</key>
				<real>-3.20000076293945</real>
				<key>offsetY</key>
				<real>0.400001525878906</real>
			</dict>
			<key>langyabang/walk/wd0012.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>176</integer>
				<key>originalWidth</key>
				<integer>148</integer>
				<key>originalHeight</key>
				<integer>178</integer>
				<key>x</key>
				<integer>681</integer>
				<key>y</key>
				<integer>392</integer>
				<key>offsetX</key>
				<real>-3.60000228881836</real>
				<key>offsetY</key>
				<real>-0.199996948242188</real>
			</dict>
			<key>langyabang/walk/wd0013.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>148</integer>
				<key>originalHeight</key>
				<integer>178</integer>
				<key>x</key>
				<integer>804</integer>
				<key>y</key>
				<integer>392</integer>
				<key>offsetX</key>
				<real>-2.40000152587891</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>langyabang/walk/wd0014.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>172</integer>
				<key>originalWidth</key>
				<integer>148</integer>
				<key>originalHeight</key>
				<integer>178</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-3.79999542236328</real>
			</dict>
			<key>langyabang/walk/wd0015.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>171</integer>
				<key>originalWidth</key>
				<integer>148</integer>
				<key>originalHeight</key>
				<integer>178</integer>
				<key>x</key>
				<integer>142</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-5.39999389648438</real>
			</dict>
			<key>langyabang/waisthit/hurt000001.png</key>
			<dict>
				<key>width</key>
				<integer>146</integer>
				<key>height</key>
				<integer>156</integer>
				<key>originalWidth</key>
				<integer>169</integer>
				<key>originalHeight</key>
				<integer>156</integer>
				<key>x</key>
				<integer>272</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>6.40000152587891</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>langyabang/waisthit/hurt000002.png</key>
			<dict>
				<key>width</key>
				<integer>152</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>169</integer>
				<key>originalHeight</key>
				<integer>156</integer>
				<key>x</key>
				<integer>420</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>1.59999847412109</real>
				<key>offsetY</key>
				<real>-5.40000152587891</real>
			</dict>
			<key>langyabang/waisthit/hurt000003.png</key>
			<dict>
				<key>width</key>
				<integer>158</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>169</integer>
				<key>originalHeight</key>
				<integer>156</integer>
				<key>x</key>
				<integer>574</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>-2.59999847412109</real>
				<key>offsetY</key>
				<real>-9.59999847412109</real>
			</dict>
			<key>langyabang/waisthit/hurt000004.png</key>
			<dict>
				<key>width</key>
				<integer>152</integer>
				<key>height</key>
				<integer>144</integer>
				<key>originalWidth</key>
				<integer>169</integer>
				<key>originalHeight</key>
				<integer>156</integer>
				<key>x</key>
				<integer>734</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>1.59999847412109</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>langyabang/waisthit/hurt000005.png</key>
			<dict>
				<key>width</key>
				<integer>152</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>169</integer>
				<key>originalHeight</key>
				<integer>156</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>745</integer>
				<key>offsetX</key>
				<real>1.59999847412109</real>
				<key>offsetY</key>
				<real>-4.80000305175781</real>
			</dict>
			<key>langyabang/headhit/hurt000001.png</key>
			<dict>
				<key>width</key>
				<integer>164</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>178</integer>
				<key>originalHeight</key>
				<integer>164</integer>
				<key>x</key>
				<integer>154</integer>
				<key>y</key>
				<integer>745</integer>
				<key>offsetX</key>
				<real>-0.800003051757813</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>langyabang/headhit/hurt000002.png</key>
			<dict>
				<key>width</key>
				<integer>169</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>178</integer>
				<key>originalHeight</key>
				<integer>164</integer>
				<key>x</key>
				<integer>320</integer>
				<key>y</key>
				<integer>745</integer>
				<key>offsetX</key>
				<real>-4.40000152587891</real>
				<key>offsetY</key>
				<real>-1.80000305175781</real>
			</dict>
			<key>langyabang/headhit/hurt000003.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>155</integer>
				<key>originalWidth</key>
				<integer>178</integer>
				<key>originalHeight</key>
				<integer>164</integer>
				<key>x</key>
				<integer>491</integer>
				<key>y</key>
				<integer>745</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-7.19999694824219</real>
			</dict>
			<key>langyabang/headhit/hurt000004.png</key>
			<dict>
				<key>width</key>
				<integer>148</integer>
				<key>height</key>
				<integer>153</integer>
				<key>originalWidth</key>
				<integer>178</integer>
				<key>originalHeight</key>
				<integer>164</integer>
				<key>x</key>
				<integer>655</integer>
				<key>y</key>
				<integer>745</integer>
				<key>offsetX</key>
				<real>11.1999969482422</real>
				<key>offsetY</key>
				<real>-8.40000152587891</real>
			</dict>
			<key>langyabang/headhit/hurt000005.png</key>
			<dict>
				<key>width</key>
				<integer>155</integer>
				<key>height</key>
				<integer>155</integer>
				<key>originalWidth</key>
				<integer>178</integer>
				<key>originalHeight</key>
				<integer>164</integer>
				<key>x</key>
				<integer>805</integer>
				<key>y</key>
				<integer>745</integer>
				<key>offsetX</key>
				<real>10.3999938964844</real>
				<key>offsetY</key>
				<real>-7.19999694824219</real>
			</dict>
			<key>langyabang/getup/hurt000015.png</key>
			<dict>
				<key>width</key>
				<integer>183</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>230</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>911</integer>
				<key>offsetX</key>
				<real>16.3999938964844</real>
				<key>offsetY</key>
				<real>-74.4000015258789</real>
			</dict>
			<key>langyabang/getup/hurt000016.png</key>
			<dict>
				<key>width</key>
				<integer>165</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>230</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>185</integer>
				<key>y</key>
				<integer>911</integer>
				<key>offsetX</key>
				<real>29.5999984741211</real>
				<key>offsetY</key>
				<real>-57.6000022888184</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>m_langyabang1.png</string>
			<key>realTextureFileName</key>
			<string>m_langyabang1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>