<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sfjh_atk1 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1221},{207,200}}</string>
                <key>offset</key>
                <string>{32,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,41},{207,200}}</string>
                <key>sourceSize</key>
                <string>{423,244}</string>
            </dict>
            <key>sfjh_atk1 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{253,202}}</string>
                <key>offset</key>
                <string>{-8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,40},{253,202}}</string>
                <key>sourceSize</key>
                <string>{423,244}</string>
            </dict>
            <key>sfjh_atk1 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{590,319},{263,244}}</string>
                <key>offset</key>
                <string>{-44,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{263,244}}</string>
                <key>sourceSize</key>
                <string>{423,244}</string>
            </dict>
            <key>sfjh_atk1 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{319,242}}</string>
                <key>offset</key>
                <string>{-52,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{319,242}}</string>
                <key>sourceSize</key>
                <string>{423,244}</string>
            </dict>
            <key>sfjh_atk1 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1182},{165,166}}</string>
                <key>offset</key>
                <string>{82,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,78},{165,166}}</string>
                <key>sourceSize</key>
                <string>{423,244}</string>
            </dict>
            <key>sfjh_atk1 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{845,1144},{191,168}}</string>
                <key>offset</key>
                <string>{115,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,76},{191,168}}</string>
                <key>sourceSize</key>
                <string>{423,244}</string>
            </dict>
            <key>sfjh_atk1 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{757,565},{209,192}}</string>
                <key>offset</key>
                <string>{107,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,52},{209,192}}</string>
                <key>sourceSize</key>
                <string>{423,244}</string>
            </dict>
            <key>sfjh_atk1 (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{901,944},{207,198}}</string>
                <key>offset</key>
                <string>{70,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,44},{207,198}}</string>
                <key>sourceSize</key>
                <string>{423,244}</string>
            </dict>
            <key>sfjh_atk1 (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{213,200}}</string>
                <key>offset</key>
                <string>{45,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,42},{213,200}}</string>
                <key>sourceSize</key>
                <string>{423,244}</string>
            </dict>
            <key>sfjh_atk2 (01).png</key>
            <dict>
                <key>frame</key>
                <string>{{1753,414},{195,240}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,52},{195,240}}</string>
                <key>sourceSize</key>
                <string>{449,310}</string>
            </dict>
            <key>sfjh_atk2 (02).png</key>
            <dict>
                <key>frame</key>
                <string>{{642,178},{139,292}}</string>
                <key>offset</key>
                <string>{-27,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,0},{139,292}}</string>
                <key>sourceSize</key>
                <string>{449,310}</string>
            </dict>
            <key>sfjh_atk2 (03).png</key>
            <dict>
                <key>frame</key>
                <string>{{275,468},{195,262}}</string>
                <key>offset</key>
                <string>{-104,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,30},{195,262}}</string>
                <key>sourceSize</key>
                <string>{449,310}</string>
            </dict>
            <key>sfjh_atk2 (04).png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,1003},{199,214}}</string>
                <key>offset</key>
                <string>{-125,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,78},{199,214}}</string>
                <key>sourceSize</key>
                <string>{449,310}</string>
            </dict>
            <key>sfjh_atk2 (05).png</key>
            <dict>
                <key>frame</key>
                <string>{{963,176},{179,292}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,0},{179,292}}</string>
                <key>sourceSize</key>
                <string>{449,310}</string>
            </dict>
            <key>sfjh_atk2 (06).png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{319,134}}</string>
                <key>offset</key>
                <string>{65,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,159},{319,134}}</string>
                <key>sourceSize</key>
                <string>{449,310}</string>
            </dict>
            <key>sfjh_atk2 (07).png</key>
            <dict>
                <key>frame</key>
                <string>{{323,138},{317,144}}</string>
                <key>offset</key>
                <string>{66,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,162},{317,144}}</string>
                <key>sourceSize</key>
                <string>{449,310}</string>
            </dict>
            <key>sfjh_atk2 (08).png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,172},{251,188}}</string>
                <key>offset</key>
                <string>{51,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,122},{251,188}}</string>
                <key>sourceSize</key>
                <string>{449,310}</string>
            </dict>
            <key>sfjh_atk2 (09).png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,568},{233,200}}</string>
                <key>offset</key>
                <string>{40,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,108},{233,200}}</string>
                <key>sourceSize</key>
                <string>{449,310}</string>
            </dict>
            <key>sfjh_atk2 (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,803},{221,198}}</string>
                <key>offset</key>
                <string>{18,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,94},{221,198}}</string>
                <key>sourceSize</key>
                <string>{449,310}</string>
            </dict>
            <key>sfjh_bdhurt (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,198},{249,202}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{249,202}}</string>
                <key>sourceSize</key>
                <string>{249,206}</string>
            </dict>
            <key>sfjh_bdhurt (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,362},{243,204}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{243,204}}</string>
                <key>sourceSize</key>
                <string>{249,206}</string>
            </dict>
            <key>sfjh_bdhurt (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{953,533},{233,206}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{233,206}}</string>
                <key>sourceSize</key>
                <string>{249,206}</string>
            </dict>
            <key>sfjh_down (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,611},{222,190}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{222,190}}</string>
                <key>sourceSize</key>
                <string>{258,216}</string>
            </dict>
            <key>sfjh_down (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,402},{238,182}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{238,182}}</string>
                <key>sourceSize</key>
                <string>{258,216}</string>
            </dict>
            <key>sfjh_down (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,770},{222,160}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,29},{222,160}}</string>
                <key>sourceSize</key>
                <string>{258,216}</string>
            </dict>
            <key>sfjh_down (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1901,611},{200,110}}</string>
                <key>offset</key>
                <string>{-20,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,103},{200,110}}</string>
                <key>sourceSize</key>
                <string>{258,216}</string>
            </dict>
            <key>sfjh_down (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{855,319},{214,96}}</string>
                <key>offset</key>
                <string>{-22,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,120},{214,96}}</string>
                <key>sourceSize</key>
                <string>{258,216}</string>
            </dict>
            <key>sfjh_down (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1153},{180,162}}</string>
                <key>offset</key>
                <string>{-28,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,45},{180,162}}</string>
                <key>sourceSize</key>
                <string>{258,216}</string>
            </dict>
            <key>sfjh_down (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{643,981},{170,200}}</string>
                <key>offset</key>
                <string>{-23,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,16},{170,200}}</string>
                <key>sourceSize</key>
                <string>{258,216}</string>
            </dict>
            <key>sfjh_down (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,1009},{192,190}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{192,190}}</string>
                <key>sourceSize</key>
                <string>{258,216}</string>
            </dict>
            <key>sfjh_down (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,813},{202,184}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,5},{202,184}}</string>
                <key>sourceSize</key>
                <string>{258,216}</string>
            </dict>
            <key>sfjh_headhurt (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,586},{218,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{218,223}}</string>
                <key>sourceSize</key>
                <string>{230,223}</string>
            </dict>
            <key>sfjh_headhurt (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,2},{228,203}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{228,203}}</string>
                <key>sourceSize</key>
                <string>{230,223}</string>
            </dict>
            <key>sfjh_headhurt (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,207},{226,205}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{226,205}}</string>
                <key>sourceSize</key>
                <string>{230,223}</string>
            </dict>
            <key>sfjh_run (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,2},{253,168}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,14},{253,168}}</string>
                <key>sourceSize</key>
                <string>{321,196}</string>
            </dict>
            <key>sfjh_run (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{953,357},{247,174}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,11},{247,174}}</string>
                <key>sourceSize</key>
                <string>{321,196}</string>
            </dict>
            <key>sfjh_run (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{317,284},{271,182}}</string>
                <key>offset</key>
                <string>{17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{271,182}}</string>
                <key>sourceSize</key>
                <string>{321,196}</string>
            </dict>
            <key>sfjh_run (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{963,2},{301,172}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{301,172}}</string>
                <key>sourceSize</key>
                <string>{321,196}</string>
            </dict>
            <key>sfjh_run (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{317,174}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{317,174}}</string>
                <key>sourceSize</key>
                <string>{321,196}</string>
            </dict>
            <key>sfjh_run (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{313,188}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{313,188}}</string>
                <key>sourceSize</key>
                <string>{321,196}</string>
            </dict>
            <key>sfjh_run (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,2},{295,194}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{295,194}}</string>
                <key>sourceSize</key>
                <string>{321,196}</string>
            </dict>
            <key>sfjh_run (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{271,170}}</string>
                <key>offset</key>
                <string>{21,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,4},{271,170}}</string>
                <key>sourceSize</key>
                <string>{321,196}</string>
            </dict>
            <key>sfjh_std (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,806},{214,201}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{214,201}}</string>
                <key>sourceSize</key>
                <string>{216,207}</string>
            </dict>
            <key>sfjh_std (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{217,864},{212,207}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,207}}</string>
                <key>sourceSize</key>
                <string>{216,207}</string>
            </dict>
            <key>sfjh_std (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{473,764},{212,207}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,207}}</string>
                <key>sourceSize</key>
                <string>{216,207}</string>
            </dict>
            <key>sfjh_std (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1014},{212,205}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{212,205}}</string>
                <key>sourceSize</key>
                <string>{216,207}</string>
            </dict>
            <key>sfjh_std (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,932},{214,199}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{214,199}}</string>
                <key>sourceSize</key>
                <string>{216,207}</string>
            </dict>
            <key>sfjh_std (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{257,665},{214,197}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{214,197}}</string>
                <key>sourceSize</key>
                <string>{216,207}</string>
            </dict>
            <key>sfjh_std (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{539,565},{216,197}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{216,197}}</string>
                <key>sourceSize</key>
                <string>{216,207}</string>
            </dict>
            <key>sfjh_std (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1815,1017},{214,197}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{214,197}}</string>
                <key>sourceSize</key>
                <string>{216,207}</string>
            </dict>
            <key>sfjh_std (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{951,741},{214,201}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{214,201}}</string>
                <key>sourceSize</key>
                <string>{216,207}</string>
            </dict>
            <key>sfjh_std (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{687,776},{212,203}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{212,203}}</string>
                <key>sourceSize</key>
                <string>{216,207}</string>
            </dict>
            <key>sfjh_std (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1073},{210,207}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,207}}</string>
                <key>sourceSize</key>
                <string>{216,207}</string>
            </dict>
            <key>sfjh_std (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{431,973},{210,207}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,207}}</string>
                <key>sourceSize</key>
                <string>{216,207}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_shuangfu.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:946bcbca8596205ec1997a3dd803b84a$</string>
            <key>textureFileName</key>
            <string>m_shuangfu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
