<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nq_fb_atk001.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,369},{81,107}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,21},{81,107}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>nq_fb_atk002.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,478},{101,123}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,24},{101,123}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>nq_fb_atk003.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,238},{101,129}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,25},{101,129}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>nq_fb_atk004.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,238},{101,133}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,27},{101,133}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>nq_fb_atk005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{103,137}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,30},{103,137}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>nq_fb_atk006.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,399},{101,141}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,32},{101,141}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>nq_fb_atk007.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,297},{101,145}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,34},{101,145}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>nq_fb_atk008.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,82},{135,159}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{135,159}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>nq_fb_atk009.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,227},{145,141}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{145,141}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>nq_fb_atk010.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,82},{155,143}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{155,143}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>nq_fb_atk011.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{175,159}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{175,159}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>nq_fb_atk012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{175,171}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{175,171}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>nq_fb_atk013.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,370},{95,131}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,5},{95,131}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>nq_fb_run001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{80,129}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{80,129}}</string>
                <key>sourceSize</key>
                <string>{90,165}</string>
            </dict>
            <key>nq_fb_run002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{74,145}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{74,145}}</string>
                <key>sourceSize</key>
                <string>{90,165}</string>
            </dict>
            <key>nq_fb_run003.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,158},{74,149}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{74,149}}</string>
                <key>sourceSize</key>
                <string>{90,165}</string>
            </dict>
            <key>nq_fb_run004.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,82},{74,153}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{74,153}}</string>
                <key>sourceSize</key>
                <string>{90,165}</string>
            </dict>
            <key>nq_fb_run005.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,243},{76,155}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{76,155}}</string>
                <key>sourceSize</key>
                <string>{90,165}</string>
            </dict>
            <key>nq_fb_run006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{78,159}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{78,159}}</string>
                <key>sourceSize</key>
                <string>{90,165}</string>
            </dict>
            <key>nq_fb_run007.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,2},{78,161}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{78,161}}</string>
                <key>sourceSize</key>
                <string>{90,165}</string>
            </dict>
            <key>nq_fb_run008.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,2},{78,165}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{78,165}}</string>
                <key>sourceSize</key>
                <string>{90,165}</string>
            </dict>
            <key>nq_fb_run009.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,482},{78,131}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{78,131}}</string>
                <key>sourceSize</key>
                <string>{90,165}</string>
            </dict>
            <key>nq_fb_run010.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,234},{76,135}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{76,135}}</string>
                <key>sourceSize</key>
                <string>{90,165}</string>
            </dict>
            <key>nq_fb_run011.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,452},{78,129}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{78,129}}</string>
                <key>sourceSize</key>
                <string>{90,165}</string>
            </dict>
            <key>nq_fb_run012.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,396},{80,131}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{80,131}}</string>
                <key>sourceSize</key>
                <string>{90,165}</string>
            </dict>
            <key>nq_fb_run013.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,341},{82,133}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,133}}</string>
                <key>sourceSize</key>
                <string>{90,165}</string>
            </dict>
            <key>nq_fb_std001.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,502},{80,129}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{80,129}}</string>
                <key>sourceSize</key>
                <string>{90,165}</string>
            </dict>
            <key>nq_fb_std002.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,321},{76,145}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{76,145}}</string>
                <key>sourceSize</key>
                <string>{90,165}</string>
            </dict>
            <key>nq_fb_std003.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,82},{76,149}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{76,149}}</string>
                <key>sourceSize</key>
                <string>{90,165}</string>
            </dict>
            <key>nq_fb_std004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{76,153}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{76,153}}</string>
                <key>sourceSize</key>
                <string>{90,165}</string>
            </dict>
            <key>nq_fb_std005.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,219},{76,155}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{76,155}}</string>
                <key>sourceSize</key>
                <string>{90,165}</string>
            </dict>
            <key>nq_fb_std006.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,163},{78,159}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{78,159}}</string>
                <key>sourceSize</key>
                <string>{90,165}</string>
            </dict>
            <key>nq_fb_std007.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{78,161}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{78,161}}</string>
                <key>sourceSize</key>
                <string>{90,165}</string>
            </dict>
            <key>nq_fb_std008.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{78,165}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{78,165}}</string>
                <key>sourceSize</key>
                <string>{90,165}</string>
            </dict>
            <key>nq_fb_std009.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,467},{78,131}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{78,131}}</string>
                <key>sourceSize</key>
                <string>{90,165}</string>
            </dict>
            <key>nq_fb_std010.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,160},{76,135}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{76,135}}</string>
                <key>sourceSize</key>
                <string>{90,165}</string>
            </dict>
            <key>nq_fb_std011.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,425},{78,129}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{78,129}}</string>
                <key>sourceSize</key>
                <string>{90,165}</string>
            </dict>
            <key>nq_fb_std012.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,400},{80,131}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{80,131}}</string>
                <key>sourceSize</key>
                <string>{90,165}</string>
            </dict>
            <key>nq_fb_std013.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,312},{82,133}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,133}}</string>
                <key>sourceSize</key>
                <string>{90,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nq_lingzhu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:434b641f9abf729ad2c9a580d91e70d3$</string>
            <key>textureFileName</key>
            <string>nq_lingzhu.png</string>
        </dict>
    </dict>
</plist>
