<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>nq_tx_xxf_001.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>119</integer>
				<key>originalHeight</key>
				<integer>119</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nq_tx_xxf_002.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>119</integer>
				<key>originalHeight</key>
				<integer>119</integer>
				<key>x</key>
				<integer>121</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nq_tx_xxf_003.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>119</integer>
				<key>originalHeight</key>
				<integer>119</integer>
				<key>x</key>
				<integer>242</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nq_tx_xxf_004.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>119</integer>
				<key>originalHeight</key>
				<integer>119</integer>
				<key>x</key>
				<integer>363</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nq_tx_xxf_005.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>119</integer>
				<key>originalHeight</key>
				<integer>119</integer>
				<key>x</key>
				<integer>484</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nq_sp_01.png</key>
			<dict>
				<key>width</key>
				<integer>331</integer>
				<key>height</key>
				<integer>255</integer>
				<key>originalWidth</key>
				<integer>331</integer>
				<key>originalHeight</key>
				<integer>255</integer>
				<key>x</key>
				<integer>605</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nq_sp_02.png</key>
			<dict>
				<key>width</key>
				<integer>331</integer>
				<key>height</key>
				<integer>255</integer>
				<key>originalWidth</key>
				<integer>331</integer>
				<key>originalHeight</key>
				<integer>255</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>257</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nq_sp_03.png</key>
			<dict>
				<key>width</key>
				<integer>331</integer>
				<key>height</key>
				<integer>255</integer>
				<key>originalWidth</key>
				<integer>331</integer>
				<key>originalHeight</key>
				<integer>255</integer>
				<key>x</key>
				<integer>333</integer>
				<key>y</key>
				<integer>257</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nq_sp_04.png</key>
			<dict>
				<key>width</key>
				<integer>331</integer>
				<key>height</key>
				<integer>255</integer>
				<key>originalWidth</key>
				<integer>331</integer>
				<key>originalHeight</key>
				<integer>255</integer>
				<key>x</key>
				<integer>666</integer>
				<key>y</key>
				<integer>257</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nq_sp_05.png</key>
			<dict>
				<key>width</key>
				<integer>331</integer>
				<key>height</key>
				<integer>255</integer>
				<key>originalWidth</key>
				<integer>331</integer>
				<key>originalHeight</key>
				<integer>255</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>514</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nq_sp_06.png</key>
			<dict>
				<key>width</key>
				<integer>331</integer>
				<key>height</key>
				<integer>255</integer>
				<key>originalWidth</key>
				<integer>331</integer>
				<key>originalHeight</key>
				<integer>255</integer>
				<key>x</key>
				<integer>333</integer>
				<key>y</key>
				<integer>514</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nq_sp_07.png</key>
			<dict>
				<key>width</key>
				<integer>331</integer>
				<key>height</key>
				<integer>255</integer>
				<key>originalWidth</key>
				<integer>331</integer>
				<key>originalHeight</key>
				<integer>255</integer>
				<key>x</key>
				<integer>666</integer>
				<key>y</key>
				<integer>514</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>nvqiang_sp_eff0.png</string>
			<key>realTextureFileName</key>
			<string>nvqiang_sp_eff0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>