<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pet_horse_atk001.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,436},{136,138}}</string>
                <key>offset</key>
                <string>{-26,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,86},{136,138}}</string>
                <key>sourceSize</key>
                <string>{286,224}</string>
            </dict>
            <key>pet_horse_atk002.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,312},{122,160}}</string>
                <key>offset</key>
                <string>{-23,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,51},{122,160}}</string>
                <key>sourceSize</key>
                <string>{286,224}</string>
            </dict>
            <key>pet_horse_atk003.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{174,154}}</string>
                <key>offset</key>
                <string>{-56,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,154}}</string>
                <key>sourceSize</key>
                <string>{286,224}</string>
            </dict>
            <key>pet_horse_atk004.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,140},{124,188}}</string>
                <key>offset</key>
                <string>{-41,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,26},{124,188}}</string>
                <key>sourceSize</key>
                <string>{286,224}</string>
            </dict>
            <key>pet_horse_atk005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,144}}</string>
                <key>offset</key>
                <string>{29,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,79},{228,144}}</string>
                <key>sourceSize</key>
                <string>{286,224}</string>
            </dict>
            <key>pet_horse_atk006.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{218,136}}</string>
                <key>offset</key>
                <string>{26,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,83},{218,136}}</string>
                <key>sourceSize</key>
                <string>{286,224}</string>
            </dict>
            <key>pet_horse_atk007.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{192,144}}</string>
                <key>offset</key>
                <string>{16,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,78},{192,144}}</string>
                <key>sourceSize</key>
                <string>{286,224}</string>
            </dict>
            <key>pet_horse_atk008.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,313},{152,146}}</string>
                <key>offset</key>
                <string>{-8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,72},{152,146}}</string>
                <key>sourceSize</key>
                <string>{286,224}</string>
            </dict>
            <key>pet_horse_atk009.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,458},{120,146}}</string>
                <key>offset</key>
                <string>{-25,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,72},{120,146}}</string>
                <key>sourceSize</key>
                <string>{286,224}</string>
            </dict>
            <key>pet_horse_atk010.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,461},{126,144}}</string>
                <key>offset</key>
                <string>{-32,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,75},{126,144}}</string>
                <key>sourceSize</key>
                <string>{286,224}</string>
            </dict>
            <key>pet_horse_move 001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{170,153}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{170,153}}</string>
                <key>sourceSize</key>
                <string>{176,159}</string>
            </dict>
            <key>pet_horse_move 002.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,305},{170,151}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{170,151}}</string>
                <key>sourceSize</key>
                <string>{176,159}</string>
            </dict>
            <key>pet_horse_move 003.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,266},{170,153}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{170,153}}</string>
                <key>sourceSize</key>
                <string>{176,159}</string>
            </dict>
            <key>pet_horse_move 004.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,421},{168,151}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{168,151}}</string>
                <key>sourceSize</key>
                <string>{176,159}</string>
            </dict>
            <key>pet_horse_move 005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{166,159}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{166,159}}</string>
                <key>sourceSize</key>
                <string>{176,159}</string>
            </dict>
            <key>pet_horse_move 006.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,148},{170,155}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{170,155}}</string>
                <key>sourceSize</key>
                <string>{176,159}</string>
            </dict>
            <key>pet_horse_move 007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{174,155}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{174,155}}</string>
                <key>sourceSize</key>
                <string>{176,159}</string>
            </dict>
            <key>pet_horse_move 008.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{174,153}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{174,153}}</string>
                <key>sourceSize</key>
                <string>{176,159}</string>
            </dict>
            <key>pet_horse_move 009.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,157},{172,153}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{172,153}}</string>
                <key>sourceSize</key>
                <string>{176,159}</string>
            </dict>
            <key>pet_horse_move 010.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,158},{170,153}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{170,153}}</string>
                <key>sourceSize</key>
                <string>{176,159}</string>
            </dict>
            <key>pet_horse_std001.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,872},{126,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,144}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>pet_horse_std002.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,726},{126,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,144}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>pet_horse_std003.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,580},{126,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,144}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>pet_horse_std004.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,848},{126,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,144}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>pet_horse_std005.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,436},{124,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,144}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>pet_horse_std006.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,702},{126,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,144}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>pet_horse_std007.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,895},{126,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,144}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>pet_horse_std008.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,749},{126,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,144}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>pet_horse_std009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,895},{126,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,144}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>pet_horse_std010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,749},{126,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,144}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>pet_horse_std011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,621},{126,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,144}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>pet_horse_std012.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,574},{126,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,144}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet_horse_3.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:390edb2d4679eeda7b92311bc3111ce2$</string>
            <key>textureFileName</key>
            <string>pet_horse_3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
