<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pet_monkey_atk001.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{130,108}}</string>
                <key>offset</key>
                <string>{-28,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,73},{130,108}}</string>
                <key>sourceSize</key>
                <string>{218,194}</string>
            </dict>
            <key>pet_monkey_atk002.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,841},{90,102}}</string>
                <key>offset</key>
                <string>{-28,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,79},{90,102}}</string>
                <key>sourceSize</key>
                <string>{218,194}</string>
            </dict>
            <key>pet_monkey_atk003.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,178},{68,122}}</string>
                <key>offset</key>
                <string>{-42,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,59},{68,122}}</string>
                <key>sourceSize</key>
                <string>{218,194}</string>
            </dict>
            <key>pet_monkey_atk004.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,248},{94,120}}</string>
                <key>offset</key>
                <string>{-62,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{94,120}}</string>
                <key>sourceSize</key>
                <string>{218,194}</string>
            </dict>
            <key>pet_monkey_atk005.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,188},{72,116}}</string>
                <key>offset</key>
                <string>{-60,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{72,116}}</string>
                <key>sourceSize</key>
                <string>{218,194}</string>
            </dict>
            <key>pet_monkey_atk006.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,670},{70,114}}</string>
                <key>offset</key>
                <string>{-59,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{70,114}}</string>
                <key>sourceSize</key>
                <string>{218,194}</string>
            </dict>
            <key>pet_monkey_atk007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{70,114}}</string>
                <key>offset</key>
                <string>{-61,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,1},{70,114}}</string>
                <key>sourceSize</key>
                <string>{218,194}</string>
            </dict>
            <key>pet_monkey_atk008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{70,118}}</string>
                <key>offset</key>
                <string>{-63,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{70,118}}</string>
                <key>sourceSize</key>
                <string>{218,194}</string>
            </dict>
            <key>pet_monkey_atk009.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,112},{74,126}}</string>
                <key>offset</key>
                <string>{-39,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,13},{74,126}}</string>
                <key>sourceSize</key>
                <string>{218,194}</string>
            </dict>
            <key>pet_monkey_atk010.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,94},{82,168}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,13},{82,168}}</string>
                <key>sourceSize</key>
                <string>{218,194}</string>
            </dict>
            <key>pet_monkey_atk011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,90}}</string>
                <key>offset</key>
                <string>{18,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,98},{182,90}}</string>
                <key>sourceSize</key>
                <string>{218,194}</string>
            </dict>
            <key>pet_monkey_atk012.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{178,90}}</string>
                <key>offset</key>
                <string>{15,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,101},{178,90}}</string>
                <key>sourceSize</key>
                <string>{218,194}</string>
            </dict>
            <key>pet_monkey_atk013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{176,96}}</string>
                <key>offset</key>
                <string>{11,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,98},{176,96}}</string>
                <key>sourceSize</key>
                <string>{218,194}</string>
            </dict>
            <key>pet_monkey_move001.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,617},{115,110}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{115,110}}</string>
                <key>sourceSize</key>
                <string>{121,114}</string>
            </dict>
            <key>pet_monkey_move002.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,742},{111,106}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{111,106}}</string>
                <key>sourceSize</key>
                <string>{121,114}</string>
            </dict>
            <key>pet_monkey_move003.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,791},{107,108}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{107,108}}</string>
                <key>sourceSize</key>
                <string>{121,114}</string>
            </dict>
            <key>pet_monkey_move004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{111,108}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{111,108}}</string>
                <key>sourceSize</key>
                <string>{121,114}</string>
            </dict>
            <key>pet_monkey_move005.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,729},{113,110}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{113,110}}</string>
                <key>sourceSize</key>
                <string>{121,114}</string>
            </dict>
            <key>pet_monkey_move006.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,677},{113,112}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{113,112}}</string>
                <key>sourceSize</key>
                <string>{121,114}</string>
            </dict>
            <key>pet_monkey_move007.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,298},{119,108}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{119,108}}</string>
                <key>sourceSize</key>
                <string>{121,114}</string>
            </dict>
            <key>pet_monkey_move008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{121,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{121,110}}</string>
                <key>sourceSize</key>
                <string>{121,114}</string>
            </dict>
            <key>pet_monkey_move009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{119,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{119,112}}</string>
                <key>sourceSize</key>
                <string>{121,114}</string>
            </dict>
            <key>pet_monkey_move010.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,188},{121,108}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,108}}</string>
                <key>sourceSize</key>
                <string>{121,114}</string>
            </dict>
            <key>pet_monkey_std001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,511},{89,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{89,118}}</string>
                <key>sourceSize</key>
                <string>{91,118}</string>
            </dict>
            <key>pet_monkey_std002.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,437},{89,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{89,118}}</string>
                <key>sourceSize</key>
                <string>{91,118}</string>
            </dict>
            <key>pet_monkey_std003.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,306},{91,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,118}}</string>
                <key>sourceSize</key>
                <string>{91,118}</string>
            </dict>
            <key>pet_monkey_std004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{91,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,118}}</string>
                <key>sourceSize</key>
                <string>{91,118}</string>
            </dict>
            <key>pet_monkey_std005.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,344},{91,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,118}}</string>
                <key>sourceSize</key>
                <string>{91,118}</string>
            </dict>
            <key>pet_monkey_std006.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,408},{89,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,118}}</string>
                <key>sourceSize</key>
                <string>{91,118}</string>
            </dict>
            <key>pet_monkey_std007.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,399},{89,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,118}}</string>
                <key>sourceSize</key>
                <string>{91,118}</string>
            </dict>
            <key>pet_monkey_std008.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,579},{89,116}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,116}}</string>
                <key>sourceSize</key>
                <string>{91,118}</string>
            </dict>
            <key>pet_monkey_std009.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,588},{87,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{87,116}}</string>
                <key>sourceSize</key>
                <string>{91,118}</string>
            </dict>
            <key>pet_monkey_std010.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,528},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{91,118}</string>
            </dict>
            <key>pet_monkey_std011.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,499},{87,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{91,118}</string>
            </dict>
            <key>pet_monkey_std012.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,490},{87,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{91,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet_monkey_3.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fce73a11061a1c169625ff880ba153cd$</string>
            <key>textureFileName</key>
            <string>pet_monkey_3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
