<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pet_horse_atk001.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,262},{114,117}}</string>
                <key>offset</key>
                <string>{-22,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,70},{114,117}}</string>
                <key>sourceSize</key>
                <string>{238,187}</string>
            </dict>
            <key>pet_horse_atk002.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,255},{102,133}}</string>
                <key>offset</key>
                <string>{-19,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,43},{102,133}}</string>
                <key>sourceSize</key>
                <string>{238,187}</string>
            </dict>
            <key>pet_horse_atk003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{146,129}}</string>
                <key>offset</key>
                <string>{-46,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,129}}</string>
                <key>sourceSize</key>
                <string>{238,187}</string>
            </dict>
            <key>pet_horse_atk004.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,117},{104,157}}</string>
                <key>offset</key>
                <string>{-34,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,22},{104,157}}</string>
                <key>sourceSize</key>
                <string>{238,187}</string>
            </dict>
            <key>pet_horse_atk005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,121}}</string>
                <key>offset</key>
                <string>{24,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,66},{190,121}}</string>
                <key>sourceSize</key>
                <string>{238,187}</string>
            </dict>
            <key>pet_horse_atk006.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{182,113}}</string>
                <key>offset</key>
                <string>{22,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,70},{182,113}}</string>
                <key>sourceSize</key>
                <string>{238,187}</string>
            </dict>
            <key>pet_horse_atk007.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{160,121}}</string>
                <key>offset</key>
                <string>{14,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,64},{160,121}}</string>
                <key>sourceSize</key>
                <string>{238,187}</string>
            </dict>
            <key>pet_horse_atk008.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,353},{128,123}}</string>
                <key>offset</key>
                <string>{-7,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,59},{128,123}}</string>
                <key>sourceSize</key>
                <string>{238,187}</string>
            </dict>
            <key>pet_horse_atk009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{100,123}}</string>
                <key>offset</key>
                <string>{-20,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,59},{100,123}}</string>
                <key>sourceSize</key>
                <string>{238,187}</string>
            </dict>
            <key>pet_horse_atk010.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,264},{106,121}}</string>
                <key>offset</key>
                <string>{-27,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,62},{106,121}}</string>
                <key>sourceSize</key>
                <string>{238,187}</string>
            </dict>
            <key>pet_horse_move 001.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{143,128}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{143,128}}</string>
                <key>sourceSize</key>
                <string>{147,132}</string>
            </dict>
            <key>pet_horse_move 002.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,132},{143,126}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{143,126}}</string>
                <key>sourceSize</key>
                <string>{147,132}</string>
            </dict>
            <key>pet_horse_move 003.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,132},{141,128}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{141,128}}</string>
                <key>sourceSize</key>
                <string>{147,132}</string>
            </dict>
            <key>pet_horse_move 004.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,134},{141,128}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{141,128}}</string>
                <key>sourceSize</key>
                <string>{147,132}</string>
            </dict>
            <key>pet_horse_move 005.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,260},{139,132}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{139,132}}</string>
                <key>sourceSize</key>
                <string>{147,132}</string>
            </dict>
            <key>pet_horse_move 006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{143,130}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{143,130}}</string>
                <key>sourceSize</key>
                <string>{147,132}</string>
            </dict>
            <key>pet_horse_move 007.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{145,130}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{145,130}}</string>
                <key>sourceSize</key>
                <string>{147,132}</string>
            </dict>
            <key>pet_horse_move 008.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,223},{145,128}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{145,128}}</string>
                <key>sourceSize</key>
                <string>{147,132}</string>
            </dict>
            <key>pet_horse_move 009.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,125},{145,128}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{145,128}}</string>
                <key>sourceSize</key>
                <string>{147,132}</string>
            </dict>
            <key>pet_horse_move 010.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,2},{143,128}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{143,128}}</string>
                <key>sourceSize</key>
                <string>{147,132}</string>
            </dict>
            <key>pet_horse_std001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{105,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,120}}</string>
                <key>sourceSize</key>
                <string>{105,120}</string>
            </dict>
            <key>pet_horse_std002.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,478},{105,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,120}}</string>
                <key>sourceSize</key>
                <string>{105,120}</string>
            </dict>
            <key>pet_horse_std003.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,503},{105,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,120}}</string>
                <key>sourceSize</key>
                <string>{105,120}</string>
            </dict>
            <key>pet_horse_std004.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,476},{105,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,120}}</string>
                <key>sourceSize</key>
                <string>{105,120}</string>
            </dict>
            <key>pet_horse_std005.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,394},{105,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,120}}</string>
                <key>sourceSize</key>
                <string>{105,120}</string>
            </dict>
            <key>pet_horse_std006.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,372},{105,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,120}}</string>
                <key>sourceSize</key>
                <string>{105,120}</string>
            </dict>
            <key>pet_horse_std007.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,466},{105,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,120}}</string>
                <key>sourceSize</key>
                <string>{105,120}</string>
            </dict>
            <key>pet_horse_std008.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,372},{105,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,120}}</string>
                <key>sourceSize</key>
                <string>{105,120}</string>
            </dict>
            <key>pet_horse_std009.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,381},{105,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,120}}</string>
                <key>sourceSize</key>
                <string>{105,120}</string>
            </dict>
            <key>pet_horse_std010.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,369},{105,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,120}}</string>
                <key>sourceSize</key>
                <string>{105,120}</string>
            </dict>
            <key>pet_horse_std011.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,262},{105,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,120}}</string>
                <key>sourceSize</key>
                <string>{105,120}</string>
            </dict>
            <key>pet_horse_std012.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,359},{105,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,120}}</string>
                <key>sourceSize</key>
                <string>{105,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet_horse_3.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c162c3bfa7a7005d2f58fa6527391065$</string>
            <key>textureFileName</key>
            <string>pet_horse_3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
