<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pet_rabbit_atk001.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,645},{160,143}}</string>
                <key>offset</key>
                <string>{-33,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,52},{160,143}}</string>
                <key>sourceSize</key>
                <string>{340,241}</string>
            </dict>
            <key>pet_rabbit_atk002.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,820},{144,137}}</string>
                <key>offset</key>
                <string>{25,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,58},{144,137}}</string>
                <key>sourceSize</key>
                <string>{340,241}</string>
            </dict>
            <key>pet_rabbit_atk003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,189}}</string>
                <key>offset</key>
                <string>{4,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,52},{166,189}}</string>
                <key>sourceSize</key>
                <string>{340,241}</string>
            </dict>
            <key>pet_rabbit_atk004.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{134,177}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,49},{134,177}}</string>
                <key>sourceSize</key>
                <string>{340,241}</string>
            </dict>
            <key>pet_rabbit_atk005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{158,177}}</string>
                <key>offset</key>
                <string>{-70,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{158,177}}</string>
                <key>sourceSize</key>
                <string>{340,241}</string>
            </dict>
            <key>pet_rabbit_atk006.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,887},{130,131}}</string>
                <key>offset</key>
                <string>{-63,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,18},{130,131}}</string>
                <key>sourceSize</key>
                <string>{340,241}</string>
            </dict>
            <key>pet_rabbit_atk007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{220,139}}</string>
                <key>offset</key>
                <string>{60,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,0},{220,139}}</string>
                <key>sourceSize</key>
                <string>{340,241}</string>
            </dict>
            <key>pet_rabbit_atk008.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,149},{186,157}}</string>
                <key>offset</key>
                <string>{-77,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{186,157}}</string>
                <key>sourceSize</key>
                <string>{340,241}</string>
            </dict>
            <key>pet_rabbit_atk009.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,468},{150,175}}</string>
                <key>offset</key>
                <string>{-50,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,20},{150,175}}</string>
                <key>sourceSize</key>
                <string>{340,241}</string>
            </dict>
            <key>pet_rabbit_atk010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{170,145}}</string>
                <key>offset</key>
                <string>{30,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,53},{170,145}}</string>
                <key>sourceSize</key>
                <string>{340,241}</string>
            </dict>
            <key>pet_rabbit_atk011.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,887},{138,133}}</string>
                <key>offset</key>
                <string>{-27,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,63},{138,133}}</string>
                <key>sourceSize</key>
                <string>{340,241}</string>
            </dict>
            <key>pet_rabbit_atk012.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{192,145}}</string>
                <key>offset</key>
                <string>{-51,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,51},{192,145}}</string>
                <key>sourceSize</key>
                <string>{340,241}</string>
            </dict>
            <key>pet_rabbit_atk013.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,337},{176,129}}</string>
                <key>offset</key>
                <string>{-44,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,66},{176,129}}</string>
                <key>sourceSize</key>
                <string>{340,241}</string>
            </dict>
            <key>pet_rabbit_atk014.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,305},{134,123}}</string>
                <key>offset</key>
                <string>{23,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,72},{134,123}}</string>
                <key>sourceSize</key>
                <string>{340,241}</string>
            </dict>
            <key>pet_rabbit_atk015.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,2},{126,161}}</string>
                <key>offset</key>
                <string>{19,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,34},{126,161}}</string>
                <key>sourceSize</key>
                <string>{340,241}</string>
            </dict>
            <key>pet_rabbit_atk016.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{84,151}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,44},{84,151}}</string>
                <key>sourceSize</key>
                <string>{340,241}</string>
            </dict>
            <key>pet_rabbit_move001.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,436},{149,153}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{149,153}}</string>
                <key>sourceSize</key>
                <string>{167,165}</string>
            </dict>
            <key>pet_rabbit_move002.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,2},{153,151}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{153,151}}</string>
                <key>sourceSize</key>
                <string>{167,165}</string>
            </dict>
            <key>pet_rabbit_move003.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,663},{155,155}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{155,155}}</string>
                <key>sourceSize</key>
                <string>{167,165}</string>
            </dict>
            <key>pet_rabbit_move004.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,504},{159,157}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{159,157}}</string>
                <key>sourceSize</key>
                <string>{167,165}</string>
            </dict>
            <key>pet_rabbit_move005.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,337},{165,157}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{165,157}}</string>
                <key>sourceSize</key>
                <string>{167,165}</string>
            </dict>
            <key>pet_rabbit_move006.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,138},{167,147}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{167,147}}</string>
                <key>sourceSize</key>
                <string>{167,165}</string>
            </dict>
            <key>pet_rabbit_move007.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,504},{163,143}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{163,143}}</string>
                <key>sourceSize</key>
                <string>{167,165}</string>
            </dict>
            <key>pet_rabbit_move008.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,649},{159,143}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,19},{159,143}}</string>
                <key>sourceSize</key>
                <string>{167,165}</string>
            </dict>
            <key>pet_rabbit_move009.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,281},{153,151}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{153,151}}</string>
                <key>sourceSize</key>
                <string>{167,165}</string>
            </dict>
            <key>pet_rabbit_move010.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,130},{149,157}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{149,157}}</string>
                <key>sourceSize</key>
                <string>{167,165}</string>
            </dict>
            <key>pet_rabbit_std001.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,739},{146,143}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{146,143}}</string>
                <key>sourceSize</key>
                <string>{160,143}</string>
            </dict>
            <key>pet_rabbit_std002.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,157},{146,143}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{146,143}}</string>
                <key>sourceSize</key>
                <string>{160,143}</string>
            </dict>
            <key>pet_rabbit_std003.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,88},{150,143}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{150,143}}</string>
                <key>sourceSize</key>
                <string>{160,143}</string>
            </dict>
            <key>pet_rabbit_std004.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,810},{152,143}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{152,143}}</string>
                <key>sourceSize</key>
                <string>{160,143}</string>
            </dict>
            <key>pet_rabbit_std005.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,281},{156,143}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{156,143}}</string>
                <key>sourceSize</key>
                <string>{160,143}</string>
            </dict>
            <key>pet_rabbit_std006.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,807},{158,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{158,143}}</string>
                <key>sourceSize</key>
                <string>{160,143}</string>
            </dict>
            <key>pet_rabbit_std007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,685},{160,141}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{160,141}}</string>
                <key>sourceSize</key>
                <string>{160,143}</string>
            </dict>
            <key>pet_rabbit_std008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,847},{158,139}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{158,139}}</string>
                <key>sourceSize</key>
                <string>{160,143}</string>
            </dict>
            <key>pet_rabbit_std009.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,663},{156,139}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{156,139}}</string>
                <key>sourceSize</key>
                <string>{160,143}</string>
            </dict>
            <key>pet_rabbit_std010.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,804},{154,139}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{154,139}}</string>
                <key>sourceSize</key>
                <string>{160,143}</string>
            </dict>
            <key>pet_rabbit_std011.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,587},{150,141}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{150,141}}</string>
                <key>sourceSize</key>
                <string>{160,143}</string>
            </dict>
            <key>pet_rabbit_std012.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,436},{146,143}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{146,143}}</string>
                <key>sourceSize</key>
                <string>{160,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet_rabbit_3.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:514fb6728782b8f5c594fdd3d219f5d6$</string>
            <key>textureFileName</key>
            <string>pet_rabbit_3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
