<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wdj_fb_run001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{125,192}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{125,192}}</string>
                <key>sourceSize</key>
                <string>{157,196}</string>
            </dict>
            <key>wdj_fb_run002.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,244},{133,190}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{133,190}}</string>
                <key>sourceSize</key>
                <string>{157,196}</string>
            </dict>
            <key>wdj_fb_run003.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,710},{133,170}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{133,170}}</string>
                <key>sourceSize</key>
                <string>{157,196}</string>
            </dict>
            <key>wdj_fb_run004.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,544},{139,164}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{139,164}}</string>
                <key>sourceSize</key>
                <string>{157,196}</string>
            </dict>
            <key>wdj_fb_run005.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,849},{147,172}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{147,172}}</string>
                <key>sourceSize</key>
                <string>{157,196}</string>
            </dict>
            <key>wdj_fb_run006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,990},{149,166}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{149,166}}</string>
                <key>sourceSize</key>
                <string>{157,196}</string>
            </dict>
            <key>wdj_fb_run007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1141},{145,164}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{145,164}}</string>
                <key>sourceSize</key>
                <string>{157,196}</string>
            </dict>
            <key>wdj_fb_run008.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1018},{153,164}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{153,164}}</string>
                <key>sourceSize</key>
                <string>{157,196}</string>
            </dict>
            <key>wdj_fb_run009.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,1048},{141,168}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{141,168}}</string>
                <key>sourceSize</key>
                <string>{157,196}</string>
            </dict>
            <key>wdj_fb_run010.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,975},{141,166}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,18},{141,166}}</string>
                <key>sourceSize</key>
                <string>{157,196}</string>
            </dict>
            <key>wdj_fb_run011.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,525},{145,166}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{145,166}}</string>
                <key>sourceSize</key>
                <string>{157,196}</string>
            </dict>
            <key>wdj_fb_run012.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,700},{147,172}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,20},{147,172}}</string>
                <key>sourceSize</key>
                <string>{157,196}</string>
            </dict>
            <key>wdj_fb_sk001.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,882},{131,164}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,45},{131,164}}</string>
                <key>sourceSize</key>
                <string>{289,278}</string>
            </dict>
            <key>wdj_fb_sk002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,825},{163,174}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,36},{163,174}}</string>
                <key>sourceSize</key>
                <string>{289,278}</string>
            </dict>
            <key>wdj_fb_sk003.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,853},{163,170}}</string>
                <key>offset</key>
                <string>{-7,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,40},{163,170}}</string>
                <key>sourceSize</key>
                <string>{289,278}</string>
            </dict>
            <key>wdj_fb_sk004.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,379},{163,184}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,26},{163,184}}</string>
                <key>sourceSize</key>
                <string>{289,278}</string>
            </dict>
            <key>wdj_fb_sk005.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,187},{197,210}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,21},{197,210}}</string>
                <key>sourceSize</key>
                <string>{289,278}</string>
            </dict>
            <key>wdj_fb_sk006.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,214},{165,202}}</string>
                <key>offset</key>
                <string>{-8,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,8},{165,202}}</string>
                <key>sourceSize</key>
                <string>{289,278}</string>
            </dict>
            <key>wdj_fb_sk007.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,386},{169,182}}</string>
                <key>offset</key>
                <string>{-13,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,28},{169,182}}</string>
                <key>sourceSize</key>
                <string>{289,278}</string>
            </dict>
            <key>wdj_fb_sk008.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,2},{241,210}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,29},{241,210}}</string>
                <key>sourceSize</key>
                <string>{289,278}</string>
            </dict>
            <key>wdj_fb_sk009.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{229,240}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{229,240}}</string>
                <key>sourceSize</key>
                <string>{289,278}</string>
            </dict>
            <key>wdj_fb_sk010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{289,262}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,262}}</string>
                <key>sourceSize</key>
                <string>{289,278}</string>
            </dict>
            <key>wdj_fb_sk011.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{183,252}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,26},{183,252}}</string>
                <key>sourceSize</key>
                <string>{289,278}</string>
            </dict>
            <key>wdj_fb_sk012.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,693},{161,158}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,49},{161,158}}</string>
                <key>sourceSize</key>
                <string>{289,278}</string>
            </dict>
            <key>wdj_fb_std001.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,557},{140,179}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{140,179}}</string>
                <key>sourceSize</key>
                <string>{160,187}</string>
            </dict>
            <key>wdj_fb_std002.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,381},{142,183}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{142,183}}</string>
                <key>sourceSize</key>
                <string>{160,187}</string>
            </dict>
            <key>wdj_fb_std003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{146,181}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{146,181}}</string>
                <key>sourceSize</key>
                <string>{160,187}</string>
            </dict>
            <key>wdj_fb_std004.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,525},{144,179}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{144,179}}</string>
                <key>sourceSize</key>
                <string>{160,187}</string>
            </dict>
            <key>wdj_fb_std005.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,699},{152,177}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{152,177}}</string>
                <key>sourceSize</key>
                <string>{160,187}</string>
            </dict>
            <key>wdj_fb_std006.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,998},{142,171}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,16},{142,171}}</string>
                <key>sourceSize</key>
                <string>{160,187}</string>
            </dict>
            <key>wdj_fb_std007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{142,181}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{142,181}}</string>
                <key>sourceSize</key>
                <string>{160,187}</string>
            </dict>
            <key>wdj_fb_std008.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,853},{144,171}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{144,171}}</string>
                <key>sourceSize</key>
                <string>{160,187}</string>
            </dict>
            <key>wdj_fb_std009.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,825},{148,171}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{148,171}}</string>
                <key>sourceSize</key>
                <string>{160,187}</string>
            </dict>
            <key>wdj_fb_std010.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,544},{154,173}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{154,173}}</string>
                <key>sourceSize</key>
                <string>{160,187}</string>
            </dict>
            <key>wdj_fb_std011.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,671},{152,177}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{152,177}}</string>
                <key>sourceSize</key>
                <string>{160,187}</string>
            </dict>
            <key>wdj_fb_std012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,685},{138,179}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{138,179}}</string>
                <key>sourceSize</key>
                <string>{160,187}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wdj_quantao.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ab6d1b984cab46a1b93408b2f7d3590$</string>
            <key>textureFileName</key>
            <string>wdj_quantao.png</string>
        </dict>
    </dict>
</plist>
