<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>slt/wdj_slteff_d001.png</key>
			<dict>
				<key>width</key>
				<integer>295</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>295</integer>
				<key>originalHeight</key>
				<integer>136</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>slt/wdj_slteff_d002.png</key>
			<dict>
				<key>width</key>
				<integer>295</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>295</integer>
				<key>originalHeight</key>
				<integer>136</integer>
				<key>x</key>
				<integer>297</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>slt/wdj_slteff_d003.png</key>
			<dict>
				<key>width</key>
				<integer>295</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>295</integer>
				<key>originalHeight</key>
				<integer>136</integer>
				<key>x</key>
				<integer>594</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>slt/wdj_slteff_d004.png</key>
			<dict>
				<key>width</key>
				<integer>295</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>295</integer>
				<key>originalHeight</key>
				<integer>136</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>138</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>slt/wdj_slteff_001.png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>173</integer>
				<key>x</key>
				<integer>297</integer>
				<key>y</key>
				<integer>138</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>slt/wdj_slteff_002.png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>173</integer>
				<key>x</key>
				<integer>511</integer>
				<key>y</key>
				<integer>138</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>slt/wdj_slteff_003.png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>173</integer>
				<key>x</key>
				<integer>725</integer>
				<key>y</key>
				<integer>138</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>slt/wdj_slteff_004.png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>173</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>313</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>slt/wdj_slteff_005.png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>173</integer>
				<key>x</key>
				<integer>214</integer>
				<key>y</key>
				<integer>313</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>slt/wdj_slteff_006.png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>173</integer>
				<key>x</key>
				<integer>428</integer>
				<key>y</key>
				<integer>313</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>slt/wdj_slteff_007.png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>173</integer>
				<key>x</key>
				<integer>642</integer>
				<key>y</key>
				<integer>313</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>slt/wdj_slteff_008.png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>173</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>488</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>slt/wdj_slteff_009.png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>173</integer>
				<key>x</key>
				<integer>214</integer>
				<key>y</key>
				<integer>488</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>slt/wdj_slteff_010.png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>173</integer>
				<key>x</key>
				<integer>428</integer>
				<key>y</key>
				<integer>488</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>slt/wdj_slteff_011.png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>173</integer>
				<key>x</key>
				<integer>642</integer>
				<key>y</key>
				<integer>488</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>slt/wdj_slteff_012.png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>173</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>663</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>slt/wdj_slteff_013.png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>173</integer>
				<key>x</key>
				<integer>214</integer>
				<key>y</key>
				<integer>663</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>slt/wdj_slteff_014.png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>173</integer>
				<key>x</key>
				<integer>428</integer>
				<key>y</key>
				<integer>663</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>slt/wdj_slteff_015.png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>173</integer>
				<key>x</key>
				<integer>642</integer>
				<key>y</key>
				<integer>663</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>wdj_slt_eff0.png</string>
			<key>realTextureFileName</key>
			<string>wdj_slt_eff0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>