<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>wdj_atk2_0002.png</key>
			<dict>
				<key>width</key>
				<integer>194</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>198</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-9.19999694824219</real>
				<key>offsetY</key>
				<real>9.30000305175781</real>
			</dict>
			<key>wdj_atk2_0003.png</key>
			<dict>
				<key>width</key>
				<integer>234</integer>
				<key>height</key>
				<integer>180</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>198</integer>
				<key>x</key>
				<integer>196</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>11.6000061035156</real>
				<key>offsetY</key>
				<real>-9.44999694824219</real>
			</dict>
			<key>wdj_atk2_0004.png</key>
			<dict>
				<key>width</key>
				<integer>241</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>198</integer>
				<key>x</key>
				<integer>432</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>16.2000045776367</real>
				<key>offsetY</key>
				<real>-4.59999847412109</real>
			</dict>
			<key>wdj_atk2_0005.png</key>
			<dict>
				<key>width</key>
				<integer>155</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>198</integer>
				<key>x</key>
				<integer>675</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>76.4500045776367</real>
				<key>offsetY</key>
				<real>-44.5499992370605</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>wdj_atk2_eff0.png</string>
			<key>realTextureFileName</key>
			<string>wdj_atk2_eff0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>