<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wdj_std_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,829},{147,229}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,229}}</string>
                <key>sourceSize</key>
                <string>{147,235}</string>
            </dict>
            <key>wdj_std_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,598},{147,229}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,229}}</string>
                <key>sourceSize</key>
                <string>{147,235}</string>
            </dict>
            <key>wdj_std_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,300},{147,231}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,231}}</string>
                <key>sourceSize</key>
                <string>{147,235}</string>
            </dict>
            <key>wdj_std_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{147,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{147,231}}</string>
                <key>sourceSize</key>
                <string>{147,235}</string>
            </dict>
            <key>wdj_std_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{147,233}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{147,233}}</string>
                <key>sourceSize</key>
                <string>{147,235}</string>
            </dict>
            <key>wdj_std_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,233}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{147,233}}</string>
                <key>sourceSize</key>
                <string>{147,235}</string>
            </dict>
            <key>wdj_std_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,151},{147,231}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{147,231}}</string>
                <key>sourceSize</key>
                <string>{147,235}</string>
            </dict>
            <key>wdj_std_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{147,231}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{147,231}}</string>
                <key>sourceSize</key>
                <string>{147,235}</string>
            </dict>
            <key>wdj_std_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,829},{147,229}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{147,229}}</string>
                <key>sourceSize</key>
                <string>{147,235}</string>
            </dict>
            <key>wdj_std_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{147,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{147,229}}</string>
                <key>sourceSize</key>
                <string>{147,235}</string>
            </dict>
            <key>wdj_std_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,449},{147,229}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{147,229}}</string>
                <key>sourceSize</key>
                <string>{147,235}</string>
            </dict>
            <key>wdj_std_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{147,229}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,229}}</string>
                <key>sourceSize</key>
                <string>{147,235}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wdj_std.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a06d64926f740f18e6104fc6b263c277$</string>
            <key>textureFileName</key>
            <string>wdj_std.pvr.ccz</string>
        </dict>
    </dict>
</plist>
