<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>UI resource/common/common_bg.png</key>
			<dict>
				<key>width</key>
				<integer>255</integer>
				<key>height</key>
				<integer>255</integer>
				<key>originalWidth</key>
				<integer>255</integer>
				<key>originalHeight</key>
				<integer>255</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>UI resource/mission/reward.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>257</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>UI resource/mission/reward_down.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>408</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>UI resource/mission/complete.png</key>
			<dict>
				<key>width</key>
				<integer>295</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>295</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>559</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>UI resource/bag/item_back.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>64</integer>
				<key>x</key>
				<integer>856</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>UI resource/login/server_ok.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>922</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>UI resource/bag/money.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>26</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>956</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>wuhun_UI0.png</string>
			<key>realTextureFileName</key>
			<string>wuhun_UI0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>