<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wdj_cjb_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,731},{147,221}}</string>
                <key>offset</key>
                <string>{-16,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,45},{147,221}}</string>
                <key>sourceSize</key>
                <string>{199,287}</string>
            </dict>
            <key>wdj_cjb_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,500},{153,229}}</string>
                <key>offset</key>
                <string>{-19,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,58},{153,229}}</string>
                <key>sourceSize</key>
                <string>{199,287}</string>
            </dict>
            <key>wdj_cjb_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,745},{135,243}}</string>
                <key>offset</key>
                <string>{-20,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{135,243}}</string>
                <key>sourceSize</key>
                <string>{199,287}</string>
            </dict>
            <key>wdj_cjb_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{125,223}}</string>
                <key>offset</key>
                <string>{-16,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{125,223}}</string>
                <key>sourceSize</key>
                <string>{199,287}</string>
            </dict>
            <key>wdj_cjb_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{169,187}}</string>
                <key>offset</key>
                <string>{15,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,12},{169,187}}</string>
                <key>sourceSize</key>
                <string>{199,287}</string>
            </dict>
            <key>wdj_cjb_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,699},{109,209}}</string>
                <key>offset</key>
                <string>{-12,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,10},{109,209}}</string>
                <key>sourceSize</key>
                <string>{199,287}</string>
            </dict>
            <key>wdj_cjb_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{151,221}}</string>
                <key>offset</key>
                <string>{1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{151,221}}</string>
                <key>sourceSize</key>
                <string>{199,287}</string>
            </dict>
            <key>wdj_cjb_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,225},{107,217}}</string>
                <key>offset</key>
                <string>{-15,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,8},{107,217}}</string>
                <key>sourceSize</key>
                <string>{199,287}</string>
            </dict>
            <key>wdj_cjb_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,438},{167,207}}</string>
                <key>offset</key>
                <string>{11,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,12},{167,207}}</string>
                <key>sourceSize</key>
                <string>{199,287}</string>
            </dict>
            <key>wdj_cjb_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,215},{113,207}}</string>
                <key>offset</key>
                <string>{-14,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{113,207}}</string>
                <key>sourceSize</key>
                <string>{199,287}</string>
            </dict>
            <key>wdj_cjb_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,731},{151,217}}</string>
                <key>offset</key>
                <string>{1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,9},{151,217}}</string>
                <key>sourceSize</key>
                <string>{199,287}</string>
            </dict>
            <key>wdj_cjb_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,2},{133,211}}</string>
                <key>offset</key>
                <string>{-19,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{133,211}}</string>
                <key>sourceSize</key>
                <string>{199,287}</string>
            </dict>
            <key>wdj_cjb_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{135,243}}</string>
                <key>offset</key>
                <string>{-24,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{135,243}}</string>
                <key>sourceSize</key>
                <string>{199,287}</string>
            </dict>
            <key>wdj_cjb_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,249}}</string>
                <key>offset</key>
                <string>{-25,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{149,249}}</string>
                <key>sourceSize</key>
                <string>{199,287}</string>
            </dict>
            <key>wdj_cjb_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{143,245}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{143,245}}</string>
                <key>sourceSize</key>
                <string>{199,287}</string>
            </dict>
            <key>wdj_cjb_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,225},{153,211}}</string>
                <key>offset</key>
                <string>{-19,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,55},{153,211}}</string>
                <key>sourceSize</key>
                <string>{199,287}</string>
            </dict>
            <key>wdj_cjb_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,480},{149,217}}</string>
                <key>offset</key>
                <string>{-18,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,49},{149,217}}</string>
                <key>sourceSize</key>
                <string>{199,287}</string>
            </dict>
            <key>wdj_cjb_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,253},{147,225}}</string>
                <key>offset</key>
                <string>{-16,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,41},{147,225}}</string>
                <key>sourceSize</key>
                <string>{199,287}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wdj_cjb.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36829f2e2bbc657de15acecdc2fb4364$</string>
            <key>textureFileName</key>
            <string>wdj_cjb.pvr.ccz</string>
        </dict>
    </dict>
</plist>
