<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wdj_qcwq_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,286},{149,223}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,31},{149,223}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{161,225}}</string>
                <key>offset</key>
                <string>{-27,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,33},{161,225}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,257}}</string>
                <key>offset</key>
                <string>{-27,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,1},{131,257}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{117,241}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,12},{117,241}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,121},{163,233}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,14},{163,233}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,2},{107,237}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,14},{107,237}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,133},{151,227}}</string>
                <key>offset</key>
                <string>{-19,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,20},{151,227}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,111},{111,235}}</string>
                <key>offset</key>
                <string>{-33,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,11},{111,235}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2},{129,245}}</string>
                <key>offset</key>
                <string>{-40,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{129,245}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,224},{139,227}}</string>
                <key>offset</key>
                <string>{-41,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,15},{139,227}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,930},{181,205}}</string>
                <key>offset</key>
                <string>{32,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,37},{181,205}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,779},{123,217}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,23},{123,217}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1145},{147,189}}</string>
                <key>offset</key>
                <string>{-21,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,54},{147,189}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1375},{135,167}}</string>
                <key>offset</key>
                <string>{-6,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,77},{135,167}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1264},{169,179}}</string>
                <key>offset</key>
                <string>{-36,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,66},{169,179}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1210},{163,197}}</string>
                <key>offset</key>
                <string>{-34,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,50},{163,197}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1073},{135,207}}</string>
                <key>offset</key>
                <string>{-31,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,38},{135,207}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{155,209}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,36},{155,209}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,562},{115,215}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,33},{115,215}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{107,213}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,37},{107,213}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,365},{121,195}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,49},{121,195}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1205},{149,193}}</string>
                <key>offset</key>
                <string>{-23,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,56},{149,193}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,1113},{169,193}}</string>
                <key>offset</key>
                <string>{-25,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,58},{169,193}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,785},{143,217}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,30},{143,217}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,650},{145,213}}</string>
                <key>offset</key>
                <string>{-20,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,34},{145,213}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,797},{145,211}}</string>
                <key>offset</key>
                <string>{-20,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,36},{145,211}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,769},{145,211}}</string>
                <key>offset</key>
                <string>{-20,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,36},{145,211}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,839},{129,209}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,43},{129,209}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,944},{157,207}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,38},{157,207}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,970},{173,205}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,36},{173,205}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,998},{173,205}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,36},{173,205}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1103},{159,199}}</string>
                <key>offset</key>
                <string>{-22,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,49},{159,199}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,578},{219,205}}</string>
                <key>offset</key>
                <string>{-13,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,55},{219,205}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{219,209}}</string>
                <key>offset</key>
                <string>{-13,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,53},{219,209}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,437},{219,211}}</string>
                <key>offset</key>
                <string>{-13,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{219,211}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,435},{219,211}}</string>
                <key>offset</key>
                <string>{-13,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{219,211}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,365},{219,211}}</string>
                <key>offset</key>
                <string>{-13,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{219,211}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,648},{189,217}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,40},{189,217}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,286},{147,223}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,27},{147,223}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>wdj_qcwq_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{149,227}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,25},{149,227}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wdj_qcwq.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1969f4e0a726a16a6c235f5018e24e37$</string>
            <key>textureFileName</key>
            <string>wdj_qcwq.pvr.ccz</string>
        </dict>
    </dict>
</plist>
