<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wdj_czbq1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,698},{168,224}}</string>
                <key>offset</key>
                <string>{20,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,18},{168,224}}</string>
                <key>sourceSize</key>
                <string>{214,254}</string>
            </dict>
            <key>wdj_czbq1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,228},{142,224}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,22},{142,224}}</string>
                <key>sourceSize</key>
                <string>{214,254}</string>
            </dict>
            <key>wdj_czbq1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,456},{148,224}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,29},{148,224}}</string>
                <key>sourceSize</key>
                <string>{214,254}</string>
            </dict>
            <key>wdj_czbq1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{180,222}}</string>
                <key>offset</key>
                <string>{-17,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{180,222}}</string>
                <key>sourceSize</key>
                <string>{214,254}</string>
            </dict>
            <key>wdj_czbq1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{168,208}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,22},{168,208}}</string>
                <key>sourceSize</key>
                <string>{214,254}</string>
            </dict>
            <key>wdj_czbq1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,172},{158,206}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,19},{158,206}}</string>
                <key>sourceSize</key>
                <string>{214,254}</string>
            </dict>
            <key>wdj_czbq1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,470},{174,226}}</string>
                <key>offset</key>
                <string>{20,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,8},{174,226}}</string>
                <key>sourceSize</key>
                <string>{214,254}</string>
            </dict>
            <key>wdj_czbq1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{174,226}}</string>
                <key>offset</key>
                <string>{20,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,8},{174,226}}</string>
                <key>sourceSize</key>
                <string>{214,254}</string>
            </dict>
            <key>wdj_czbq1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{174,226}}</string>
                <key>offset</key>
                <string>{20,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,8},{174,226}}</string>
                <key>sourceSize</key>
                <string>{214,254}</string>
            </dict>
            <key>wdj_czbq1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{174,224}}</string>
                <key>offset</key>
                <string>{20,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{174,224}}</string>
                <key>sourceSize</key>
                <string>{214,254}</string>
            </dict>
            <key>wdj_czbq1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,230},{174,224}}</string>
                <key>offset</key>
                <string>{20,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{174,224}}</string>
                <key>sourceSize</key>
                <string>{214,254}</string>
            </dict>
            <key>wdj_czbq1012.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,238},{140,230}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,6},{140,230}}</string>
                <key>sourceSize</key>
                <string>{214,254}</string>
            </dict>
            <key>wdj_czbq1013.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{90,234}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,3},{90,234}}</string>
                <key>sourceSize</key>
                <string>{214,254}</string>
            </dict>
            <key>wdj_czbq1014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,240}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{92,240}}</string>
                <key>sourceSize</key>
                <string>{214,254}</string>
            </dict>
            <key>wdj_czbq1015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{112,238}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{112,238}}</string>
                <key>sourceSize</key>
                <string>{214,254}</string>
            </dict>
            <key>wdj_czbq1016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{148,232}}</string>
                <key>offset</key>
                <string>{17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,4},{148,232}}</string>
                <key>sourceSize</key>
                <string>{214,254}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wdj_czbq.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5000ad0031e16dcdc1e41f10e6696fe2$</string>
            <key>textureFileName</key>
            <string>wdj_czbq.pvr.ccz</string>
        </dict>
    </dict>
</plist>
