<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zgq0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{161,201}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,56},{161,201}}</string>
                <key>sourceSize</key>
                <string>{161,265}</string>
            </dict>
            <key>zgq0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,508},{133,177}}</string>
                <key>offset</key>
                <string>{-6,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,88},{133,177}}</string>
                <key>sourceSize</key>
                <string>{161,265}</string>
            </dict>
            <key>zgq0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,643},{127,171}}</string>
                <key>offset</key>
                <string>{10,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,80},{127,171}}</string>
                <key>sourceSize</key>
                <string>{161,265}</string>
            </dict>
            <key>zgq0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{131,173}}</string>
                <key>offset</key>
                <string>{-14,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,67},{131,173}}</string>
                <key>sourceSize</key>
                <string>{161,265}</string>
            </dict>
            <key>zgq0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,375},{131,189}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,50},{131,189}}</string>
                <key>sourceSize</key>
                <string>{161,265}</string>
            </dict>
            <key>zgq0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{123,245}}</string>
                <key>offset</key>
                <string>{-16,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{123,245}}</string>
                <key>sourceSize</key>
                <string>{161,265}</string>
            </dict>
            <key>zgq0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{123,245}}</string>
                <key>offset</key>
                <string>{-16,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{123,245}}</string>
                <key>sourceSize</key>
                <string>{161,265}</string>
            </dict>
            <key>zgq0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,245}}</string>
                <key>offset</key>
                <string>{-16,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{123,245}}</string>
                <key>sourceSize</key>
                <string>{161,265}</string>
            </dict>
            <key>zgq0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,276},{97,211}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,30},{97,211}}</string>
                <key>sourceSize</key>
                <string>{161,265}</string>
            </dict>
            <key>zgq0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{97,211}}</string>
                <key>offset</key>
                <string>{-16,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,38},{97,211}}</string>
                <key>sourceSize</key>
                <string>{161,265}</string>
            </dict>
            <key>zgq0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,127},{147,229}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,19},{147,229}}</string>
                <key>sourceSize</key>
                <string>{161,265}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wdj_zgq.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40d1655405662eb57b33243995a36c93$</string>
            <key>textureFileName</key>
            <string>wdj_zgq.pvr.ccz</string>
        </dict>
    </dict>
</plist>
