<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wdj_tsk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,300},{164,200}}</string>
                <key>offset</key>
                <string>{29,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,36},{164,200}}</string>
                <key>sourceSize</key>
                <string>{222,248}</string>
            </dict>
            <key>wdj_tsk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,302},{168,192}}</string>
                <key>offset</key>
                <string>{27,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,51},{168,192}}</string>
                <key>sourceSize</key>
                <string>{222,248}</string>
            </dict>
            <key>wdj_tsk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,466},{168,186}}</string>
                <key>offset</key>
                <string>{25,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,62},{168,186}}</string>
                <key>sourceSize</key>
                <string>{222,248}</string>
            </dict>
            <key>wdj_tsk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,304},{160,182}}</string>
                <key>offset</key>
                <string>{17,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,66},{160,182}}</string>
                <key>sourceSize</key>
                <string>{222,248}</string>
            </dict>
            <key>wdj_tsk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{172,186}}</string>
                <key>offset</key>
                <string>{-23,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,59},{172,186}}</string>
                <key>sourceSize</key>
                <string>{222,248}</string>
            </dict>
            <key>wdj_tsk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,190},{164,190}}</string>
                <key>offset</key>
                <string>{-29,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,49},{164,190}}</string>
                <key>sourceSize</key>
                <string>{222,248}</string>
            </dict>
            <key>wdj_tsk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{148,230}}</string>
                <key>offset</key>
                <string>{-15,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{148,230}}</string>
                <key>sourceSize</key>
                <string>{222,248}</string>
            </dict>
            <key>wdj_tsk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{148,230}}</string>
                <key>offset</key>
                <string>{-15,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{148,230}}</string>
                <key>sourceSize</key>
                <string>{222,248}</string>
            </dict>
            <key>wdj_tsk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{148,230}}</string>
                <key>offset</key>
                <string>{-15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{148,230}}</string>
                <key>sourceSize</key>
                <string>{222,248}</string>
            </dict>
            <key>wdj_tsk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{148,230}}</string>
                <key>offset</key>
                <string>{-15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{148,230}}</string>
                <key>sourceSize</key>
                <string>{222,248}</string>
            </dict>
            <key>wdj_tsk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{148,230}}</string>
                <key>offset</key>
                <string>{-15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{148,230}}</string>
                <key>sourceSize</key>
                <string>{222,248}</string>
            </dict>
            <key>wdj_tsk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,230}}</string>
                <key>offset</key>
                <string>{-15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{148,230}}</string>
                <key>sourceSize</key>
                <string>{222,248}</string>
            </dict>
            <key>wdj_tsk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,152},{148,208}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,24},{148,208}}</string>
                <key>sourceSize</key>
                <string>{222,248}</string>
            </dict>
            <key>wdj_tsk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,148},{154,214}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,21},{154,214}}</string>
                <key>sourceSize</key>
                <string>{222,248}</string>
            </dict>
            <key>wdj_tsk0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,152},{146,214}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,21},{146,214}}</string>
                <key>sourceSize</key>
                <string>{222,248}</string>
            </dict>
            <key>wdj_tsk0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{144,226}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,10},{144,226}}</string>
                <key>sourceSize</key>
                <string>{222,248}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wdj_tsk.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb2452748a6753601ace603dda2d7ff4$</string>
            <key>textureFileName</key>
            <string>wdj_tsk.pvr.ccz</string>
        </dict>
    </dict>
</plist>
