<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wdj_cqzt0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{140,219}}</string>
                <key>offset</key>
                <string>{-15,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,47},{140,219}}</string>
                <key>sourceSize</key>
                <string>{240,273}</string>
            </dict>
            <key>wdj_cqzt0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,348},{176,225}}</string>
                <key>offset</key>
                <string>{-10,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,39},{176,225}}</string>
                <key>sourceSize</key>
                <string>{240,273}</string>
            </dict>
            <key>wdj_cqzt0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,146},{200,231}}</string>
                <key>offset</key>
                <string>{-20,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{200,231}}</string>
                <key>sourceSize</key>
                <string>{240,273}</string>
            </dict>
            <key>wdj_cqzt0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,672},{120,223}}</string>
                <key>offset</key>
                <string>{-31,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,40},{120,223}}</string>
                <key>sourceSize</key>
                <string>{240,273}</string>
            </dict>
            <key>wdj_cqzt0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{142,233}}</string>
                <key>offset</key>
                <string>{-22,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,26},{142,233}}</string>
                <key>sourceSize</key>
                <string>{240,273}</string>
            </dict>
            <key>wdj_cqzt0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{178,253}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,9},{178,253}}</string>
                <key>sourceSize</key>
                <string>{240,273}</string>
            </dict>
            <key>wdj_cqzt0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{178,259}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,2},{178,259}}</string>
                <key>sourceSize</key>
                <string>{240,273}</string>
            </dict>
            <key>wdj_cqzt0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,263}}</string>
                <key>offset</key>
                <string>{22,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{196,263}}</string>
                <key>sourceSize</key>
                <string>{240,273}</string>
            </dict>
            <key>wdj_cqzt0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{156,261}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,2},{156,261}}</string>
                <key>sourceSize</key>
                <string>{240,273}</string>
            </dict>
            <key>wdj_cqzt0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{134,259}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,5},{134,259}}</string>
                <key>sourceSize</key>
                <string>{240,273}</string>
            </dict>
            <key>wdj_cqzt0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,794},{140,253}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,13},{140,253}}</string>
                <key>sourceSize</key>
                <string>{240,273}</string>
            </dict>
            <key>wdj_cqzt0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,526},{144,225}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,34},{144,225}}</string>
                <key>sourceSize</key>
                <string>{240,273}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wdj_qczt.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2af0bf51d46bc02bd481c802b4307388$</string>
            <key>textureFileName</key>
            <string>wdj_qczt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
