<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wdj_xfq_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{200,237}}</string>
                <key>offset</key>
                <string>{-28,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,46},{200,237}}</string>
                <key>sourceSize</key>
                <string>{256,283}</string>
            </dict>
            <key>wdj_xfq_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{110,241}}</string>
                <key>offset</key>
                <string>{-45,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,20},{110,241}}</string>
                <key>sourceSize</key>
                <string>{256,283}</string>
            </dict>
            <key>wdj_xfq_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{164,239}}</string>
                <key>offset</key>
                <string>{-38,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,35},{164,239}}</string>
                <key>sourceSize</key>
                <string>{256,283}</string>
            </dict>
            <key>wdj_xfq_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,380},{228,237}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,30},{228,237}}</string>
                <key>sourceSize</key>
                <string>{256,283}</string>
            </dict>
            <key>wdj_xfq_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,610},{228,235}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,32},{228,235}}</string>
                <key>sourceSize</key>
                <string>{256,283}</string>
            </dict>
            <key>wdj_xfq_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,168},{210,247}}</string>
                <key>offset</key>
                <string>{23,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,19},{210,247}}</string>
                <key>sourceSize</key>
                <string>{256,283}</string>
            </dict>
            <key>wdj_xfq_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{184,259}}</string>
                <key>offset</key>
                <string>{22,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,7},{184,259}}</string>
                <key>sourceSize</key>
                <string>{256,283}</string>
            </dict>
            <key>wdj_xfq_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,267}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,0},{136,267}}</string>
                <key>sourceSize</key>
                <string>{256,283}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wdj_xfq.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3c682a0c96897abcc0a4f80bbaca4b5$</string>
            <key>textureFileName</key>
            <string>wdj_xfq.pvr.ccz</string>
        </dict>
    </dict>
</plist>
