<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nq_skill3(1)_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{204,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,49}}</string>
                <key>sourceSize</key>
                <string>{204,49}</string>
            </dict>
            <key>nq_skill3(1)_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,98},{197,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,44}}</string>
                <key>sourceSize</key>
                <string>{197,44}</string>
            </dict>
            <key>nq_skill3(1)_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,346},{181,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,43}}</string>
                <key>sourceSize</key>
                <string>{181,43}</string>
            </dict>
            <key>nq_skill3(1)_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,123},{161,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,78}}</string>
                <key>sourceSize</key>
                <string>{161,78}</string>
            </dict>
            <key>nq_skill3(1)_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,55},{231,66}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{231,66}}</string>
                <key>sourceSize</key>
                <string>{241,80}</string>
            </dict>
            <key>nq_skill3(1)_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,893},{141,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,104}}</string>
                <key>sourceSize</key>
                <string>{141,104}</string>
            </dict>
            <key>nq_skill3(1)_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,184},{187,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,124}}</string>
                <key>sourceSize</key>
                <string>{187,124}</string>
            </dict>
            <key>nq_skill3(1)_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,275},{165,86}}</string>
                <key>offset</key>
                <string>{-30,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,86}}</string>
                <key>sourceSize</key>
                <string>{225,104}</string>
            </dict>
            <key>nq_skill3(1)_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,82},{223,100}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{223,100}}</string>
                <key>sourceSize</key>
                <string>{225,104}</string>
            </dict>
            <key>nq_skill3(1)_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,430},{128,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,122}}</string>
                <key>sourceSize</key>
                <string>{128,122}</string>
            </dict>
            <key>nq_skill3(1)_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,297},{47,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,56}}</string>
                <key>sourceSize</key>
                <string>{47,56}</string>
            </dict>
            <key>nq_skill3(1)_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,123},{184,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,140}}</string>
                <key>sourceSize</key>
                <string>{184,140}</string>
            </dict>
            <key>nq_skill3(1)_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,288},{176,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,150}}</string>
                <key>sourceSize</key>
                <string>{176,150}</string>
            </dict>
            <key>nq_skill3(1)_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{137,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,195}}</string>
                <key>sourceSize</key>
                <string>{137,195}</string>
            </dict>
            <key>nq_skill3(1)_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,893},{148,113}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{148,113}}</string>
                <key>sourceSize</key>
                <string>{218,113}</string>
            </dict>
            <key>nq_skill3(1)_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,105},{218,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,59}}</string>
                <key>sourceSize</key>
                <string>{218,59}</string>
            </dict>
            <key>nq_skill3(1)_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,612},{168,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,161}}</string>
                <key>sourceSize</key>
                <string>{168,161}</string>
            </dict>
            <key>nq_skill3(1)_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,2},{233,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,51}}</string>
                <key>sourceSize</key>
                <string>{233,51}</string>
            </dict>
            <key>nq_skill3(1)_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{78,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,259}}</string>
                <key>sourceSize</key>
                <string>{78,259}</string>
            </dict>
            <key>nq_skill3(1)_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{271,45}}</string>
                <key>offset</key>
                <string>{25,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,32},{271,45}}</string>
                <key>sourceSize</key>
                <string>{321,83}</string>
            </dict>
            <key>nq_skill3(1)_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{249,53}}</string>
                <key>offset</key>
                <string>{26,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,0},{249,53}}</string>
                <key>sourceSize</key>
                <string>{321,83}</string>
            </dict>
            <key>nq_skill3(1)_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{251,47}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,15},{251,47}}</string>
                <key>sourceSize</key>
                <string>{321,83}</string>
            </dict>
            <key>nq_skill3(1)_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,57},{246,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,46}}</string>
                <key>sourceSize</key>
                <string>{246,46}</string>
            </dict>
            <key>nq_skill3(1)_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,82},{191,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,52}}</string>
                <key>sourceSize</key>
                <string>{191,52}</string>
            </dict>
            <key>nq_skill3_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,684},{150,172}}</string>
                <key>offset</key>
                <string>{-33,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,18},{150,172}}</string>
                <key>sourceSize</key>
                <string>{230,218}</string>
            </dict>
            <key>nq_skill3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,700},{154,154}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,36},{154,154}}</string>
                <key>sourceSize</key>
                <string>{230,218}</string>
            </dict>
            <key>nq_skill3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,856},{148,138}}</string>
                <key>offset</key>
                <string>{-27,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,52},{148,138}}</string>
                <key>sourceSize</key>
                <string>{230,218}</string>
            </dict>
            <key>nq_skill3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{168,180}}</string>
                <key>offset</key>
                <string>{-31,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{168,180}}</string>
                <key>sourceSize</key>
                <string>{230,218}</string>
            </dict>
            <key>nq_skill3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,440},{110,176}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,35},{110,176}}</string>
                <key>sourceSize</key>
                <string>{230,218}</string>
            </dict>
            <key>nq_skill3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,424},{154,180}}</string>
                <key>offset</key>
                <string>{-29,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,33},{154,180}}</string>
                <key>sourceSize</key>
                <string>{230,218}</string>
            </dict>
            <key>nq_skill3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,552},{104,174}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,36},{104,174}}</string>
                <key>sourceSize</key>
                <string>{230,218}</string>
            </dict>
            <key>nq_skill3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,531},{160,174}}</string>
                <key>offset</key>
                <string>{-31,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,30},{160,174}}</string>
                <key>sourceSize</key>
                <string>{230,218}</string>
            </dict>
            <key>nq_skill3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,580},{102,174}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,34},{102,174}}</string>
                <key>sourceSize</key>
                <string>{230,218}</string>
            </dict>
            <key>nq_skill3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,393},{136,176}}</string>
                <key>offset</key>
                <string>{-24,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,31},{136,176}}</string>
                <key>sourceSize</key>
                <string>{230,218}</string>
            </dict>
            <key>nq_skill3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,166},{120,184}}</string>
                <key>offset</key>
                <string>{-21,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,34},{120,184}}</string>
                <key>sourceSize</key>
                <string>{230,218}</string>
            </dict>
            <key>nq_skill3_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,554},{136,144}}</string>
                <key>offset</key>
                <string>{-17,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,32},{136,144}}</string>
                <key>sourceSize</key>
                <string>{230,218}</string>
            </dict>
            <key>nq_skill3_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{100,190}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,6},{100,190}}</string>
                <key>sourceSize</key>
                <string>{230,218}</string>
            </dict>
            <key>nq_skill3_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,693},{138,162}}</string>
                <key>offset</key>
                <string>{-18,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,21},{138,162}}</string>
                <key>sourceSize</key>
                <string>{230,218}</string>
            </dict>
            <key>nq_skill3_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,856},{150,140}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,43},{150,140}}</string>
                <key>sourceSize</key>
                <string>{230,218}</string>
            </dict>
            <key>nq_skill3_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,893},{126,148}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,35},{126,148}}</string>
                <key>sourceSize</key>
                <string>{230,218}</string>
            </dict>
            <key>nq_skill3_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,310},{112,184}}</string>
                <key>offset</key>
                <string>{-9,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,0},{112,184}}</string>
                <key>sourceSize</key>
                <string>{230,218}</string>
            </dict>
            <key>nq_skill3_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{124,182}}</string>
                <key>offset</key>
                <string>{-19,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,1},{124,182}}</string>
                <key>sourceSize</key>
                <string>{230,218}</string>
            </dict>
            <key>nq_skill3_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{162,158}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,23},{162,158}}</string>
                <key>sourceSize</key>
                <string>{230,218}</string>
            </dict>
            <key>nq_skill3_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,442},{168,108}}</string>
                <key>offset</key>
                <string>{19,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,87},{168,108}}</string>
                <key>sourceSize</key>
                <string>{230,218}</string>
            </dict>
            <key>nq_skill3_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,265},{180,126}}</string>
                <key>offset</key>
                <string>{25,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,65},{180,126}}</string>
                <key>sourceSize</key>
                <string>{230,218}</string>
            </dict>
            <key>nq_skill3_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,775},{166,116}}</string>
                <key>offset</key>
                <string>{18,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,82},{166,116}}</string>
                <key>sourceSize</key>
                <string>{230,218}</string>
            </dict>
            <key>nq_skill3_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,286},{120,142}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,50},{120,142}}</string>
                <key>sourceSize</key>
                <string>{230,218}</string>
            </dict>
            <key>nq_skill3_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,658},{140,170}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,23},{140,170}}</string>
                <key>sourceSize</key>
                <string>{230,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nvqiang_blq.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ed98efaeeaf337723dd050cabf6ba2b$</string>
            <key>textureFileName</key>
            <string>nvqiang_blq.pvr.ccz</string>
        </dict>
    </dict>
</plist>
