<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nq_xzjd(1)_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,828},{169,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,48}}</string>
                <key>sourceSize</key>
                <string>{169,48}</string>
            </dict>
            <key>nq_xzjd(1)_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,698},{42,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,13}}</string>
                <key>sourceSize</key>
                <string>{42,13}</string>
            </dict>
            <key>nq_xzjd(1)_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,921},{78,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,34}}</string>
                <key>sourceSize</key>
                <string>{78,34}</string>
            </dict>
            <key>nq_xzjd(1)_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,939},{71,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,151}}</string>
                <key>sourceSize</key>
                <string>{71,151}</string>
            </dict>
            <key>nq_xzjd(1)_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,219},{243,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,93}}</string>
                <key>sourceSize</key>
                <string>{243,93}</string>
            </dict>
            <key>nq_xzjd(1)_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,278},{175,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,56}}</string>
                <key>sourceSize</key>
                <string>{175,56}</string>
            </dict>
            <key>nq_xzjd(1)_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,648},{145,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,108}}</string>
                <key>sourceSize</key>
                <string>{145,108}</string>
            </dict>
            <key>nq_xzjd(1)_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,533},{275,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,52}}</string>
                <key>sourceSize</key>
                <string>{275,52}</string>
            </dict>
            <key>nq_xzjd(1)_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,219},{272,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,44}}</string>
                <key>sourceSize</key>
                <string>{272,44}</string>
            </dict>
            <key>nq_xzjd(1)_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,464},{270,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,54}}</string>
                <key>sourceSize</key>
                <string>{270,54}</string>
            </dict>
            <key>nq_xzjd(1)_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,169},{239,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,35}}</string>
                <key>sourceSize</key>
                <string>{239,35}</string>
            </dict>
            <key>nq_xzjd(1)_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,455},{233,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,26}}</string>
                <key>sourceSize</key>
                <string>{233,26}</string>
            </dict>
            <key>nq_xzjd(1)_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,278},{54,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,102}}</string>
                <key>sourceSize</key>
                <string>{54,102}</string>
            </dict>
            <key>nq_xzjd(1)_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,382},{189,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,120}}</string>
                <key>sourceSize</key>
                <string>{189,120}</string>
            </dict>
            <key>nq_xzjd(1)_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,343},{152,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,55}}</string>
                <key>sourceSize</key>
                <string>{152,55}</string>
            </dict>
            <key>nq_xzjd(1)_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,795},{219,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,57}}</string>
                <key>sourceSize</key>
                <string>{219,57}</string>
            </dict>
            <key>nq_xzjd(1)_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,683},{57,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,139}}</string>
                <key>sourceSize</key>
                <string>{57,139}</string>
            </dict>
            <key>nq_xzjd(1)_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,320},{175,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,69}}</string>
                <key>sourceSize</key>
                <string>{175,69}</string>
            </dict>
            <key>nq_xzjd(1)_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1015},{7,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,8}}</string>
                <key>sourceSize</key>
                <string>{7,8}</string>
            </dict>
            <key>nq_xzjd(1)_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{312,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,49}}</string>
                <key>sourceSize</key>
                <string>{312,49}</string>
            </dict>
            <key>nq_xzjd(1)_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,770},{252,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,36}}</string>
                <key>sourceSize</key>
                <string>{252,36}</string>
            </dict>
            <key>nq_xzjd(1)_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,382},{243,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,36}}</string>
                <key>sourceSize</key>
                <string>{243,36}</string>
            </dict>
            <key>nq_xzjd(1)_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,698},{167,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,108}}</string>
                <key>sourceSize</key>
                <string>{167,108}</string>
            </dict>
            <key>nq_xzjd(1)_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,795},{39,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,124}}</string>
                <key>sourceSize</key>
                <string>{39,124}</string>
            </dict>
            <key>nq_xzjd(1)_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,690},{66,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,56}}</string>
                <key>sourceSize</key>
                <string>{66,56}</string>
            </dict>
            <key>nq_xzjd(1)_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,812},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>nq_xzjd(1)_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,812},{170,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,48}}</string>
                <key>sourceSize</key>
                <string>{170,48}</string>
            </dict>
            <key>nq_xzjd_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{183,169}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,71},{183,169}}</string>
                <key>sourceSize</key>
                <string>{197,257}</string>
            </dict>
            <key>nq_xzjd_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,504},{177,139}}</string>
                <key>offset</key>
                <string>{4,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,111},{177,139}}</string>
                <key>sourceSize</key>
                <string>{197,257}</string>
            </dict>
            <key>nq_xzjd_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,497},{127,149}}</string>
                <key>offset</key>
                <string>{32,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,103},{127,149}}</string>
                <key>sourceSize</key>
                <string>{197,257}</string>
            </dict>
            <key>nq_xzjd_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,351},{145,143}}</string>
                <key>offset</key>
                <string>{20,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,100},{145,143}}</string>
                <key>sourceSize</key>
                <string>{197,257}</string>
            </dict>
            <key>nq_xzjd_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{171,189}}</string>
                <key>offset</key>
                <string>{7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,55},{171,189}}</string>
                <key>sourceSize</key>
                <string>{197,257}</string>
            </dict>
            <key>nq_xzjd_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,499},{113,197}}</string>
                <key>offset</key>
                <string>{26,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,0},{113,197}}</string>
                <key>sourceSize</key>
                <string>{197,257}</string>
            </dict>
            <key>nq_xzjd_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,867},{143,151}}</string>
                <key>offset</key>
                <string>{27,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{143,151}}</string>
                <key>sourceSize</key>
                <string>{197,257}</string>
            </dict>
            <key>nq_xzjd_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,2},{165,187}}</string>
                <key>offset</key>
                <string>{-16,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{165,187}}</string>
                <key>sourceSize</key>
                <string>{197,257}</string>
            </dict>
            <key>nq_xzjd_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,215}}</string>
                <key>offset</key>
                <string>{-19,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{159,215}}</string>
                <key>sourceSize</key>
                <string>{197,257}</string>
            </dict>
            <key>nq_xzjd_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,909},{111,163}}</string>
                <key>offset</key>
                <string>{37,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,86},{111,163}}</string>
                <key>sourceSize</key>
                <string>{197,257}</string>
            </dict>
            <key>nq_xzjd_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,659},{105,151}}</string>
                <key>offset</key>
                <string>{44,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,98},{105,151}}</string>
                <key>sourceSize</key>
                <string>{197,257}</string>
            </dict>
            <key>nq_xzjd_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,129},{107,147}}</string>
                <key>offset</key>
                <string>{44,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,110},{107,147}}</string>
                <key>sourceSize</key>
                <string>{197,257}</string>
            </dict>
            <key>nq_xzjd_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,2},{125,123}}</string>
                <key>offset</key>
                <string>{35,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,129},{125,123}}</string>
                <key>sourceSize</key>
                <string>{197,257}</string>
            </dict>
            <key>nq_xzjd_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,206},{135,121}}</string>
                <key>offset</key>
                <string>{25,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,122},{135,121}}</string>
                <key>sourceSize</key>
                <string>{197,257}</string>
            </dict>
            <key>nq_xzjd_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,167},{93,151}}</string>
                <key>offset</key>
                <string>{7,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,104},{93,151}}</string>
                <key>sourceSize</key>
                <string>{197,257}</string>
            </dict>
            <key>nq_xzjd_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,742},{153,165}}</string>
                <key>offset</key>
                <string>{-22,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,84},{153,165}}</string>
                <key>sourceSize</key>
                <string>{197,257}</string>
            </dict>
            <key>nq_xzjd_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,498},{163,161}}</string>
                <key>offset</key>
                <string>{-17,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,75},{163,161}}</string>
                <key>sourceSize</key>
                <string>{197,257}</string>
            </dict>
            <key>nq_xzjd_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,343},{89,153}}</string>
                <key>offset</key>
                <string>{25,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,81},{89,153}}</string>
                <key>sourceSize</key>
                <string>{197,257}</string>
            </dict>
            <key>nq_xzjd_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,498},{105,159}}</string>
                <key>offset</key>
                <string>{40,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,78},{105,159}}</string>
                <key>sourceSize</key>
                <string>{197,257}</string>
            </dict>
            <key>nq_xzjd_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,675},{93,181}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,73},{93,181}}</string>
                <key>sourceSize</key>
                <string>{197,257}</string>
            </dict>
            <key>nq_xzjd_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,663},{163,159}}</string>
                <key>offset</key>
                <string>{-16,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,76},{163,159}}</string>
                <key>sourceSize</key>
                <string>{197,257}</string>
            </dict>
            <key>nq_xzjd_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{99,203}}</string>
                <key>offset</key>
                <string>{43,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,36},{99,203}}</string>
                <key>sourceSize</key>
                <string>{197,257}</string>
            </dict>
            <key>nq_xzjd_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,828},{111,157}}</string>
                <key>offset</key>
                <string>{37,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,87},{111,157}}</string>
                <key>sourceSize</key>
                <string>{197,257}</string>
            </dict>
            <key>nq_xzjd_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,193},{187,155}}</string>
                <key>offset</key>
                <string>{-4,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,90},{187,155}}</string>
                <key>sourceSize</key>
                <string>{197,257}</string>
            </dict>
            <key>nq_xzjd_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{187,163}}</string>
                <key>offset</key>
                <string>{-4,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,83},{187,163}}</string>
                <key>sourceSize</key>
                <string>{197,257}</string>
            </dict>
            <key>nq_xzjd_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,173},{185,165}}</string>
                <key>offset</key>
                <string>{-5,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,81},{185,165}}</string>
                <key>sourceSize</key>
                <string>{197,257}</string>
            </dict>
            <key>nq_xzjd_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,360},{137,159}}</string>
                <key>offset</key>
                <string>{16,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,95},{137,159}}</string>
                <key>sourceSize</key>
                <string>{197,257}</string>
            </dict>
            <key>nq_xzjd_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,206},{143,161}}</string>
                <key>offset</key>
                <string>{21,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,84},{143,161}}</string>
                <key>sourceSize</key>
                <string>{197,257}</string>
            </dict>
            <key>nq_xzjd_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,770},{161,167}}</string>
                <key>offset</key>
                <string>{12,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,77},{161,167}}</string>
                <key>sourceSize</key>
                <string>{197,257}</string>
            </dict>
            <key>nq_xzjd_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,504},{181,169}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,71},{181,169}}</string>
                <key>sourceSize</key>
                <string>{197,257}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nvqiang_xzjd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79cdc084f2315be89ce2aaccce8b0a2e$</string>
            <key>textureFileName</key>
            <string>nvqiang_xzjd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
