<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nq_skill4(1)_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,51},{197,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,48}}</string>
                <key>sourceSize</key>
                <string>{197,48}</string>
            </dict>
            <key>nq_skill4(1)_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{177,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,40}}</string>
                <key>sourceSize</key>
                <string>{177,40}</string>
            </dict>
            <key>nq_skill4(1)_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,230},{178,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,83}}</string>
                <key>sourceSize</key>
                <string>{178,83}</string>
            </dict>
            <key>nq_skill4(1)_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,659},{122,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,142}}</string>
                <key>sourceSize</key>
                <string>{122,142}</string>
            </dict>
            <key>nq_skill4(1)_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,407},{165,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,47}}</string>
                <key>sourceSize</key>
                <string>{165,47}</string>
            </dict>
            <key>nq_skill4(1)_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,553},{45,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,149}}</string>
                <key>sourceSize</key>
                <string>{45,149}</string>
            </dict>
            <key>nq_skill4(1)_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,416},{45,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,95}}</string>
                <key>sourceSize</key>
                <string>{45,95}</string>
            </dict>
            <key>nq_skill4(1)_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,456},{64,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,154}}</string>
                <key>sourceSize</key>
                <string>{64,154}</string>
            </dict>
            <key>nq_skill4(1)_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,600},{57,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,144}}</string>
                <key>sourceSize</key>
                <string>{57,144}</string>
            </dict>
            <key>nq_skill4(1)_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,228},{68,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,166}}</string>
                <key>sourceSize</key>
                <string>{68,166}</string>
            </dict>
            <key>nq_skill4(1)_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,51},{71,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,175}}</string>
                <key>sourceSize</key>
                <string>{71,175}</string>
            </dict>
            <key>nq_skill4(1)_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{182,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,44}}</string>
                <key>sourceSize</key>
                <string>{182,44}</string>
            </dict>
            <key>nq_skill4(1)_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,363},{179,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,42}}</string>
                <key>sourceSize</key>
                <string>{179,42}</string>
            </dict>
            <key>nq_skill4(1)_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,142},{179,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,23}}</string>
                <key>sourceSize</key>
                <string>{179,23}</string>
            </dict>
            <key>nq_skill4(1)_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{182,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,43}}</string>
                <key>sourceSize</key>
                <string>{182,43}</string>
            </dict>
            <key>nq_skill4(1)_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{353,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,47}}</string>
                <key>sourceSize</key>
                <string>{353,47}</string>
            </dict>
            <key>nq_skill4(1)_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,2},{350,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,47}}</string>
                <key>sourceSize</key>
                <string>{350,47}</string>
            </dict>
            <key>nq_skill4_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,315},{157,171}}</string>
                <key>offset</key>
                <string>{-22,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,45},{157,171}}</string>
                <key>sourceSize</key>
                <string>{223,229}</string>
            </dict>
            <key>nq_skill4_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,257},{177,157}}</string>
                <key>offset</key>
                <string>{-22,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,59},{177,157}}</string>
                <key>sourceSize</key>
                <string>{223,229}</string>
            </dict>
            <key>nq_skill4_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,522},{153,151}}</string>
                <key>offset</key>
                <string>{-20,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,65},{153,151}}</string>
                <key>sourceSize</key>
                <string>{223,229}</string>
            </dict>
            <key>nq_skill4_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{119,185}}</string>
                <key>offset</key>
                <string>{-8,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,44},{119,185}}</string>
                <key>sourceSize</key>
                <string>{223,229}</string>
            </dict>
            <key>nq_skill4_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{169,175}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,18},{169,175}}</string>
                <key>sourceSize</key>
                <string>{223,229}</string>
            </dict>
            <key>nq_skill4_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,404},{147,137}}</string>
                <key>offset</key>
                <string>{16,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,32},{147,137}}</string>
                <key>sourceSize</key>
                <string>{223,229}</string>
            </dict>
            <key>nq_skill4_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,101},{127,193}}</string>
                <key>offset</key>
                <string>{21,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,0},{127,193}}</string>
                <key>sourceSize</key>
                <string>{223,229}</string>
            </dict>
            <key>nq_skill4_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,132},{123,193}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,18},{123,193}}</string>
                <key>sourceSize</key>
                <string>{223,229}</string>
            </dict>
            <key>nq_skill4_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,396},{133,169}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,26},{133,169}}</string>
                <key>sourceSize</key>
                <string>{223,229}</string>
            </dict>
            <key>nq_skill4_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,221},{125,181}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,25},{125,181}}</string>
                <key>sourceSize</key>
                <string>{223,229}</string>
            </dict>
            <key>nq_skill4_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,224},{179,137}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,38},{179,137}}</string>
                <key>sourceSize</key>
                <string>{223,229}</string>
            </dict>
            <key>nq_skill4_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,2},{217,89}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,53},{217,89}}</string>
                <key>sourceSize</key>
                <string>{223,229}</string>
            </dict>
            <key>nq_skill4_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,51},{215,79}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,85},{215,79}}</string>
                <key>sourceSize</key>
                <string>{223,229}</string>
            </dict>
            <key>nq_skill4_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,2},{217,89}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,72},{217,89}}</string>
                <key>sourceSize</key>
                <string>{223,229}</string>
            </dict>
            <key>nq_skill4_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{215,89}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{215,89}}</string>
                <key>sourceSize</key>
                <string>{223,229}</string>
            </dict>
            <key>nq_skill4_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,93},{129,181}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,34},{129,181}}</string>
                <key>sourceSize</key>
                <string>{223,229}</string>
            </dict>
            <key>nq_skill4_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,416},{117,141}}</string>
                <key>offset</key>
                <string>{7,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,75},{117,141}}</string>
                <key>sourceSize</key>
                <string>{223,229}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nvqiang_tanshe.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55457c76871a15da78c2a13e31ea6a5c$</string>
            <key>textureFileName</key>
            <string>nvqiang_tanshe.pvr.ccz</string>
        </dict>
    </dict>
</plist>
