<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nq_hitbelly(1)_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,32}}</string>
                <key>sourceSize</key>
                <string>{174,32}</string>
            </dict>
            <key>nq_hitbelly(1)_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,478},{86,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,32}}</string>
                <key>sourceSize</key>
                <string>{86,32}</string>
            </dict>
            <key>nq_hitbelly(1)_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,356},{140,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,29}}</string>
                <key>sourceSize</key>
                <string>{140,29}</string>
            </dict>
            <key>nq_hitbelly_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,160},{148,167}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{148,167}}</string>
                <key>sourceSize</key>
                <string>{154,167}</string>
            </dict>
            <key>nq_hitbelly_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,207},{132,161}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,6},{132,161}}</string>
                <key>sourceSize</key>
                <string>{154,167}</string>
            </dict>
            <key>nq_hitbelly_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{154,165}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{154,165}}</string>
                <key>sourceSize</key>
                <string>{154,167}</string>
            </dict>
            <key>nq_hithead(1)_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,172},{164,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,33}}</string>
                <key>sourceSize</key>
                <string>{164,33}</string>
            </dict>
            <key>nq_hithead(1)_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,356},{120,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,41}}</string>
                <key>sourceSize</key>
                <string>{120,41}</string>
            </dict>
            <key>nq_hithead(1)_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{152,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,35}}</string>
                <key>sourceSize</key>
                <string>{152,35}</string>
            </dict>
            <key>nq_hithead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{170,156}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{170,156}}</string>
                <key>sourceSize</key>
                <string>{170,168}</string>
            </dict>
            <key>nq_hithead_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{168,158}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{168,158}}</string>
                <key>sourceSize</key>
                <string>{170,168}</string>
            </dict>
            <key>nq_hithead_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{162,168}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{162,168}}</string>
                <key>sourceSize</key>
                <string>{170,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nvqiang_hit.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffbf892a5f410e733f9b25a9fbd487f9$</string>
            <key>textureFileName</key>
            <string>nvqiang_hit.pvr.ccz</string>
        </dict>
    </dict>
</plist>
