<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nq_fktj(1)_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,967},{167,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,48}}</string>
                <key>sourceSize</key>
                <string>{167,48}</string>
            </dict>
            <key>nq_fktj(1)_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,967},{52,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,56}}</string>
                <key>sourceSize</key>
                <string>{52,56}</string>
            </dict>
            <key>nq_fktj(1)_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,188},{136,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,73}}</string>
                <key>sourceSize</key>
                <string>{136,73}</string>
            </dict>
            <key>nq_fktj(1)_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{234,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,84}}</string>
                <key>sourceSize</key>
                <string>{234,84}</string>
            </dict>
            <key>nq_fktj(1)_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,184},{46,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,96}}</string>
                <key>sourceSize</key>
                <string>{46,96}</string>
            </dict>
            <key>nq_fktj(1)_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{232,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,49}}</string>
                <key>sourceSize</key>
                <string>{232,49}</string>
            </dict>
            <key>nq_fktj(1)_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,2},{161,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,97}}</string>
                <key>sourceSize</key>
                <string>{161,97}</string>
            </dict>
            <key>nq_fktj(1)_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,542},{144,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,43}}</string>
                <key>sourceSize</key>
                <string>{144,43}</string>
            </dict>
            <key>nq_fktj(1)_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,232},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>nq_fktj(1)_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,188},{142,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,79}}</string>
                <key>sourceSize</key>
                <string>{142,79}</string>
            </dict>
            <key>nq_fktj(1)_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,347}}</string>
                <key>sourceSize</key>
                <string>{68,347}</string>
            </dict>
            <key>nq_fktj(1)_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{207,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,49}}</string>
                <key>sourceSize</key>
                <string>{207,49}</string>
            </dict>
            <key>nq_fktj(1)_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{99,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,211}}</string>
                <key>sourceSize</key>
                <string>{99,211}</string>
            </dict>
            <key>nq_fktj(1)_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{99,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,211}}</string>
                <key>sourceSize</key>
                <string>{99,211}</string>
            </dict>
            <key>nq_fktj(1)_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{99,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,211}}</string>
                <key>sourceSize</key>
                <string>{99,211}</string>
            </dict>
            <key>nq_fktj(1)_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,215},{145,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,118}}</string>
                <key>sourceSize</key>
                <string>{145,118}</string>
            </dict>
            <key>nq_fktj(1)_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,342},{198,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,43}}</string>
                <key>sourceSize</key>
                <string>{198,43}</string>
            </dict>
            <key>nq_fktj(1)_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,967},{167,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,48}}</string>
                <key>sourceSize</key>
                <string>{167,48}</string>
            </dict>
            <key>nq_fktj_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,730},{184,170}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,23},{184,170}}</string>
                <key>sourceSize</key>
                <string>{218,198}</string>
            </dict>
            <key>nq_fktj_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,2},{180,180}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{180,180}}</string>
                <key>sourceSize</key>
                <string>{218,198}</string>
            </dict>
            <key>nq_fktj_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,332},{168,182}}</string>
                <key>offset</key>
                <string>{-25,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{168,182}}</string>
                <key>sourceSize</key>
                <string>{218,198}</string>
            </dict>
            <key>nq_fktj_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,2},{194,178}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{194,178}}</string>
                <key>sourceSize</key>
                <string>{218,198}</string>
            </dict>
            <key>nq_fktj_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,516},{168,178}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{168,178}}</string>
                <key>sourceSize</key>
                <string>{218,198}</string>
            </dict>
            <key>nq_fktj_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,326},{150,176}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,17},{150,176}}</string>
                <key>sourceSize</key>
                <string>{218,198}</string>
            </dict>
            <key>nq_fktj_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,777},{188,178}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{188,178}}</string>
                <key>sourceSize</key>
                <string>{218,198}</string>
            </dict>
            <key>nq_fktj_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,587},{188,178}}</string>
                <key>offset</key>
                <string>{-15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{188,178}}</string>
                <key>sourceSize</key>
                <string>{218,198}</string>
            </dict>
            <key>nq_fktj_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,342},{194,196}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,196}}</string>
                <key>sourceSize</key>
                <string>{218,198}</string>
            </dict>
            <key>nq_fktj_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,800},{202,162}}</string>
                <key>offset</key>
                <string>{-8,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{202,162}}</string>
                <key>sourceSize</key>
                <string>{218,198}</string>
            </dict>
            <key>nq_fktj_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,540},{114,188}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,10},{114,188}}</string>
                <key>sourceSize</key>
                <string>{218,198}</string>
            </dict>
            <key>nq_fktj_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,198},{132,172}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,20},{132,172}}</string>
                <key>sourceSize</key>
                <string>{218,198}</string>
            </dict>
            <key>nq_fktj_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,916},{104,184}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,8},{104,184}}</string>
                <key>sourceSize</key>
                <string>{218,198}</string>
            </dict>
            <key>nq_fktj_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,236},{104,184}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,8},{104,184}}</string>
                <key>sourceSize</key>
                <string>{218,198}</string>
            </dict>
            <key>nq_fktj_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,521},{116,184}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,8},{116,184}}</string>
                <key>sourceSize</key>
                <string>{218,198}</string>
            </dict>
            <key>nq_fktj_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,335},{174,184}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,8},{174,184}}</string>
                <key>sourceSize</key>
                <string>{218,198}</string>
            </dict>
            <key>nq_fktj_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,101},{156,172}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,20},{156,172}}</string>
                <key>sourceSize</key>
                <string>{218,198}</string>
            </dict>
            <key>nq_fktj_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,2},{184,170}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,23},{184,170}}</string>
                <key>sourceSize</key>
                <string>{218,198}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nvqiang_fktj.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b86f23fa9d4dd7d928c5649e696d5ae9$</string>
            <key>textureFileName</key>
            <string>nvqiang_fktj.pvr.ccz</string>
        </dict>
    </dict>
</plist>
