<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nq_slill1(1)_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,609},{201,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,47}}</string>
                <key>sourceSize</key>
                <string>{201,47}</string>
            </dict>
            <key>nq_slill1(1)_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,2},{209,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,47}}</string>
                <key>sourceSize</key>
                <string>{209,47}</string>
            </dict>
            <key>nq_slill1(1)_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,276},{213,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,38}}</string>
                <key>sourceSize</key>
                <string>{213,38}</string>
            </dict>
            <key>nq_slill1(1)_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1237},{138,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,114}}</string>
                <key>sourceSize</key>
                <string>{138,114}</string>
            </dict>
            <key>nq_slill1(1)_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,354},{50,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,170}}</string>
                <key>sourceSize</key>
                <string>{50,170}</string>
            </dict>
            <key>nq_slill1(1)_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,921},{162,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,116}}</string>
                <key>sourceSize</key>
                <string>{162,116}</string>
            </dict>
            <key>nq_slill1(1)_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{306,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,194}}</string>
                <key>sourceSize</key>
                <string>{306,194}</string>
            </dict>
            <key>nq_slill1(1)_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,971},{25,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,159}}</string>
                <key>sourceSize</key>
                <string>{25,159}</string>
            </dict>
            <key>nq_slill1(1)_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{332,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,164}}</string>
                <key>sourceSize</key>
                <string>{332,164}</string>
            </dict>
            <key>nq_slill1(1)_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,168},{265,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,247}}</string>
                <key>sourceSize</key>
                <string>{265,247}</string>
            </dict>
            <key>nq_slill1(1)_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,213},{75,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,140}}</string>
                <key>sourceSize</key>
                <string>{75,140}</string>
            </dict>
            <key>nq_slill1(1)_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1304},{108,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,76}}</string>
                <key>sourceSize</key>
                <string>{108,76}</string>
            </dict>
            <key>nq_slill1(1)_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,167},{269,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,206}}</string>
                <key>sourceSize</key>
                <string>{269,206}</string>
            </dict>
            <key>nq_slill1(1)_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,354},{14,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,133}}</string>
                <key>sourceSize</key>
                <string>{14,133}</string>
            </dict>
            <key>nq_slill1(1)_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,355},{117,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,75}}</string>
                <key>sourceSize</key>
                <string>{117,75}</string>
            </dict>
            <key>nq_slill1(1)_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{295,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,163}}</string>
                <key>sourceSize</key>
                <string>{295,163}</string>
            </dict>
            <key>nq_slill1(1)_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,474},{46,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,142}}</string>
                <key>sourceSize</key>
                <string>{46,142}</string>
            </dict>
            <key>nq_slill1(1)_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1260},{110,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,85}}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>nq_slill1(1)_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{296,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,167}}</string>
                <key>sourceSize</key>
                <string>{296,167}</string>
            </dict>
            <key>nq_slill1(1)_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,417},{259,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,211}}</string>
                <key>sourceSize</key>
                <string>{259,211}</string>
            </dict>
            <key>nq_slill1(1)_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{338,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,44}}</string>
                <key>sourceSize</key>
                <string>{338,44}</string>
            </dict>
            <key>nq_slill1(1)_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,48},{226,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,28}}</string>
                <key>sourceSize</key>
                <string>{226,28}</string>
            </dict>
            <key>nq_slill1(1)_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,168},{127,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,62}}</string>
                <key>sourceSize</key>
                <string>{127,62}</string>
            </dict>
            <key>nq_slill1(1)_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,522},{159,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,113}}</string>
                <key>sourceSize</key>
                <string>{159,113}</string>
            </dict>
            <key>nq_slill1(1)_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1085},{122,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,94}}</string>
                <key>sourceSize</key>
                <string>{122,94}</string>
            </dict>
            <key>nq_slill1(1)_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,297},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>nq_slill1(1)_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,244},{7,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,15}}</string>
                <key>sourceSize</key>
                <string>{7,15}</string>
            </dict>
            <key>nq_slill1(1)_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1181},{131,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,121}}</string>
                <key>sourceSize</key>
                <string>{131,121}</string>
            </dict>
            <key>nq_slill1(1)_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,526},{201,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,47}}</string>
                <key>sourceSize</key>
                <string>{201,47}</string>
            </dict>
            <key>nq_slill1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1307},{152,172}}</string>
                <key>offset</key>
                <string>{-39,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,31},{152,172}}</string>
                <key>sourceSize</key>
                <string>{288,216}</string>
            </dict>
            <key>nq_slill1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,779},{144,158}}</string>
                <key>offset</key>
                <string>{-34,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,45},{144,158}}</string>
                <key>sourceSize</key>
                <string>{288,216}</string>
            </dict>
            <key>nq_slill1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1093},{146,150}}</string>
                <key>offset</key>
                <string>{-33,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,54},{146,150}}</string>
                <key>sourceSize</key>
                <string>{288,216}</string>
            </dict>
            <key>nq_slill1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{164,198}}</string>
                <key>offset</key>
                <string>{-61,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{164,198}}</string>
                <key>sourceSize</key>
                <string>{288,216}</string>
            </dict>
            <key>nq_slill1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,579},{112,196}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,10},{112,196}}</string>
                <key>sourceSize</key>
                <string>{288,216}</string>
            </dict>
            <key>nq_slill1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,845},{150,190}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,9},{150,190}}</string>
                <key>sourceSize</key>
                <string>{288,216}</string>
            </dict>
            <key>nq_slill1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,630},{100,194}}</string>
                <key>offset</key>
                <string>{-29,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,4},{100,194}}</string>
                <key>sourceSize</key>
                <string>{288,216}</string>
            </dict>
            <key>nq_slill1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,497},{110,202}}</string>
                <key>offset</key>
                <string>{-35,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,4},{110,202}}</string>
                <key>sourceSize</key>
                <string>{288,216}</string>
            </dict>
            <key>nq_slill1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,832},{118,186}}</string>
                <key>offset</key>
                <string>{-35,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,11},{118,186}}</string>
                <key>sourceSize</key>
                <string>{288,216}</string>
            </dict>
            <key>nq_slill1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,997},{124,188}}</string>
                <key>offset</key>
                <string>{-41,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,10},{124,188}}</string>
                <key>sourceSize</key>
                <string>{288,216}</string>
            </dict>
            <key>nq_slill1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,886},{126,190}}</string>
                <key>offset</key>
                <string>{-41,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,8},{126,190}}</string>
                <key>sourceSize</key>
                <string>{288,216}</string>
            </dict>
            <key>nq_slill1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,693},{150,190}}</string>
                <key>offset</key>
                <string>{-22,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,8},{150,190}}</string>
                <key>sourceSize</key>
                <string>{288,216}</string>
            </dict>
            <key>nq_slill1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,729},{112,190}}</string>
                <key>offset</key>
                <string>{-29,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,8},{112,190}}</string>
                <key>sourceSize</key>
                <string>{288,216}</string>
            </dict>
            <key>nq_slill1_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,375},{120,202}}</string>
                <key>offset</key>
                <string>{-34,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,8},{120,202}}</string>
                <key>sourceSize</key>
                <string>{288,216}</string>
            </dict>
            <key>nq_slill1_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,785},{172,184}}</string>
                <key>offset</key>
                <string>{-58,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{172,184}}</string>
                <key>sourceSize</key>
                <string>{288,216}</string>
            </dict>
            <key>nq_slill1_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1014},{146,184}}</string>
                <key>offset</key>
                <string>{-35,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,14},{146,184}}</string>
                <key>sourceSize</key>
                <string>{288,216}</string>
            </dict>
            <key>nq_slill1_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,732},{152,190}}</string>
                <key>offset</key>
                <string>{-37,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,14},{152,190}}</string>
                <key>sourceSize</key>
                <string>{288,216}</string>
            </dict>
            <key>nq_slill1_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,658},{172,198}}</string>
                <key>offset</key>
                <string>{-46,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{172,198}}</string>
                <key>sourceSize</key>
                <string>{288,216}</string>
            </dict>
            <key>nq_slill1_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,952},{164,180}}</string>
                <key>offset</key>
                <string>{-42,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{164,180}}</string>
                <key>sourceSize</key>
                <string>{288,216}</string>
            </dict>
            <key>nq_slill1_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1123},{182,182}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{182,182}}</string>
                <key>sourceSize</key>
                <string>{288,216}</string>
            </dict>
            <key>nq_slill1_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1162},{170,172}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,26},{170,172}}</string>
                <key>sourceSize</key>
                <string>{288,216}</string>
            </dict>
            <key>nq_slill1_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,939},{152,144}}</string>
                <key>offset</key>
                <string>{65,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,54},{152,144}}</string>
                <key>sourceSize</key>
                <string>{288,216}</string>
            </dict>
            <key>nq_slill1_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,637},{146,168}}</string>
                <key>offset</key>
                <string>{70,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,31},{146,168}}</string>
                <key>sourceSize</key>
                <string>{288,216}</string>
            </dict>
            <key>nq_slill1_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,491},{144,136}}</string>
                <key>offset</key>
                <string>{72,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,63},{144,136}}</string>
                <key>sourceSize</key>
                <string>{288,216}</string>
            </dict>
            <key>nq_slill1_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,637},{138,140}}</string>
                <key>offset</key>
                <string>{66,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,61},{138,140}}</string>
                <key>sourceSize</key>
                <string>{288,216}</string>
            </dict>
            <key>nq_slill1_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1103},{132,158}}</string>
                <key>offset</key>
                <string>{54,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,41},{132,158}}</string>
                <key>sourceSize</key>
                <string>{288,216}</string>
            </dict>
            <key>nq_slill1_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1118},{140,156}}</string>
                <key>offset</key>
                <string>{28,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,45},{140,156}}</string>
                <key>sourceSize</key>
                <string>{288,216}</string>
            </dict>
            <key>nq_slill1_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,971},{130,162}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,38},{130,162}}</string>
                <key>sourceSize</key>
                <string>{288,216}</string>
            </dict>
            <key>nq_slill1_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1245},{152,172}}</string>
                <key>offset</key>
                <string>{-39,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,31},{152,172}}</string>
                <key>sourceSize</key>
                <string>{288,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nvqiang_xfq.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6b5aaa95a3e0c389570432ca76f7307$</string>
            <key>textureFileName</key>
            <string>nvqiang_xfq.pvr.ccz</string>
        </dict>
    </dict>
</plist>
