<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nq_wyj(1)_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,706},{143,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,48}}</string>
                <key>sourceSize</key>
                <string>{143,48}</string>
            </dict>
            <key>nq_wyj(1)_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,985},{142,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,47}}</string>
                <key>sourceSize</key>
                <string>{142,47}</string>
            </dict>
            <key>nq_wyj(1)_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,341},{103,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,51}}</string>
                <key>sourceSize</key>
                <string>{103,51}</string>
            </dict>
            <key>nq_wyj(1)_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,308},{53,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,31}}</string>
                <key>sourceSize</key>
                <string>{53,31}</string>
            </dict>
            <key>nq_wyj(1)_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,434},{27,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,94}}</string>
                <key>sourceSize</key>
                <string>{27,94}</string>
            </dict>
            <key>nq_wyj(1)_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,96},{21,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,119}}</string>
                <key>sourceSize</key>
                <string>{21,119}</string>
            </dict>
            <key>nq_wyj(1)_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,308},{14,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,126}}</string>
                <key>sourceSize</key>
                <string>{14,126}</string>
            </dict>
            <key>nq_wyj(1)_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,436},{14,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,119}}</string>
                <key>sourceSize</key>
                <string>{14,119}</string>
            </dict>
            <key>nq_wyj(1)_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,845},{26,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,125}}</string>
                <key>sourceSize</key>
                <string>{26,125}</string>
            </dict>
            <key>nq_wyj(1)_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,293},{30,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,102}}</string>
                <key>sourceSize</key>
                <string>{30,102}</string>
            </dict>
            <key>nq_wyj(1)_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,594},{39,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,110}}</string>
                <key>sourceSize</key>
                <string>{39,110}</string>
            </dict>
            <key>nq_wyj(1)_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,811},{32,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,90}}</string>
                <key>sourceSize</key>
                <string>{32,90}</string>
            </dict>
            <key>nq_wyj(1)_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,706},{36,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,103}}</string>
                <key>sourceSize</key>
                <string>{36,103}</string>
            </dict>
            <key>nq_wyj(1)_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,845},{47,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,99}}</string>
                <key>sourceSize</key>
                <string>{47,99}</string>
            </dict>
            <key>nq_wyj(1)_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,1195},{101,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,11}}</string>
                <key>sourceSize</key>
                <string>{101,11}</string>
            </dict>
            <key>nq_wyj(1)_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,535},{37,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,19}}</string>
                <key>sourceSize</key>
                <string>{37,19}</string>
            </dict>
            <key>nq_wyj(1)_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,397},{35,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,28}}</string>
                <key>sourceSize</key>
                <string>{35,28}</string>
            </dict>
            <key>nq_wyj(1)_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,217},{21,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,42}}</string>
                <key>sourceSize</key>
                <string>{21,42}</string>
            </dict>
            <key>nq_wyj(1)_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,68},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>nq_wyj(1)_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,46}}</string>
                <key>sourceSize</key>
                <string>{324,46}</string>
            </dict>
            <key>nq_wyj(1)_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,261},{20,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{20,30}</string>
            </dict>
            <key>nq_wyj(1)_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,490},{43,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,37}</string>
            </dict>
            <key>nq_wyj(1)_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,446},{73,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,42}}</string>
                <key>sourceSize</key>
                <string>{73,42}</string>
            </dict>
            <key>nq_wyj(1)_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,557},{88,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,35}}</string>
                <key>sourceSize</key>
                <string>{88,35}</string>
            </dict>
            <key>nq_wyj(1)_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{269,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,64}}</string>
                <key>sourceSize</key>
                <string>{269,64}</string>
            </dict>
            <key>nq_wyj(1)_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{257,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,57}}</string>
                <key>sourceSize</key>
                <string>{257,57}</string>
            </dict>
            <key>nq_wyj(1)_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,50},{256,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,59}}</string>
                <key>sourceSize</key>
                <string>{256,59}</string>
            </dict>
            <key>nq_wyj(1)_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{257,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,57}}</string>
                <key>sourceSize</key>
                <string>{257,57}</string>
            </dict>
            <key>nq_wyj(1)_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,594},{152,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,48}}</string>
                <key>sourceSize</key>
                <string>{152,48}</string>
            </dict>
            <key>nq_wyj(1)_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,530},{174,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,38}}</string>
                <key>sourceSize</key>
                <string>{174,38}</string>
            </dict>
            <key>nq_wyj(1)_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,851},{132,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,48}}</string>
                <key>sourceSize</key>
                <string>{132,48}</string>
            </dict>
            <key>nq_wyj_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,857},{208,169}}</string>
                <key>offset</key>
                <string>{22,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,37},{208,169}}</string>
                <key>sourceSize</key>
                <string>{254,211}</string>
            </dict>
            <key>nq_wyj_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1015},{208,149}}</string>
                <key>offset</key>
                <string>{22,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,57},{208,149}}</string>
                <key>sourceSize</key>
                <string>{254,211}</string>
            </dict>
            <key>nq_wyj_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{172,191}}</string>
                <key>offset</key>
                <string>{41,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,20},{172,191}}</string>
                <key>sourceSize</key>
                <string>{254,211}</string>
            </dict>
            <key>nq_wyj_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,279},{236,161}}</string>
                <key>offset</key>
                <string>{9,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,48},{236,161}}</string>
                <key>sourceSize</key>
                <string>{254,211}</string>
            </dict>
            <key>nq_wyj_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1129},{206,159}}</string>
                <key>offset</key>
                <string>{18,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,51},{206,159}}</string>
                <key>sourceSize</key>
                <string>{254,211}</string>
            </dict>
            <key>nq_wyj_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1104},{210,179}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,31},{210,179}}</string>
                <key>sourceSize</key>
                <string>{254,211}</string>
            </dict>
            <key>nq_wyj_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,921},{216,181}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,29},{216,181}}</string>
                <key>sourceSize</key>
                <string>{254,211}</string>
            </dict>
            <key>nq_wyj_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,553},{214,189}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,21},{214,189}}</string>
                <key>sourceSize</key>
                <string>{254,211}</string>
            </dict>
            <key>nq_wyj_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{206,199}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{206,199}}</string>
                <key>sourceSize</key>
                <string>{254,211}</string>
            </dict>
            <key>nq_wyj_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,639},{220,193}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{220,193}}</string>
                <key>sourceSize</key>
                <string>{254,211}</string>
            </dict>
            <key>nq_wyj_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,984},{214,209}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{214,209}}</string>
                <key>sourceSize</key>
                <string>{254,211}</string>
            </dict>
            <key>nq_wyj_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,442},{232,195}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{232,195}}</string>
                <key>sourceSize</key>
                <string>{254,211}</string>
            </dict>
            <key>nq_wyj_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{222,211}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{222,211}}</string>
                <key>sourceSize</key>
                <string>{254,211}</string>
            </dict>
            <key>nq_wyj_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,159},{236,199}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{236,199}}</string>
                <key>sourceSize</key>
                <string>{254,211}</string>
            </dict>
            <key>nq_wyj_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,545},{230,203}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{230,203}}</string>
                <key>sourceSize</key>
                <string>{254,211}</string>
            </dict>
            <key>nq_wyj_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,769},{213,205}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,35},{213,205}}</string>
                <key>sourceSize</key>
                <string>{263,249}</string>
            </dict>
            <key>nq_wyj_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,2},{249,155}}</string>
                <key>offset</key>
                <string>{7,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,94},{249,155}}</string>
                <key>sourceSize</key>
                <string>{263,249}</string>
            </dict>
            <key>nq_wyj_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1553},{175,121}}</string>
                <key>offset</key>
                <string>{44,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,121},{175,121}}</string>
                <key>sourceSize</key>
                <string>{263,249}</string>
            </dict>
            <key>nq_wyj_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,376},{187,175}}</string>
                <key>offset</key>
                <string>{38,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,62},{187,175}}</string>
                <key>sourceSize</key>
                <string>{263,249}</string>
            </dict>
            <key>nq_wyj_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,360},{183,235}}</string>
                <key>offset</key>
                <string>{32,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,0},{183,235}}</string>
                <key>sourceSize</key>
                <string>{263,249}</string>
            </dict>
            <key>nq_wyj_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{251,131}}</string>
                <key>offset</key>
                <string>{6,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{251,131}}</string>
                <key>sourceSize</key>
                <string>{263,249}</string>
            </dict>
            <key>nq_wyj_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1516},{153,177}}</string>
                <key>offset</key>
                <string>{-12,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,22},{153,177}}</string>
                <key>sourceSize</key>
                <string>{263,249}</string>
            </dict>
            <key>nq_wyj_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1195},{163,209}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,13},{163,209}}</string>
                <key>sourceSize</key>
                <string>{263,249}</string>
            </dict>
            <key>nq_wyj_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{229,215}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{229,215}}</string>
                <key>sourceSize</key>
                <string>{263,249}</string>
            </dict>
            <key>nq_wyj_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,68},{245,209}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,25},{245,209}}</string>
                <key>sourceSize</key>
                <string>{263,249}</string>
            </dict>
            <key>nq_wyj_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1166},{193,199}}</string>
                <key>offset</key>
                <string>{20,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,49},{193,199}}</string>
                <key>sourceSize</key>
                <string>{263,249}</string>
            </dict>
            <key>nq_wyj_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,834},{219,179}}</string>
                <key>offset</key>
                <string>{22,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,54},{219,179}}</string>
                <key>sourceSize</key>
                <string>{263,249}</string>
            </dict>
            <key>nq_wyj_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{263,183}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,49},{263,183}}</string>
                <key>sourceSize</key>
                <string>{263,249}</string>
            </dict>
            <key>nq_wyj_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1229},{199,149}}</string>
                <key>offset</key>
                <string>{32,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,79},{199,149}}</string>
                <key>sourceSize</key>
                <string>{263,249}</string>
            </dict>
            <key>nq_wyj_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1361},{195,153}}</string>
                <key>offset</key>
                <string>{34,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,75},{195,153}}</string>
                <key>sourceSize</key>
                <string>{263,249}</string>
            </dict>
            <key>nq_wyj_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1337},{195,153}}</string>
                <key>offset</key>
                <string>{34,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,76},{195,153}}</string>
                <key>sourceSize</key>
                <string>{263,249}</string>
            </dict>
            <key>nq_wyj_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1285},{195,153}}</string>
                <key>offset</key>
                <string>{34,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,75},{195,153}}</string>
                <key>sourceSize</key>
                <string>{263,249}</string>
            </dict>
            <key>nq_wyj_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1380},{179,171}}</string>
                <key>offset</key>
                <string>{42,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,64},{179,171}}</string>
                <key>sourceSize</key>
                <string>{263,249}</string>
            </dict>
            <key>nq_wyj_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,195},{185,179}}</string>
                <key>offset</key>
                <string>{39,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,55},{185,179}}</string>
                <key>sourceSize</key>
                <string>{263,249}</string>
            </dict>
            <key>nq_wyj_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,750},{219,169}}</string>
                <key>offset</key>
                <string>{22,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,64},{219,169}}</string>
                <key>sourceSize</key>
                <string>{263,249}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nvqiang_wyj.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:820b98daa9517fb5f4272c0c57aa42d5$</string>
            <key>textureFileName</key>
            <string>nvqiang_wyj.pvr.ccz</string>
        </dict>
    </dict>
</plist>
