<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nq_skill2(1)_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{201,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,47}}</string>
                <key>sourceSize</key>
                <string>{201,47}</string>
            </dict>
            <key>nq_skill2(1)_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,115},{186,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,83}}</string>
                <key>sourceSize</key>
                <string>{186,83}</string>
            </dict>
            <key>nq_skill2(1)_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,308},{170,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,107}}</string>
                <key>sourceSize</key>
                <string>{170,107}</string>
            </dict>
            <key>nq_skill2(1)_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,415},{168,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,75}}</string>
                <key>sourceSize</key>
                <string>{168,75}</string>
            </dict>
            <key>nq_skill2(1)_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,912},{105,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,120}}</string>
                <key>sourceSize</key>
                <string>{105,120}</string>
            </dict>
            <key>nq_skill2(1)_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,323},{169,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,90}}</string>
                <key>sourceSize</key>
                <string>{169,90}</string>
            </dict>
            <key>nq_skill2(1)_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,911},{136,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,98}}</string>
                <key>sourceSize</key>
                <string>{136,98}</string>
            </dict>
            <key>nq_skill2(1)_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,196},{32,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,140}}</string>
                <key>sourceSize</key>
                <string>{32,140}</string>
            </dict>
            <key>nq_skill2(1)_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,635},{158,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,122}}</string>
                <key>sourceSize</key>
                <string>{158,122}</string>
            </dict>
            <key>nq_skill2(1)_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,200},{127,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,50}}</string>
                <key>sourceSize</key>
                <string>{127,50}</string>
            </dict>
            <key>nq_skill2(1)_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{202,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,55}}</string>
                <key>sourceSize</key>
                <string>{202,55}</string>
            </dict>
            <key>nq_skill2(1)_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,338},{142,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,59}}</string>
                <key>sourceSize</key>
                <string>{142,59}</string>
            </dict>
            <key>nq_skill2(1)_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,483},{140,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,49}}</string>
                <key>sourceSize</key>
                <string>{140,49}</string>
            </dict>
            <key>nq_skill2(1)_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,482},{146,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,46}}</string>
                <key>sourceSize</key>
                <string>{146,46}</string>
            </dict>
            <key>nq_skill2(1)_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,329},{152,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,67}}</string>
                <key>sourceSize</key>
                <string>{152,67}</string>
            </dict>
            <key>nq_skill2(1)_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{150,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,108}}</string>
                <key>sourceSize</key>
                <string>{150,108}</string>
            </dict>
            <key>nq_skill2(1)_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,568},{151,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,154}}</string>
                <key>sourceSize</key>
                <string>{151,154}</string>
            </dict>
            <key>nq_skill2(1)_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,604},{156,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,162}}</string>
                <key>sourceSize</key>
                <string>{156,162}</string>
            </dict>
            <key>nq_skill2(1)_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,492},{153,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,164}}</string>
                <key>sourceSize</key>
                <string>{153,164}</string>
            </dict>
            <key>nq_skill2(1)_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,762},{143,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,153}}</string>
                <key>sourceSize</key>
                <string>{143,153}</string>
            </dict>
            <key>nq_skill2(1)_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,476},{169,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,96}}</string>
                <key>sourceSize</key>
                <string>{169,96}</string>
            </dict>
            <key>nq_skill2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{153,171}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,24},{153,171}}</string>
                <key>sourceSize</key>
                <string>{253,203}</string>
            </dict>
            <key>nq_skill2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,762},{147,147}}</string>
                <key>offset</key>
                <string>{13,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,48},{147,147}}</string>
                <key>sourceSize</key>
                <string>{253,203}</string>
            </dict>
            <key>nq_skill2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{147,175}}</string>
                <key>offset</key>
                <string>{19,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,19},{147,175}}</string>
                <key>sourceSize</key>
                <string>{253,203}</string>
            </dict>
            <key>nq_skill2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,196},{137,181}}</string>
                <key>offset</key>
                <string>{23,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,16},{137,181}}</string>
                <key>sourceSize</key>
                <string>{253,203}</string>
            </dict>
            <key>nq_skill2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{111,193}}</string>
                <key>offset</key>
                <string>{36,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,0},{111,193}}</string>
                <key>sourceSize</key>
                <string>{253,203}</string>
            </dict>
            <key>nq_skill2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,759},{151,157}}</string>
                <key>offset</key>
                <string>{17,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,20},{151,157}}</string>
                <key>sourceSize</key>
                <string>{253,203}</string>
            </dict>
            <key>nq_skill2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,335},{173,139}}</string>
                <key>offset</key>
                <string>{40,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,5},{173,139}}</string>
                <key>sourceSize</key>
                <string>{253,203}</string>
            </dict>
            <key>nq_skill2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,647},{133,133}}</string>
                <key>offset</key>
                <string>{57,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,25},{133,133}}</string>
                <key>sourceSize</key>
                <string>{253,203}</string>
            </dict>
            <key>nq_skill2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,647},{121,133}}</string>
                <key>offset</key>
                <string>{29,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,40},{121,133}}</string>
                <key>sourceSize</key>
                <string>{253,203}</string>
            </dict>
            <key>nq_skill2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,574},{163,151}}</string>
                <key>offset</key>
                <string>{43,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,33},{163,151}}</string>
                <key>sourceSize</key>
                <string>{253,203}</string>
            </dict>
            <key>nq_skill2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,449},{153,171}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,32},{153,171}}</string>
                <key>sourceSize</key>
                <string>{253,203}</string>
            </dict>
            <key>nq_skill2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,2},{195,161}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,38},{195,161}}</string>
                <key>sourceSize</key>
                <string>{253,203}</string>
            </dict>
            <key>nq_skill2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,125}}</string>
                <key>offset</key>
                <string>{-19,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,73},{209,125}}</string>
                <key>sourceSize</key>
                <string>{253,203}</string>
            </dict>
            <key>nq_skill2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{207,137}}</string>
                <key>offset</key>
                <string>{-23,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{207,137}}</string>
                <key>sourceSize</key>
                <string>{253,203}</string>
            </dict>
            <key>nq_skill2_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,284},{179,163}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,33},{179,163}}</string>
                <key>sourceSize</key>
                <string>{253,203}</string>
            </dict>
            <key>nq_skill2_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,417},{149,167}}</string>
                <key>offset</key>
                <string>{18,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,29},{149,167}}</string>
                <key>sourceSize</key>
                <string>{253,203}</string>
            </dict>
            <key>nq_skill2_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,51},{143,185}}</string>
                <key>offset</key>
                <string>{52,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,11},{143,185}}</string>
                <key>sourceSize</key>
                <string>{253,203}</string>
            </dict>
            <key>nq_skill2_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,165},{141,185}}</string>
                <key>offset</key>
                <string>{52,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,11},{141,185}}</string>
                <key>sourceSize</key>
                <string>{253,203}</string>
            </dict>
            <key>nq_skill2_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,141},{141,183}}</string>
                <key>offset</key>
                <string>{51,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,13},{141,183}}</string>
                <key>sourceSize</key>
                <string>{253,203}</string>
            </dict>
            <key>nq_skill2_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{143,181}}</string>
                <key>offset</key>
                <string>{49,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,15},{143,181}}</string>
                <key>sourceSize</key>
                <string>{253,203}</string>
            </dict>
            <key>nq_skill2_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,200},{121,171}}</string>
                <key>offset</key>
                <string>{36,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,24},{121,171}}</string>
                <key>sourceSize</key>
                <string>{253,203}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nvqiang_dktc.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f1d89cf9b1f9a2288ba4dc97e4b6c4f$</string>
            <key>textureFileName</key>
            <string>nvqiang_dktc.pvr.ccz</string>
        </dict>
    </dict>
</plist>
