<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nq_atk(1)_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,339},{177,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,47}}</string>
                <key>sourceSize</key>
                <string>{177,47}</string>
            </dict>
            <key>nq_atk(1)_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,424},{119,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,43}}</string>
                <key>sourceSize</key>
                <string>{119,43}</string>
            </dict>
            <key>nq_atk(1)_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,690},{158,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,40}}</string>
                <key>sourceSize</key>
                <string>{158,40}</string>
            </dict>
            <key>nq_atk(1)_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,132},{210,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,40}}</string>
                <key>sourceSize</key>
                <string>{210,40}</string>
            </dict>
            <key>nq_atk(1)_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,258},{164,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,43}}</string>
                <key>sourceSize</key>
                <string>{164,43}</string>
            </dict>
            <key>nq_atk(1)_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1051},{145,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,84}}</string>
                <key>sourceSize</key>
                <string>{145,84}</string>
            </dict>
            <key>nq_atk(1)_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,369},{144,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,57}}</string>
                <key>sourceSize</key>
                <string>{144,57}</string>
            </dict>
            <key>nq_atk(1)_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,329},{196,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,47}}</string>
                <key>sourceSize</key>
                <string>{196,47}</string>
            </dict>
            <key>nq_atk(1)_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,545},{185,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,45}}</string>
                <key>sourceSize</key>
                <string>{185,45}</string>
            </dict>
            <key>nq_atk(1)_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,652},{167,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,45}}</string>
                <key>sourceSize</key>
                <string>{167,45}</string>
            </dict>
            <key>nq_atk(1)_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,560},{128,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,45}}</string>
                <key>sourceSize</key>
                <string>{128,45}</string>
            </dict>
            <key>nq_atk(1)_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,515},{54,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,43}}</string>
                <key>sourceSize</key>
                <string>{54,43}</string>
            </dict>
            <key>nq_atk(1)_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,132},{118,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,28}}</string>
                <key>sourceSize</key>
                <string>{118,28}</string>
            </dict>
            <key>nq_atk(1)_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,88},{118,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,28}}</string>
                <key>sourceSize</key>
                <string>{118,28}</string>
            </dict>
            <key>nq_atk(1)_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,688},{120,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,98}}</string>
                <key>sourceSize</key>
                <string>{120,98}</string>
            </dict>
            <key>nq_atk(1)_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,252},{58,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,115}}</string>
                <key>sourceSize</key>
                <string>{58,115}</string>
            </dict>
            <key>nq_atk(1)_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,954},{95,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,103}}</string>
                <key>sourceSize</key>
                <string>{95,103}</string>
            </dict>
            <key>nq_atk(1)_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,2},{254,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,84}}</string>
                <key>sourceSize</key>
                <string>{254,84}</string>
            </dict>
            <key>nq_atk(1)_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,88},{239,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,42}}</string>
                <key>sourceSize</key>
                <string>{239,42}</string>
            </dict>
            <key>nq_atk(1)_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,46},{244,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,49}}</string>
                <key>sourceSize</key>
                <string>{244,49}</string>
            </dict>
            <key>nq_atk(1)_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{244,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,45}}</string>
                <key>sourceSize</key>
                <string>{244,45}</string>
            </dict>
            <key>nq_atk(1)_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,97},{239,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,40}}</string>
                <key>sourceSize</key>
                <string>{239,40}</string>
            </dict>
            <key>nq_atk(1)_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{190,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,87}}</string>
                <key>sourceSize</key>
                <string>{190,87}</string>
            </dict>
            <key>nq_atk(1)_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,139},{198,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,47}}</string>
                <key>sourceSize</key>
                <string>{198,47}</string>
            </dict>
            <key>nq_atk(1)_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,289},{183,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,42}}</string>
                <key>sourceSize</key>
                <string>{183,42}</string>
            </dict>
            <key>nq_atk(1)_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,378},{184,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,41}}</string>
                <key>sourceSize</key>
                <string>{184,41}</string>
            </dict>
            <key>nq_atk(1)_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,821},{179,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,40}}</string>
                <key>sourceSize</key>
                <string>{179,40}</string>
            </dict>
            <key>nq_atk(1)_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,732},{175,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,41}}</string>
                <key>sourceSize</key>
                <string>{175,41}</string>
            </dict>
            <key>nq_atk(1)_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,474},{176,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,42}}</string>
                <key>sourceSize</key>
                <string>{176,42}</string>
            </dict>
            <key>nq_atk(1)_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,104},{183,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,42}}</string>
                <key>sourceSize</key>
                <string>{183,42}</string>
            </dict>
            <key>nq_atk(1)_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{250,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,42}}</string>
                <key>sourceSize</key>
                <string>{250,42}</string>
            </dict>
            <key>nq_atk(1)_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,42}}</string>
                <key>sourceSize</key>
                <string>{256,42}</string>
            </dict>
            <key>nq_atk(1)_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{255,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,42}}</string>
                <key>sourceSize</key>
                <string>{255,42}</string>
            </dict>
            <key>nq_atk(1)_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,2},{249,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,41}}</string>
                <key>sourceSize</key>
                <string>{249,41}</string>
            </dict>
            <key>nq_atk(1)_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,45},{245,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,57}}</string>
                <key>sourceSize</key>
                <string>{245,57}</string>
            </dict>
            <key>nq_atk_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,590},{180,172}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{180,172}}</string>
                <key>sourceSize</key>
                <string>{182,172}</string>
            </dict>
            <key>nq_atk_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{224,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,156}}</string>
                <key>sourceSize</key>
                <string>{224,156}</string>
            </dict>
            <key>nq_atk_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,174},{200,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,153}}</string>
                <key>sourceSize</key>
                <string>{200,153}</string>
            </dict>
            <key>nq_atk_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,421},{182,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,153}}</string>
                <key>sourceSize</key>
                <string>{182,153}</string>
            </dict>
            <key>nq_atk_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{172,172}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{182,172}</string>
            </dict>
            <key>nq_atk_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,428},{185,160}}</string>
                <key>offset</key>
                <string>{-30,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,54},{185,160}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>nq_atk_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,258},{185,168}}</string>
                <key>offset</key>
                <string>{-29,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,46},{185,168}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>nq_atk_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{159,172}}</string>
                <key>offset</key>
                <string>{-32,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,42},{159,172}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>nq_atk_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,730},{165,172}}</string>
                <key>offset</key>
                <string>{-16,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,45},{165,172}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>nq_atk_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,764},{167,168}}</string>
                <key>offset</key>
                <string>{5,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,50},{167,168}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>nq_atk_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1047},{163,158}}</string>
                <key>offset</key>
                <string>{28,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,55},{163,158}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>nq_atk_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1207},{139,148}}</string>
                <key>offset</key>
                <string>{50,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,58},{139,148}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>nq_atk_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,139},{207,152}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,53},{207,152}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>nq_atk_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,104},{207,152}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,53},{207,152}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>nq_atk_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,537},{167,176}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,29},{167,176}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>nq_atk_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,293},{133,206}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,0},{133,206}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>nq_atk_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{151,186}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,19},{151,186}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>nq_atk_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,933},{131,158}}</string>
                <key>offset</key>
                <string>{52,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,52},{131,158}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>nq_atk_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1023},{137,156}}</string>
                <key>offset</key>
                <string>{56,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,54},{137,156}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>nq_atk_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1066},{131,154}}</string>
                <key>offset</key>
                <string>{52,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,56},{131,154}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>nq_atk_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,933},{131,152}}</string>
                <key>offset</key>
                <string>{52,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,58},{131,152}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>nq_atk_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1162},{133,154}}</string>
                <key>offset</key>
                <string>{53,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,56},{133,154}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>nq_atk_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,878},{143,166}}</string>
                <key>offset</key>
                <string>{30,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,45},{143,166}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>nq_atk_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1191},{163,156}}</string>
                <key>offset</key>
                <string>{14,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,53},{163,156}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>nq_atk_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,897},{171,148}}</string>
                <key>offset</key>
                <string>{9,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,62},{171,148}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>nq_atk_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1041},{169,148}}</string>
                <key>offset</key>
                <string>{10,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,62},{169,148}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>nq_atk_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,580},{173,148}}</string>
                <key>offset</key>
                <string>{8,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,62},{173,148}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>nq_atk_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,576},{179,150}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,60},{179,150}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>nq_atk_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,428},{179,150}}</string>
                <key>offset</key>
                <string>{4,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,60},{179,150}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>nq_atk_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,728},{171,148}}</string>
                <key>offset</key>
                <string>{9,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,62},{171,148}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>nq_atk_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1066},{155,142}}</string>
                <key>offset</key>
                <string>{38,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,68},{155,142}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>nq_atk_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1210},{149,142}}</string>
                <key>offset</key>
                <string>{35,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,68},{149,142}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>nq_atk_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1199},{149,142}}</string>
                <key>offset</key>
                <string>{36,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,68},{149,142}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>nq_atk_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,788},{107,164}}</string>
                <key>offset</key>
                <string>{18,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,43},{107,164}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
            <key>nq_atk_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,518},{109,168}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,40},{109,168}}</string>
                <key>sourceSize</key>
                <string>{249,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nvqiang_atk.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49b29aef20a5c492664d59de263ba70d$</string>
            <key>textureFileName</key>
            <string>nvqiang_atk.pvr.ccz</string>
        </dict>
    </dict>
</plist>
