<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shouji0000001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{152,252}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{152,252}}</string>
                <key>sourceSize</key>
                <string>{180,258}</string>
            </dict>
            <key>shouji0000004.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{170,210}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,41},{170,210}}</string>
                <key>sourceSize</key>
                <string>{180,258}</string>
            </dict>
            <key>shouji0000005.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,243},{150,230}}</string>
                <key>offset</key>
                <string>{15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,22},{150,230}}</string>
                <key>sourceSize</key>
                <string>{180,258}</string>
            </dict>
            <key>wdj_waist_hit_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,214},{151,217}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{151,217}}</string>
                <key>sourceSize</key>
                <string>{151,253}</string>
            </dict>
            <key>wdj_waist_hit_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{151,239}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{151,239}}</string>
                <key>sourceSize</key>
                <string>{151,253}</string>
            </dict>
            <key>wdj_waist_hit_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,253}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{149,253}}</string>
                <key>sourceSize</key>
                <string>{151,253}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wdj_hit.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08b51a0666139856f389b352005485ef$</string>
            <key>textureFileName</key>
            <string>wdj_hit.pvr.ccz</string>
        </dict>
    </dict>
</plist>
