<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dao000013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{235,98}}</string>
                <key>offset</key>
                <string>{4,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,182},{235,98}}</string>
                <key>sourceSize</key>
                <string>{243,284}</string>
            </dict>
            <key>dao000014.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,256},{225,138}}</string>
                <key>offset</key>
                <string>{-9,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,139},{225,138}}</string>
                <key>sourceSize</key>
                <string>{243,284}</string>
            </dict>
            <key>dao000015.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,555},{169,186}}</string>
                <key>offset</key>
                <string>{-17,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,98},{169,186}}</string>
                <key>sourceSize</key>
                <string>{243,284}</string>
            </dict>
            <key>dao000016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{141,206}}</string>
                <key>offset</key>
                <string>{-23,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,75},{141,206}}</string>
                <key>sourceSize</key>
                <string>{243,284}</string>
            </dict>
            <key>dao000017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{123,226}}</string>
                <key>offset</key>
                <string>{-22,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,51},{123,226}}</string>
                <key>sourceSize</key>
                <string>{243,284}</string>
            </dict>
            <key>dao000018.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,139},{115,230}}</string>
                <key>offset</key>
                <string>{-17,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,42},{115,230}}</string>
                <key>sourceSize</key>
                <string>{243,284}</string>
            </dict>
            <key>dao000019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{139,224}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,43},{139,224}}</string>
                <key>sourceSize</key>
                <string>{243,284}</string>
            </dict>
            <key>dao000020.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,396},{157,214}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,47},{157,214}}</string>
                <key>sourceSize</key>
                <string>{243,284}</string>
            </dict>
            <key>dao000021.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{135,242}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,24},{135,242}}</string>
                <key>sourceSize</key>
                <string>{243,284}</string>
            </dict>
            <key>dao000022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,250}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,0},{127,250}}</string>
                <key>sourceSize</key>
                <string>{243,284}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wdj_getup.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ca9062a0938230cd6122450d87b7b45$</string>
            <key>textureFileName</key>
            <string>wdj_getup.pvr.ccz</string>
        </dict>
    </dict>
</plist>
