<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{50,55}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,55}}</string>
                <key>sourceSize</key>
                <string>{50,63}</string>
            </dict>
            <key>loading (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{42,59}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{42,59}}</string>
                <key>sourceSize</key>
                <string>{50,63}</string>
            </dict>
            <key>loading (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{61,96},{42,57}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{42,57}}</string>
                <key>sourceSize</key>
                <string>{50,63}</string>
            </dict>
            <key>loading (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,61}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{42,61}}</string>
                <key>sourceSize</key>
                <string>{50,63}</string>
            </dict>
            <key>loading (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{61,46},{48,57}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{48,57}}</string>
                <key>sourceSize</key>
                <string>{50,63}</string>
            </dict>
            <key>loading (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{48,57}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{48,57}}</string>
                <key>sourceSize</key>
                <string>{50,63}</string>
            </dict>
            <key>loading (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{42,57}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{42,57}}</string>
                <key>sourceSize</key>
                <string>{50,63}</string>
            </dict>
            <key>loading (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{44,55}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{44,55}}</string>
                <key>sourceSize</key>
                <string>{50,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loadgirl1.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d2b6a7f945beee81b16852aae81bab2$</string>
            <key>textureFileName</key>
            <string>loadgirl1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
