<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wdj_bwq_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,240}}</string>
                <key>sourceSize</key>
                <string>{188,240}</string>
            </dict>
            <key>wdj_bwq_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{188,230}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{188,230}}</string>
                <key>sourceSize</key>
                <string>{188,240}</string>
            </dict>
            <key>wdj_bwq_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{188,214}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{188,214}}</string>
                <key>sourceSize</key>
                <string>{188,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wdj_bwq.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a462cc23e4364a1d9709286cf8859a3e$</string>
            <key>textureFileName</key>
            <string>wdj_bwq.pvr.ccz</string>
        </dict>
    </dict>
</plist>
